<h1>New newsletter_archive</h1>

<% form_for(@newsletter_archive) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email_type_id %><br />
    <%= f.text_field :email_type_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :asso_id %><br />
    <%= f.text_field :asso_id %>
  </p>
  <p>
    <%= f.label :newsletter_id %><br />
    <%= f.text_field :newsletter_id %>
  </p>
  <p>
    <%= f.label :information_id %><br />
    <%= f.text_field :information_id %>
  </p>
  <p>
    <%= f.label :sended %><br />
    <%= f.check_box :sended %>
  </p>
  <p>
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', newsletter_archives_path %>