<%# @newsletter%>
<h2><%= l(:details_edizione) %></h2>
In questa pagina:
<ul>
  <li>La newsletter vera e propria</li>
  <li>AZIONE: ritorno a la lista edizioni</li>
  <li>LINK: ai articoli</li>
  <li>LINK: alle sezioni</li>
</ul>
<div style=" border: dotted 2px #add8e6 ; ">
  ID: <%= @id %>
  PROJECT: <%= @project %>
  NUM.ART:<%= @art.count %>
</div>

<!--
<style type="text/css">
  table, table tr td {
      border-collapse: collapse!important;
      border-spacing: 0!important;
      border-color: #ffffff;
      border: 0!important;
      margin: 0!important;
  }

</style>
 -->
<table border="1">
  <tr>
    <td><b>Column 1</b></td>
    <td><b>Column 2</b></td>
  </tr>
  <tr>
    <td rowspan="2">Row 1 Cell 1</td>
    <td>Row 1 Cell 2</td>
  </tr>
  <tr>
    <td>Row 2 Cell 2</td>

  </tr>
  <tr>
    <td colspan="2">Row 3 Cell 1</td>
  </tr>
</table>
<% ancora ="" %>

<!-- inizio sezione loop articoli -->
<% @art.each do |articolo| %>
    <% ancora = h(truncate(articolo.subject, :length => 20).to_slug) %>
    <table width="612" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="612" align="center" valign="top" bgcolor="#f4f4f4" style="border-top:1px solid #cccccc; border-bottom:1px solid #cccccc;">
          <!-- inizio tabella contenuti -->
          <table width="594" border="0" cellpadding="0" cellspacing="9">
            <tr>
              <!-- sotto: immagine sx -->
              <td width="120" align="left" valign="top" rowspan="2">
                <%= if articolo.immagine_url.nil?
                      if FileTest.exist?("#{RAILS_ROOT}/public/images/commons/sections/#{articolo.top_section.immagine}")
                        image_tag("/images/commons/sections/#{articolo.top_section.immagine}", :width => 120 , :id => ancora)
                      else
                        image_tag("/images/commons/sections/no-img.jpg", :width => 120 , :id => ancora)
                      end
                    else
                      image_tag(articolo.immagine_url, :id => ancora, :alt => h(truncate(articolo.subject, :length => 25)))
                    end
                %>
              </td>
              <!-- titolo  -->
              <td width="470" align="left" valign="top">
                <font style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#003548; text-align: justify;">
                  <strong> <%= articolo.subject %>
                  </strong> </font><br/>
              </td>
            </tr>
            <tr>
              <!--  riga autore  -->
              <td width="470" align="right" valign="top">
                <font style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333; line-height:15px; text-decoration: underline; font-style: italic;">
                  <strong> <%= image_tag("/images/ico/pen24.png", :border => 0) %> <%= articolo.author %> </strong>
                </font>
              </td>
            </tr>
            <tr>
              <!-- riga riassunto -->
              <td width="580" colspan="2">
                <font style="font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#000000; line-height:18px; ">
                  <%= articolo.summary %>
                </font><br/>
              </td>
            </tr>
          </table>
          <!--fine tabella contenuti -->
          <!-- pulsante vedi -->
          <table width="580" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="580" height="33" align="right" valign="top">
                <%= image_tag("/images/commons/btn_news_y.gif", :width => 107, :height => 29, :alt => 'vedi articolo') %>

              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td width="612" height="13"></td>
      </tr>
    </table>
<% end %>
<!-- fine sezione loop articoli -->