<h1>New cross_group</h1>

<% form_for(@cross_group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :asso_id %><br />
    <%= f.text_field :asso_id %>
  </p>
  <p>
    <%= f.label :group_banner_id %><br />
    <%= f.text_field :group_banner_id %>
  </p>
  <p>
    <%= f.label :se_visibile %><br />
    <%= f.check_box :se_visibile %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', cross_groups_path %>