<p>
  <b>asso_id:</b>
  <%=h @cross_group.asso_id %>
</p>

<p>
  <b>group_banner_id:</b>
  <%=h @cross_group.group_banner_id %>
</p>

<p>
  <b>se_visibile:</b>
  <%=h @cross_group.se_visibile %>
</p>


<%= link_to 'Edit', edit_cross_group_path(@cross_group) %> |
<%= link_to 'Back', cross_groups_path %>