<%= f.error_messages %>
<h1><%= @user_id.to_s %></h1>
<% if @invoices && @invoices.count > 0 %>
    <div class="invoices-table">
      <% if @invoices.any? %>
          <table class="list invoices">
            <thead>
            <tr>
              <%= sort_header_tag('id', :caption => l(:field_id), :style => 'width: 15%; text-align:center;') %>
              <%= sort_header_tag('numero_fattura', :caption => l(:label_numero_fattura_abbr), :style => 'width: 15%; text-align:center;') %>
              <%= sort_header_tag('data_fattura', :caption => l(:label_data_fattura), :style => 'width: 15%; text-align:center') %>
              <%= sort_header_tag('anno', :caption => l(:label_anno), :style => 'width: 15%;  text-align:center') %>

            </tr>
            </thead>
            <tbody>
            <% @invoices.each do |invoice| %>
                <tr class="<%= cycle 'odd', 'even' %>">
                  <td align="center"><%= link_to h(invoice.id.to_s), invoice_path(invoice, :user_id => invoice.user_id, :convention_id => invoice.convention_id) %></td>
                  <td align="center"><%= link_to h(invoice.numero_fattura), invoice_path(invoice, :user_id => invoice.user_id, :convention_id => invoice.convention_id) %></td>
                  <td align="center"><%= format_date(invoice.data_fattura) %></td>
                  <td align="center"><%= h invoice.anno %></td>
                </tr>
            <% end %>
            </table>
      <% else %>
          <p class="nodata"><%= l(:label_no_data) %></p>
      <% end %>
      <p class="pagination"><%= pagination_links_full @invoices_pages, @invoices_count %></p>
    </div>

<% end %>
<div class="invoices-box-ext">
  <div class="tabular invoices-box">
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :convention_id %>

    <p><span style="font-weight: bold;">

    <% if @invoice.new_record? %>
        <span class="mini-legend" style="color:#505050;"> *Nelle textbox lasciare il layout preimpostato se necessario modificare solo il testo (meglio in html per rispettare i tags) </span>
        <br/>
          <%= link_to "cambia", invoice_receiver_path %>
        <% else %>
        <span class="mini-legend" style="color:#505050;"> *Attenzione alle modifiche la fattura è già stata compilata salvata. Nelle textbox modificare se necessario solo il testo in html per rispettare i tags. </span>
    <br/>
          <%= link_to "cambia", invoice_receiver_path(:id => @invoice.id) %>
    <% end %>

    </span>
      <%= raw f.text_area :destinatario,
                          :label => (:label_destinatario),
                          :value => @invoice.destinatario %>  </p>


    <p>  <%= raw f.text_area :contatto,
                             :label => (:label_contact),
                             :value => @invoice.contatto %>  </p>

    <div style="padding:3% 0;">
      <!--
    <p style="text-align: right;">

      <% unless @invoice.numero_fattura.blank? %>
          <span style="font-size: 0.8em; font-style: italic; font-weight: bold;"> *suggerimento: fattura <%= @invoice.numero_fattura %>
            [<%= @invoice.anno %>]</span>
      <% end %></p>
      -->
      <p>
        <%= f.text_field :numero_fattura, :label => :field_numero_fattura, :size => 5, :required => true %>

      </p>

      <p><%= f.date_select :data_fattura, :label => :field_data_fattura, :required => true %></p>

      <p><%= f.text_field :tariffa, :label => :field_tariffa, :precision => 2 , :size => 5, :required => true %></p>

      <p><%= f.text_field :sconto, :label => :field_sconto, :precision => 2 ,:size => 5 %></p>

      <p><%= f.text_field :iva, :value => @invoice.iva.to_s, :label => :field_iva, :precision => 2 ,:size => 5, :required => true %></p>

      <p>
        <%= f.select :payment_id, options_for_select(Payment.all.collect { |pay| [pay.name, pay.id] }, (@invoices[0].payment_id if (@invoices && @invoices.count > 0))), {:disabled => false, :include_blank => false, :required => true} %>
      </p>

      <p><%= f.text_field :anno, :label => :field_anno, :value => @invoice.anno.to_s, :size => 5 %></p>

      <p><%= f.text_field :sezione, :value => (@invoices[0].sezione.to_s if (@invoices && @invoices.count > 0)), :label => :field_sezione, :size => 5 %></p>
    </div>
    <br />
  </div>
  <div class="cleared"></div>
</div>


<div class="cleared"></div>
<script type="text/javascript">
    CKEDITOR.replace('invoice_destinatario', { toolbar: 'Mini', height: 80, width: 440 });
    CKEDITOR.replace('invoice_contatto', { toolbar: 'Mini', height: 80, width: 440 });
</script>
