<%= f.error_messages %>

<div class="box tabular">
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :convention_id %>
  <%# f.hidden_field :mittente, :value =>  Setting.default_invoices_header  %>

  <p><span style="font-weight: bold;">

    <% if @invoice.new_record? %>
           <%= link_to " < cambia", invoice_receiver_path %>
        <span class="mini-legend" style="color:firebrick;"> *Nelle textbox lasciare il layout preimpostato se necessario modificare solo il testo (meglio in html per rispettare i tags) </span>

        <% else %>
        <%= link_to " < cambia", invoice_receiver_path(:id => @invoice.id) %>
        <span class="mini-legend" style="color:firebrick;"> *Attenzione alle modifiche la fattura è già stata compilata salvata. Nelle textbox modificare se necessario solo il testo in html per rispettare i tags. </span>
        <% end %>

    </span>
    <%= raw f.text_area :destinatario,
                        :label => (:label_destinatario),
                        :value => @invoice.destinatario %>  </p>


  <p>  <%= raw f.text_area :contatto,
                        :label => (:label_contact),
                        :value => @invoice.contatto %>  </p>

 <div style="padding:3% 0; background-color: #EAECF6; border:solid 1px #fbec88" >
  <p>
  <%= f.text_field :numero_fattura, :label => :field_numero_fattura, :size => 5, :required => true %>
    <% unless @invoice.numero_fattura.blank? %>
        prossima fattura: <%= @invoice.numero_fattura %> [<%= @invoice.anno %>]
    <% end %>
  </p>

<% if @invoices && @invoices.count > 0 %>
  <table style="float: right; margin: -30px 30px 0 0; border: dotted 1px #a9a9a9 ">
    <thead>
    <th>numero</th>
    <th>data</th>
    </thead>
    <tbody>
    <tr>
      <td align="center" colspan="2" style="font-size: 0.8em;"> Ultime 5 fatture</td>
    </tr>
    <% @invoices.each do |i| %>
        <tr>
          <td> <%= link_to i.numero_fiscale, edit_invoice_path(i) %></td>
          <td> <%= I18n.localize(i.data_fattura.to_date, :format => :giorno_mese_anno) unless i.data_fattura.blank? %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

  <p><%= f.date_select :data_fattura, :label => :field_data_fattura, :required => true %></p>

  <p><%= f.text_field :tariffa, :label => :field_tariffa, :size => 5, :required => true %></p>

  <p><%= f.text_field :sconto, :label => :field_sconto, :size => 5 %></p>

  <p><%= f.text_field :iva, :value => @invoice.iva.to_s, :label => :field_iva, :size => 5, :required => true %></p>

  <p>
    <%= f.select :payment_id, options_for_select(Payment.all.collect { |pay| [pay.name, pay.id] }, (@invoices[0].payment_id if (@invoices && @invoices.count > 0))), {:disabled => false, :include_blank => false, :required => true} %>
  </p>

  <p><%= f.text_field :anno, :label => :field_anno, :value => @invoice.anno.to_s, :size => 5 %></p>

  <p><%= f.text_field :sezione, :value => ( @invoices[0].sezione.to_s if (@invoices && @invoices.count > 0)), :label => :field_sezione, :size => 5 %></p>
</div>

</div>
<!--

<div class="box tabular">
  <p>
    <%= raw f.text_area :mittente,
                        :label => (:label_mittente),
                        :value => @invoice.mittente %>  </p>

  <p>
    <%= raw f.text_area :footer,
                        :label => (:label_footer),
                        :value => @invoice.footer %>  </p>
</div>
-->
<script type="text/javascript">
    CKEDITOR.replace('invoice_destinatario', { toolbar: 'Mini', height: 120, width: 540 });
    CKEDITOR.replace('invoice_contatto', { toolbar: 'Mini', height: 80, width: 540 });
 // CKEDITOR.replace('invoice_footer', { toolbar: 'Mini', height: 200, width: 450 });
//    CKEDITOR.replace('invoice_mittente', { toolbar: 'Mini', height: 200, width: 450 });
</script>
