<div class="contextual">
  <%= link_to l(:label_invoice_new), invoice_receiver_path, :class => 'icon icon-add' %>
</div>
<h3 style="color: #ffffff; border: none;" class="gradient-dx-blu"><%= l(:label_users) %></h3>
<% form_tag({}, :method => :get) do %>
    <fieldset>
      <legend><%= l(:label_filter_plural) %></legend>
      <label for='status'><%= l(:field_status) %>:</label>
      <%= select_tag 'status', users_status_options_for_select(@status), :class => "small", :onchange => "this.form.submit(); return false;" %>

      <label for='name'><%= l(:label_user) %>:</label>
      <% if @invid %>
          <%= hidden_field_tag 'id', params[:id] %>
      <% end %>
      <%= text_field_tag 'name', params[:name], :size => 30 %>
      <%= submit_tag l(:button_apply), :class => "small", :name => nil %>
      <%= link_to l(:button_clear), invoices_path, :class => 'icon icon-reload' %>
    </fieldset>
<% end %>
&nbsp;

<% if @invoices.any? %>
    <table class="list invoices">
      <thead>
      <tr>
        <%= sort_header_tag('numero_fattura', :caption => l(:label_numero_fattura_abbr), :style => 'width: 15%; text-align:center;') %>
        <%= sort_header_tag('user', :caption => l(:label_destinatario), :style => 'width: 25%; text-align:center;') %>
        <%= sort_header_tag('convention', :caption => l(:field_convention), :style => 'width: 25%;text-align:center;') %>
        <%= sort_header_tag('data_fattura', :caption => l(:label_data_fattura), :style => 'width: 15%; text-align:center') %>
        <%= sort_header_tag('anno', :caption => l(:label_anno), :style => 'width: 15%;  text-align:center') %>
        <th style='width: 5%;'></th>
        <th style='width: 5%;'></th>
        <th style='width: 5%;'></th>
      </tr>
      </thead>
      <tbody>
      <% @invoices.each do |invoice| %>
          <tr class="<%= cycle 'odd', 'even' %>">
            <td align="center"><%= link_to h(invoice.numero_fattura), invoice_path(invoice, :user_id => invoice.user_id, :convention_id => invoice.convention_id) %></td>
            <% if  invoice.user.nil? && invoice.convention.nil? %>
                <td align="left"><%= link_to "Utente mancante ?", invoice_receiver_path(:id => invoice.id) %></td>
                <td align="left"><%= link_to "Convenzione mancante ?", invoice_receiver_path(:id => invoice.id) %></td>
            <% else %>
                <td align="left"><%= link_to h(invoice.user), user_path(invoice.user, :id => invoice.user_id) %></td>
                <td align="left"><%= link_to h(invoice.convention), conventions_path(invoice.convention, :id => invoice.convention_id) %></td>
            <% end %>
            <td align="center"><%= format_date(invoice.data_fattura) %></td>
            <td align="center"><%= h invoice.anno %></td>
            <td class="buttons"><%= link_to('', invoice_path(invoice.id), :target => '_blank', :class => 'icon icon-preview') %></td>
             <td class="buttons"><%= link_to('', edit_invoice_path(invoice), :class => 'icon icon-edit') if User.current.admin? %></td>
            <td class="buttons"><%= link_to('', invoice, :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del') if User.current.admin? %></td>
          </tr>
      <% end %>
      </table>

    <p class="pagination"><%= pagination_links_full @invoice_pages, @invoice_count %></p>

<% else %>
    <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
