<h2><%= link_to l(:label_invoice), invoices_path %> &#187; <%= h(@invoice) %></h2>
<style type="text/css">

    #ipage {
        position: relative;
        height: 100%;
        width: 90%;
        padding: 2%;
        margin-left: -3% ;
        -webkit-box-shadow: 1px 6px 22px rgba(50, 50, 50, 1);
        -moz-box-shadow: 1px 6px 22px rgba(50, 50, 50, 1);
        box-shadow: 1px 6px 22px rgba(50, 50, 50, 1);
        }

    #iwrapper {
        position: relative;
        height: 100%;
        margin: 0 auto;
        padding: 1% 5% 3%;
        width: 100%;
     }


</style>
<div id="iwrapper">
  <div id="ipage">
    <%= render :partial => "show_invoice_html" %>
  </div>
</div>
<div class='btn-footer'>
  <%= link_to l(:button_issue_empty), edit_invoice_path(@invoice), :class => 'button-grey' %>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to l(:label_create_pdf), invoice_download_pdf_path(@invoice.id), :class => 'button-blu', :target => '_blank' %>
  <% unless  @file_pdf.nil? %>
      <p id="pdf_link"><%= link_to "show me not nill  Invoice (PDF)", @file_pdf %></p>
  <% end %>
</div>

