<h2><%=l(:list_top_sezioni)%></h2>
  In questa pagina:
  <ul> 
    <li>Summary e definizione del raggruppamento del top menu</li>
    <li>Lista delle top section associate</li>
    <li>Ciascuna top_section ha una lista di section</li>
    <li>Ciascun section ha una lista articoli</li>
  </ul> 
<h3> id = <%= @id %> </h3>
<div id="fs_informa" class="nodata"><p>
  <%= @top_menu  %><br />
  <%= @top_sections.count %><br />
</p></div>
<br />
<div class="fs-post-inner fs-article">
    <div class="fs-postcontent">
        <div class="fs-content-layout-wrapper layout-item-0">
            <div class="fs-content-layout">
                <div class="fs-content-layout-row">
                    <div class="fs-layout-cell layout-item-1">

                        <% @contenuti.each do |articolo| %>
                          <div class="art-contenitore">

                        <h5 class="fs-postheader" > <%= articolo.titolo %>  </h5>
                      <div class="fs-postheadericons ">
                      <%= articolo.top_section  %> (<%= articolo.section.top_section.id  %>)<br />
                      <%= articolo.section  %> (<%= articolo.section.id  %>)<br />
                       <br />
                      Numero di articoli della sezione <%= articolo.section.issues.count  %> <br />
                        <%# avatar articolo.author_id, :size => "50" %> <%=h articolo.author %>
                      </div>
                        <br />
                      <div class="fs-postcontent" >   <%= articolo.riassunto %>
                      </div>

                              <span class="fs-button-wrapper">
                              <span class="fs-button-l"> </span>
                              <span class="fs-button-r"> </span>
                                      <%= link_to "Leggi >>> " ,  { :controller => 'issues', :action => 'show', :id => articolo.id }, :class => "fs-button" %>
                            </span>
                            <br /></div>
                        <% end %>
                    </div>
                 </div>
            </div>
        </div>

            <div class="fs-content-layout-wrapper layout-item-0">
                <div class="fs-content-layout">
                    <div class="fs-content-layout-row">
                        <div class="fs-layout-cell layout-item-1" style="width: 50%;">
                <p><br /></p>
            </div><div class="fs-layout-cell layout-item-1" style="width: 50%;">
                <p><br /></p>
            </div>
            </div>
        </div>
        </div>
    </div>
 <div class="cleared"></div>
</div>

