<h1 style="display:none">__PARTIAL ARTICOLO TEASER</h1>

    <div class="fs-postcontent fs-postcontent-0 clearfix">
      <div class="fs-content-layout">
        <div class="fs-content-layout-row">
          <div class="fs-layout-cell layout-item-0" style="width: 100%">
            <h4 style="border-bottom: 1px dotted #A8ADB8; padding-bottom: 5px">
              <%= link_to (h(truncate(articolo.titolo, :length => 50)),
                           url_for(:controller => 'editorial', :action => "articolo", :topmenu_key => articolo.section.top_section.top_menu.key, :topsection_key => articolo.section.top_section.key, :article_id => articolo.id.to_s,:article_slug => h(truncate(articolo.titolo, :length => 125).to_slug) , :escape => false))
              %>
            </h4>
            <span style="color:#ffffff;" class="fs-sections">
            <%= articolo.top_section %> :: <%= articolo.section %>
          </span>
            <br/>
            <%# articolo.section.issues.count %>
            <span class="fs-postauthoricon">
            Autore:<%= h articolo.author %>
          </span>
            <br/>
            <%= articolo.riassunto %>
            <br/>
            <%= link_to "Continua... ", url_for(:controller => 'editorial', :action => "articolo", :topmenu_key => articolo.section.top_section.top_menu.key, :topsection_key => articolo.section.top_section.key, :article_id => articolo.id.to_s, :article_slug => h(truncate(articolo.titolo, :length => 125).to_slug) , :escape => false)%>
          </div>
        </div>
      </div>
    </div>
