<h1 style="display:none">__PARTIAL <%= @base_url %>/////<%= @article_id %> ARTICOLI</h1>
<div class="fs-layout-cell fs-content clearfix">
  <nav class="art-nav clearfix">
       <%= render_navigation(:level => 2) %>
     </nav>
  <article class="fs-post fs-article">
    <% @issues.each do |articolo| %>
        <%= render :partial => 'articolo_teaser', :locals => {:articolo => articolo} %>
        <br/>
    <% end %>
  </article>
  <br/>
  <p class="pagination"><%= pagination_links_full(@issues_pages, @issues_count) %></p>
  <br/>
</div>
<%#sidebar a  destra %>
<%= render :partial => 'blocco_sidebar1' %>
<%#sidebar a destra %>
<%# render :partial => 'blocco_sidebar2' %>
