<% if articolo %>
    <div id="fb-root"></div>
    <script src='http://connect.facebook.net/en_US/all.js'></script>
    <script>
        // app_id on fb :
        // fiscosport.it = 257254957785307
        //localhost:3000 = 615981538449222
        FB.init({appId:"257254957785307", status:true, cookie:true});

        function postToFeed() {
            // calling the API ...
            var obj = {
                method:"feed",
                redirect_uri:"<%= link_to_articolo(articolo, :only_path => false).to_s %>",
                link:"<%= link_to_articolo(articolo, :only_path => false).to_s %>",
                picture:"<%= Setting.host_name.to_s + '/images/' + art_image(articolo, :l) %>",
                name:"<%= sanitize(articolo.subject.gsub('"','\'').gsub(/[^0-9A-Za-z ]/,'' )) %>",
                caption:"",
                description:"<%=  sanitize(smart_truncate(articolo.summary, 220).tr('"','\'')) %>"
            };
            FB.ui(obj);
        }
    </script>

    <div class="fs-postmetadataheader">
      <div class="fs-art-sezione-full"><span>&nbsp;<%= articolo.section.full_name %></span>
        <div class="fs-tts">
        <img src="/images/ico/tts.png" alt="Ascolta questo testo" title="Ascolta questo testo" onclick="return speak('tts-txt0-<%= articolo.id.to_s %>' ,'tts-txt1-<%= articolo.id.to_s %>','tts-txt2-<%= articolo.id.to_s %>');"/>
      </div>
        <div class="fs-art-full-date">
          <%= I18n.localize(articolo.due_date.to_date, :format => :data_articolo) %>
        </div>
      </div>
     <!--
      <div class="fs-tts"><img src="/images/ico/tts.png" alt="Ascolta questo testo" title="Ascolta questo testo" onclick="return speak('tts-txt2-<%= articolo.id.to_s %>');"/></div>
      -->
    <div class="fs-postheader-full" id='tts-txt0-<%= articolo.id.to_s %>'>  <%= articolo.subject %>  </div>
    </div>
    <div style="width:100%;">
      <div class="fs-image-caption-wrapper-full">
        <%= image_tag art_image(articolo, :l) %>
      </div>
      <div class="fs-content fs-riassunto-full">
        <% if articolo.hide_summary? == false %>
            <p id='tts-txt1-<%= articolo.id.to_s %>'>
              <%= raw(articolo.summary).html_safe %>
            </p>
        <% end %>

        <div class="fs-postmetadata-full">
          <div class="fs-author">
            <% if !articolo.author.nil? && !articolo.author.user_profile.nil? %>
                <span><%= link_to articolo.author.my_avatar(:s), profile_show_path(articolo.author.user_profile) %> </span><span style="padding-left:10px;"> <%= h articolo.author %>
            <div class="fs-postmetadatafooter-author-qualifica"><%= articolo.author.user_profile.fs_qualifica unless articolo.author.user_profile.fs_qualifica.nil? %>  </div>
                    </span>
            <% else %>
                <span style="width: 32px;">Di:</span><span>  <%= h articolo.author %> </span>
            <% end %>
          </div>

          <div class='fs-social'>
            <div class="fb_share_button">
              <div class="fb_share_buttonIcon">
                <button onclick="postToFeed();">Condividi</button>
              </div>
            </div>
            <div class='fs-social-tw '>
              <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="fiscosport">Tweet</a>
              <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
            </div>
            <div class='fs-social-gp '>
              <div class="g-plusone" data-size="medium" data-recommendations="false">
                <!-- Place this tag after the last +1 button tag. -->
                <script type="text/javascript">
                    window.___gcfg = {lang:'it'};
                    (function () {
                        var po = document.createElement('script');
                        po.type = 'text/javascript';
                        po.async = true;
                        po.src = 'https://apis.google.com/js/plusone.js';
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(po, s);
                    })();
                </script>
              </div>
            </div>
            <div class="fs-resize-box">
              <%= link_to_function(image_tag('ico/printer-icon.png'), "javascript:print()") %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix">&nbsp; <br/></div>
    <div class="fs-layout-cell layout-item-1">
      <div class="fs-content fs-articolo-full">
        <%= raw(articolo.description) %>
        <br/>
      </div>
      <!--
      <div id='tts-txt2-<%= articolo.id.to_s %>' class="fs-tts-strip_tags">
        <%#  smart_truncate(strip_tags(articolo.description).gsub(/[^0-9A-Za-z \/\.,:;&']/,'' ).gsub("&39;",'\'' ),1400) %>
      </div>   -->
    </div>
    <div class="fs-attachments">
      <%= link_to_fs_attachments(articolo, :author => false) %>
    </div>
    <div class="fs-articolo-full-bottom">

      <%= link_to "Ritorna...", :back, :class => "fs-vuoto-inline-button", :style => "float:none;", :id => "btn" %>

    </div>
    <% if  !@quesito.nil? %>
        <h4>L'articolo è stato ispirato da...</h4>
        <%= render :partial => 'quesito', :locals => {:q => @quesito} %>
    <% end %>

<% else %>
    <br/>
    <p class="nodata"><%= l(:label_no_data) %></p>
    <br/>
<% end %>
