<div class="fs-layout-cell fs-content clearfix">
  <% if @issues && @issues.any? %>
    <% @issues.each do |articolo| %>
        <!-- qui è l'inserimento dell'articolo -->
        <ARTICLE class="fs-post fs-article">
          <% if articolo %>
              <div class="fs-postmetadataheader">
                <% if articolo.se_protetto %>
                  <span class="fs-art-sezione fs-art-sez-ko fs-art-ko">&nbsp;<%= articolo.top_section %>&nbsp;::&nbsp;<%= articolo.section %></span>
                <span class="fs-postdateicon fs-art-ko" style="float:right;"><%= I18n.localize(articolo.due_date.to_date, :format => :mese_anno) %></span>
               <% else	  %>
                    <span class="fs-art-sezione fs-art-sez-ok fs-art-ok">&nbsp;<%= articolo.top_section %>&nbsp;::&nbsp;<%= articolo.section %></span>
                  <span class="fs-postdateicon fs-art-ok" style="float:right;"><%= I18n.localize(articolo.due_date.to_date, :format => :mese_anno) %></span>

                    <%end%>
                <h5 class="fs-postheader">
                  <%=   link_to_articolo(articolo, :title=> articolo.subject ) %>
                </h5>
              </div>
              <div class="fs-postcontent fs-postcontent-0 clearfix">
                <div class="fs-content-layout-wrapper layout-item-0">
                  <div class="fs-image-caption-wrapper">
                    <div class="fs-image-caption-wrapper-img">
                      <%= image_tag art_image(articolo, :m) %>
                      <% if articolo.se_protetto %>
                          <div class="fs-postmetadatafooter-author-ko">
                            <div class="fs-postmetadatafooter-author">
                             <% if !articolo.author.nil? && !articolo.author.user_profile.nil? %>
                                  <span><%= link_to  articolo.author.user_profile.my_avatar(:xs), profile_show_path(articolo.author.user_profile)   %> </span>
                              <% else %>
                                  <span style="width: 32px;">Di:</span>
                              <% end %>
                              <span class="fs-postmetadatafooter-author-txt"> <%= h articolo.author %></span>
                            </div>
                            <% if !articolo.author.nil? && !articolo.author.user_profile.nil? %>
                                <div class="fs-postmetadatafooter-author-qualifica"><%= articolo.author.user_profile.fs_qualifica unless articolo.author.user_profile.fs_qualifica.nil? %>  </div>
                            <% end %>
                          </div>
                          <div class="fs-postmetadatafooter-status fs-art-ko">articolo riservato agli abbonati</div>
                      <% else %>
                          <div class="fs-postmetadatafooter-author-ok">
                            <div class="fs-postmetadatafooter-author">
                              <% if !articolo.author.nil? && !articolo.author.user_profile.nil? %>
                                  <span><%= link_to articolo.author.user_profile.my_avatar(:xs), profile_show_path(articolo.author.user_profile) %> </span>
                              <% else %>
                                  <span style="width: 32px;">Di:</span>
                              <% end %>
                              <span class="fs-postmetadatafooter-author-txt"> <%= h articolo.author %></span>
                            </div>
                            <% if !articolo.author.nil? && !articolo.author.user_profile.nil? %>
                                <div class="fs-postmetadatafooter-author-qualifica"><%= articolo.author.user_profile.fs_qualifica unless articolo.author.user_profile.fs_qualifica.nil? %>  </div>
                            <% end %>
                          </div>
                          <div class="fs-postmetadatafooter-status fs-art-ok">articolo consultabile liberamente</div>
                      <% end %>
                    </div>
                  </div>
                  <%= raw(articolo.summary) %>

                </div>
                       </div>
                  <p class="fs-art-bottom-right">
                    <% unless articolo.se_protetto %>
                    <%= link_to_articolo(articolo, :title => 'Continua ...', :class => "fs-blu-button") %></p>
                        <%	 else %>
                        <%= link_to_articolo(articolo, :title => 'Continua ...', :class => "fs-rosso-button") %></p>
                    <% end %>

          <% else %>
              <br/>
              <p class="nodata"><%= l(:label_no_data) %></p>
              <br/>
          <% end %>
        </ARTICLE> &nbsp; <br/>
        <%# render :partial => 'articolo_teaser', :locals => {:articolo => articolo} %>
        <br/>
    <% end %>
    <br/>
      <% if request.url.match('/edizion').nil? %>
    <p class="pagination"><%= pagination_links_full(@issues_pages, @issues_count, {}, true) %></p>
         <%	 end %>
    <br/>

  <% else %>
    <br/>

    <p class="nodata"><%= l(:label_no_data) %></p>
    <br/>
  <% end %>
  <div class="clearfix"></div>
</div>