<h1 style="display:none">__PARTIAL <%= @base_url %>/////<%= @article_id %> ARTICOLI</h1>

<div class="fs-layout-cell fs-content clearfix">

  <p class="pagination"><%= pagination_links_full(@issues_pages, @issues_count) %></p>
  <h5 style="background-color: yellow;">Debug:  questo è il controller e la vista :top_menu, render parziali:articoli +articolo_teaser . <br /> Questo è menu numero <%=@top_menu.id  %> , esso contiene <%=@topsection_ids.count  %> sezioni e  <%=@issues_count  %> articoli. </h5>
  <article class="fs-post fs-article">
    <% @issues.each do |articolo| %>


      <%= render :partial => 'articolo_teaser', :locals => {:articolo => articolo} %>
      <br/>
    <% end %>
  </article>
  <br/>
  <p class="pagination"><%= pagination_links(@issues_pages, :link_to_current_page => false, :url => home_path) %></p>
  <br/>
  <div class="clearfix"></div>
</div>
<!--
pagination_links_full(@issues_pages, @issues_count, {:path_prefix => 'ddddddddd', :use_route => :sezione_page}) %></p>
  <h2><%=l(:list_articoli)%></h2>
  In questa pagina:
  <ul>
    <li>Lista degli articoli</li>
    <li>Filtraggio sul contenuto</li>
    <li>LINK: all'edizione di ciascun articoli</li>
    <li>LINK: alla sezione di ciascun articoli</li>
  </ul>
  <br/>
  <br/>
-->
