<script type="text/javascript">
    $(document).ready(function () {
        $("#accordion-events-contact").accordion({heightStyle:"content", autoHeight:false, active:1 });
    });
    var urlpropose = '<%= propose_evt_path %>';
    function sendmail() {
        $.post(urlpropose, { user_mail:$("#evtmail").val(), body:$("#message").val(), authenticity_token:$("input[name='authenticity_token']").val(), back_url:$('#back_url').val() },
                function (data) {
                    data = data || {};
                    if (data.success) {
                        if (data.response) {
                            js_flash("success", data.response);
                        }
                    } else if (data.errors) {
                        js_flash("error", data.errors);
                    }
                }
        );
    }
</script>
<div class="fs-bar fs-blockheader">
</div>
<div id="accordion-events-contact">
  <div id="fs-events-contact"></div>
  <span>
  <p>
    <% if User.current && User.current.logged? %>
        <%= hidden_field_tag 'evtmail', User.current.mail %>
    <% else %>
        <%= text_field_tag 'evtmail', "", :placeholder => "La tua mail...", :size => 100 %>
    <% end %>
  </p>
    <%= text_area_tag 'message', "", :placeholder => "scrivi un messaggio qui ...", :cols => 32, :rows => 10 %>
    <br/>
  <p style="margin-top: 3px; margin-right: 30px; height: 30px;">  <%= submit_tag "invia", :class => "fs-vuoto-inline-button", :onclick => "sendmail();" %></p>
   <div id='user-response'></div>
  </span>
</div>
<div class="cleared"></div>
