<div class="fs-layout-cell fs-sidebar1 clearfix">
  <%= render :partial => 'blocco_informa' %>
  <% unless @topsection.nil? && @top_menu.nil? %>
      <%= render :partial => 'blocco_quick_search' %>
  <% end %>
  <% unless request.url.match('/event').nil? %>
      <%= render :partial => 'blocco_eventi_contact_me' %>
      <% unless @conv_prossimo.nil? %>
          <%= render :partial => 'blocco_eventi' %>
      <% end %>
  <% end %>
  <%=   render :partial => 'blocco_banners_l' %>
  <% unless @block_projects.nil? %>
      <%= render :partial => 'blocco_edizioni' %>
  <% end %>
  <%# render :partial =>  'blocco_ricerca' %>
  <%# render :partial => 'blocco_banners1' %>
  <%# render :partial => 'blocco_account' %>
  <% unless @articolo.nil? %>
      <%= render :partial => 'blocco_art_evidenziati' %>
  <% end %>

</div>
