<% unless @conv_prossimo.nil? %>
    <div class="fs-block clearfix">
      <div class="fs-blockheader">
        <h3 class="t">Convegni ed Eventi</h3>
      </div>
      <div class="fs-blockcontent" style="margin-top: 5px;">
        <% if @conv_prossimo %>
            <article class="fs-article">
              <div class="fs-convegni-border">
                <div class="fs-convegni-block-data"><span>
                        <%= @conv_prossimo.section %> &nbsp;</span>
                  <span><%= I18n.localize(@conv_prossimo.due_date.to_date, :format => :giorno_mese_anno) %>&nbsp; </span>
                </div>
                <div class="fs-convegni-futuri">
                  <div class="fs-lateral-blocks-head">
                    <%= link_to_articolo(@conv_prossimo, :title => h(@conv_prossimo.subject)) %> </div>
                  <div class="fs-conv-block">
                    <%= image_tag art_image(@conv_prossimo, :s) %>
                    <%= link_to_articolo(@conv_prossimo, :title => h(@conv_prossimo.summary)) %>
                    <%# link_to(h(smart_truncate(@conv_prossimo.summary, 120)), :controller => 'editorial', :action => "evento", :articolo_id => @conv_prossimo.id, :escape => false) %>
                  </div>
                  <div class="clearfix"></div>
                  <%= link_to_articolo(@conv_prossimo, :title =>  "Visualizza... ", :class => "fs-vuoto-inline-button") %>
                  <br/>&nbsp;<br/>
                </div>
              </div>
            </article>
        <% end %>
        <% if @conv_futuri %>
            <article class="fs-article">
              <% @conv_futuri.each do |con| %>
                  <div class="fs-convegni-border">
                    <div class="fs-convegni-block2-data"><span>
                  <%= con.section %> &nbsp;</span>
                      <span><%= I18n.localize(con.due_date.to_date, :format => :giorno_mese_anno) %>&nbsp; </span>
                    </div>
                    <div class="fs-convegni-futuri">
                      <div class="fs-lateral-blocks-head">
                        <%= link_to_articolo(con, :title => h(con.subject)) %> </div>
                      <div class="fs-conv-block">
                        <%= image_tag art_image(con, :s) %>
                        <%=  link_to_articolo(con, :title => h(smart_truncate(con.summary, 175))) %>
                      </div>
                      <div class="clearfix"></div>
                      <%=  link_to_articolo(con, :title => "Visualizza...", :class => "fs-vuoto-inline-button") %>
                    </div>
                    <br/>&nbsp;<br/>
                  </div>
              <% end %>
            </article>
        <% end %>
      </div>
    </div>
<% end %>