<div class="fs-block clearfix">
<%#
loggin (<%= !User.current.nil? % >)<br />
logged? (<%= User.current.logged? % >)<br />
%>
<% if User.current && User.current.logged? %>
  <div class="fs-blockheader">
    <h3 class="t"><b><%= User.current.name() + " (" + get_status_role(User.current) + ")"  %></b></h3>
  </div>
  <div class="fs-blockcontent">
    <ul>
    <% if User.current && User.current.canbackend? %>
      <li>
        <%= link_to "==Panello di controllo (BE)==", root_path %>
      </li>
      <li>
        <%= link_to l(:label_my_page), :controller => 'my', :action => 'page' %>
      </li>
      <li>
        <%= link_to l(:label_my_account), :controller => 'my', :action => 'account' %>
      </li>
    <% else %>
      <li>
        <%= link_to "==Pagina principale (FE)==", editorial_path %>

      </div>
      <div class="fs-blockcontent">
        <ul>
          <% if User.current && User.current.canbackend? %>
              <li>
                <%= link_to "==Panello di controllo (BE)==", root_path %>
              </li>
              <li>
                <%= link_to l(:label_my_page), :controller => 'my', :action => 'page' %>
              </li>
              <li>
                <%= link_to l(:label_my_account), :controller => 'my', :action => 'account' %>
              </li>
          <% else %>
              <li>
                <%= link_to "==Pagina principale (FE)==", editorial_path %>

        <p id="form-login-remember">
          <label class="fs-checkbox">
            <input type="checkbox" id="modlgn_remember" name="remember" value="yes" alt="Remember Me"/>Remember
            Me
          </label>
        </p>
        <input type="submit" value="Login" name="Submit"/>
      </fieldset>
    <% end %>
    <%= javascript_tag "$('#username').focus();" %>
    <ul>
      <% if Setting.lost_password? %>
      <li>
        <%= link_to l(:label_password_lost), :controller => 'account', :action => 'password_recovery' %>
      </li>
      <li>
        <%= link_to l(:label_username_lost), :controller => 'account', :action => 'lost_password' %>
        <a href="#"></a>
      </li>
      <% end %>
      <li>
        <%= link_to l(:label_register), :controller => 'account', :action => 'register' %>
      </li>
    </ul>
  </div>
<% end %>
</div>
<!-- fine accounts -->
