<%# @project= Project.all_public_fs.find_by_id params[:id].to_i project @art.count  %>
<% defurl = "http://" + Setting.host_name %>
<style type="text/css" xmlns="http://www.w3.org/1999/html">
table, img {border: none;}
table td {padding: 0; margin: 0; border: none;}
.smtp {color: #00212D;font-family: Arial, Helvetica, Sans-Serif;font-size:13px;}
.s1{text-align: right;vertical-align: top; background-color: #fefefe;}
.s2{text-align: left;vertical-align: middle; background-color: #ffffff; border-top:solid 1px #f1e9b8; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#333333; line-height:2em; }
.s3{text-align: left;vertical-align: middle; font-family:Arial, Helvetica, sans-serif; font-size:13px;}
.s3 a{color:#333333; text-decoration: none;}
.a1{text-align: justify;vertical-align: top; background-color: #f4f4f4; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc;}
.a2{text-align: left;vertical-align: top; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#003548; text-align: justify;}
.a3{text-align: right;vertical-align: top; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333; line-height:15px; text-decoration: underline; font-style: italic;}
.a4{text-align: justify; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#000000; line-height:18px; }
</style>
<%# Contenitore %>
<table class="smtp" cellpadding="0" cellspacing="0" width="100%" bgcolor="#0f6da1">
<tr>
<td align="center">
<table cellpadding="0" cellspacing="0" width="640">
<tr>
<td>
<%# Pre Email %>
<table cellpadding="0" cellspacing="0" width="640">
<tr>
  <td valign="bottom" height="40" align="center">
    <font style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:11px; color:#ffffff;">
      NEWSLETTER FISCOSPORT - Puoi consultare l'Edizione &nbsp;
      <%= link_to(@project.description, url_for(defurl+ edizione_path + @project.id.to_s), :class => "newwin", :style => 'color:#fff;', :target => '_blank') %>
      direttamente online.
    </font>
  </td>
</tr>
<tr>
  <td>
    <table cellpadding="0" cellspacing="0" width="640" style="font-size:0;">
      <tr>
        <td>
          <img src="<%= defurl %>/images/commons/top_fade.jpg" width="640" height="20"/>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr><td align="center" background="<%= defurl %>/images/commons/email_bg.jpg">
<%# IMPORTANTE! inizio contenuto %>
<%# Inizio sezione con logo e nomeutente %>
<table width="560" cellpadding="0" cellspacing="0">
  <tr>
    <td width="242" align="left" valign="top">
      <%# logo %>
      <a href="<%= defurl %>" target="_blank"><img src="<%= defurl %>/images/commons/fiscosport_news.jpg" height="106"/></a>
    <td align="left" valign="top">
      <%# tabella di 2 righe per il testo %>
      <table width="318" cellpadding="0" cellspacing="0">
        <tr>
          <td height="0" align="left" valign="center" style="border-bottom:1px solid #1C6693;">
            <table width="100%">
              <tr>
                <td align="center" valign="center" style="text-align: center;">
                  <font style="font-family:Tahoma,Arial, Helvetica, sans-serif; font-style:italic; font-size:12px; color:#a03120; line-height:15px;">
                    Questa newsletter è riservata a :</font>
                </td>
              <tr>
                <td height="50" align="center" valign="center" style="text-align: center;">
                  <font style="font-family:Tahoma,Arial, Helvetica, sans-serif; font-size:18px; color:#333333; line-height: 25px;">
                      <% if @user %>
                        <%= @user.firstname %> &nbsp; <%= @user.lastname %>
                      <% else %>
                        @@user_username@@
                      <% end %>
                    </font>
                </td>
              </tr>
            </table>
          </td>
        <tr><td align="center" valign="bottom" style="text-align: center;">&nbsp;</td></tr>
        <%if @user && @user.convention && !@user.convention.nil? %>
        <tr>
          <td valign="bottom" style="text-align: left;">
            <font style="font-family:Tahoma,Arial, Helvetica, sans-serif; font-style:italic; font-size:12px; color:#a03120; line-height:15px;">
              <span style="margin-top: 10px;">
              <%= "L' abbonamento  a Fiscosport è offerto da:" %> </span></font>

          </td>
        </tr>
        <%	end  %>
      </table>
      <%# fine tabella di 2 righe per il testo %>
    </td>
  </tr>
</table>
<%# fine sezione con logo e nomeutente %>
<%# inizio visibile solo se associato o affiliato%>
<% if @user %>
  <%= render :partial => 'editorial/edizione_smtp_convention' %>
<% else %>
  @@user_convention@@
<% end %>
<%# fine riga visibile solo se associato o è affiliato'  / sotto un'immagine di spazio %>
<table width="560" cellpadding="0" cellspacing="0" style="font-size:0;">
  <tr><td width="560" valign="bottom" bgcolor="#ffffff" height="6"><img src="<%= defurl %>/images/commons/email_spacer_colors.jpg" width="560" height="6"/></td></tr>
  <tr><td width="560" valign="bottom" bgcolor="#ffffff" height="35"><img src="<%= defurl %>/images/commons/email_spacer.jpg" width="560" height="35"/></td></tr>
</table>
<%# inizio dicitura indice %>
<table width="560" cellpadding="0" cellspacing="0">
  <tr>
    <td width="100" align="right" valign="center" height="50"><img src="<%= defurl %>/images/commons/indice_ico.jpg" alt="Indice"/></td>
    <td width="460" align="right" valign="center" height="50"><img src="<%= defurl %>/images/commons/indice.jpg" alt="Indice"/></td>
  </tr>
</table>
<%# fine dicitura indice %>
<%# inizio loop sezione indice %>
<% last_tops=0
   ancora = "" %>
<%# @art.sort_by(&:ordinamento).each do |nart| %>
<% @art.each do |nart| %>
 <%# ancora = h(truncate(nart.subject, :length => 30).to_slug) %>
 <% ancora = nart.id.to_s %>
 <table width="560" cellspacing="0" >
 <% if last_tops != nart.section.top_section_id %>
  <tr><td height="14" bgcolor="#f5f5f5">&nbsp;</td></tr>
  <tr><td width="560" class="s1">
   <table width="560" cellspacing="0"><tr>
    <td width="36" height="30" align="center" valign="top"><%# <img src="<%= defurl % >/images/ico/freg-y.png"/> %></td>
    <td width="524" class="s2"><%# sezione %><strong><span style="color: #0C4481;"><%= (nart.section.nil? ? "? non trovata la sezione ?" : nart.section.top_section.to_s) %></span> :: <span style="color: #e95f03;"> <%= nart.section.to_s %></span></strong></td>
   </tr></table>
  </td></tr>
  <% end %>
  <%# titolo -%><tr><td width="560">
   <table width="560" cellpadding="10">
    <tr>
     <td width="28" align="left" valign="middle"><a href="#<%= ancora %>"><img src="<%= defurl %>/images/ico/fred24-y.png"/></a></td>
     <td width="532" class="s3"><a href="#<%= ancora %>"><%= h(nart.subject) %></a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
   </table>
  </td></tr><%# fine titolo -%>
 </table>
 <% last_tops = nart.section.top_section_id %>
<% end %>
<%# fine loop sezione indice %>
<%# ------------------------------------------------------------------------- %>
<%# spazio %>
<table width="560" style="font-size:0;">
  <tr><td height="33"></td></tr>
  <tr><td width="560" valign="bottom" bgcolor="#ffffff" height="35"><img src="<%= defurl %>/images/commons/email_spacer.jpg" width="560" height="35"/></td></tr>
</table>
<%# inizio dicitura sommario  %>
<table width="560">
  <tr><td height="16"></td></tr>
  <tr><td width="100" align="right" valign="center" height="50"><img src="<%= defurl %>/images/commons/sommario_ico.jpg" alt="Sommario"/></td>
    <td width="460" align="right" valign="center" height="50"><img src="<%= defurl %>/images/commons/sommario.jpg" alt="Sommario"/></td></tr>
  <tr><td height="33"></td></tr>
</table>
<%#fine  dicitura sommario  %>
<%#---------------------------------------------------------------------%>
<%# inizio sezione loop articoli %>
<% @art.each do |articolo| %>
<%# ancora = h(truncate(articolo.subject, :length => 30).to_slug) %>
<% ancora = articolo.id.to_s %>
<table width="560" cellspacing="0"><tr><td width="560" class="a1" >
  <%# inizio tabella contenuti %>
  <table width="560" cellspacing="9">
  <tr><%# sotto: immagine sx %><td width="120" align="left" valign="top" rowspan="2"><%# link_to(image_tag( defurl + art_image(articolo, :m, :newsletter=> true)), link_to_articolo(articolo, {:only_path => false}), :id => ancora) %><%= link_to(image_tag( art_image(articolo, :m, :only_path => false)), link_to_articolo(articolo, {:only_path => false}), :id => ancora) %></td>
  <%# titolo  %><td width="440" class="a2"><strong><%= articolo.subject %></strong><br/></td></tr>
  <tr><%#  riga autore  %><td width="440" class="a3"><strong><img src="<%= defurl %>/images/ico/pen24.png"/> <%= articolo.author %></strong></td></tr>
  <tr><%# riga riassunto %><td width="560" colspan="2" class="a4"><%= articolo.summary %><br/></td></tr>
  </table><%#fine tabella contenuti %>
  <%# pulsante vedi %><table width="560"><tr><td width="560" height="33" align="right" valign="top"><%= link_to(image_tag(defurl + '/images/commons/btn_news_y.gif', :width => 107, :height => 26), link_to_articolo(articolo, {:only_path => false , :target => "_blank"})) %></td></tr></table>
</td></tr>
<tr><td width="560" height="13"></td></tr></table>
<% end %><%# fine sezione loop articoli %>
<%#---------------------------------------------------------------------%>
<%# !importante fine   contenuto  email%>
</td></tr>
</table>
</td>
</tr>
<tr>
  <td>
    <img src="<%= defurl %>/images/commons/bottom_fade.jpg" width="640" height="28"/>
  </td>
</tr>
<tr>
  <td valign="top" height="80" align="center">
    <font style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:11px; color:#ffffff;">
      &nbsp;
    </font>
  </td>
</tr>
</table>
</td>
</tr>
</table><!--checksum-->
