<% @quesito_issues.each do |articolo| %>
    <article class="fs-article">
      <div class="fs-convegni-border">
        <div class="fs-quesiti-data-reply">  <span>
           Risposta di: <%= articolo.author.firstname %></span>
          <span class="fs-quesiti-data-data"><%= I18n.localize(articolo.created_on.to_date, :format => :giorno_mese_anno) %>&nbsp; </span>
        </div>
        <div  style="text-align: center; margin:10px;">
        <%= link_to_articolo(articolo ,:title => "Visualizzazione completa", :class => "fs-vuoto-inline-button") %>
        </div>
       <br />
        <div class="clearfix"></div>
        <div class="fs-postmetadataheader">
          <div class="fs-quesiti-reply-img">
            <%= image_tag art_image(articolo, :m) %>
          </div>
          <span style="font-style: italic ;">Pubblicato in: </span>
          <div class="fs-art-sezione-full">&nbsp;<%= articolo.top_section %>&nbsp;::&nbsp;<%= articolo.section %>
          </div>

          <div class="fs-postheader-full">      <%= articolo.subject %>  </div>
        </div>
        <div class="fs-quesiti-wrapper">
          <span style="font-weight: bold;"> <%= articolo.summary unless articolo.hide_summary? %> </span>
          <p><%= articolo.description %> </p>
          <br/> &nbsp;
        </div>
      </div>
      <div class="clearfix"></div>
    </article>
<% end %>

