<article class="fs-article">
  <div class="fs-convegni-border">
    <div class="fs-quesiti-data">
      <span><%= q.author.hide_name unless !q.author %>
     </span>
      <span class="fs-quesiti-data-data"><%= I18n.localize(q.created_on.to_date, :format => :giorno_mese_anno) %>&nbsp; </span>
    </div>
    <div class="fs-quesiti-wrapper">
      <div class="fs-quesiti-gravatar"> <%= gravatar_for(q.author) unless !q.author %>
      </div>
      <span style="font-weight: bold;"><%= q.summary %> </span>
      <p><%= q.description %> </p>
      <br/> &nbsp;
    </div>
  </div>
  <div class="clearfix"></div>
</article>
