<% @quesito_issues.each do |articolo| %>
    <article class="fs-article">
      <div class="fs-convegni-border">
        <div class="fs-quesiti-data-reply">  <span>
           Risposta di: <%= articolo.author.firstname %></span>
          <span class="fs-quesiti-data-data"><%= I18n.localize(articolo.created_on.to_date, :format => :giorno_mese_anno) %>&nbsp; </span>
        </div>
        <div class="fs-postmetadataheader">
          <div class="fs-quesiti-reply-img">
            <%= if articolo.immagine_url.nil?
                  if FileTest.exist?("#{RAILS_ROOT}/public/images/commons/sections/#{articolo.top_section.immagine}")
                    image_tag("/images/commons/sections/#{articolo.top_section.immagine}", :width => 75)
                  else
                    image_tag("/images/commons/sections/no-img.jpg", :width => 75)
                  end
                else
                  image_tag(articolo.immagine_url, :alt => h(truncate(articolo.subject, :length => 25)), :width => 75)
                end
            %>
          </div>
          <span style="font-style: italic ;">Pubblicato in: </span>
          <div class="fs-art-sezione-full">&nbsp;<%= articolo.top_section %>&nbsp;::&nbsp;<%= articolo.section %>
          </div>
            <%= link_to('Articolo',url_for(:controller => 'editorial', :action => "articolo", :topmenu_key => articolo.section.top_section.top_menu.key, :topsection_key => articolo.section.top_section.key, :article_id => articolo.id.to_s, :article_slug => h(truncate(articolo.subject, :length => 125).to_slug), :escape => false), :class => "fs-vuoto-inline-button", :style => "float:right; margin:-5px 10px 0 0;")%>
          <div class="fs-postheader-full">      <%= articolo.subject %>  </div>
        </div>
        <div class="fs-quesiti-wrapper">

          <span style="font-weight: bold;"><%= articolo.summary %> </span>

          <p><%= articolo.description %> </p>
          <br/> &nbsp;
        </div>
      </div>
      <div class="clearfix"></div>
    </article>

<% end %>

