<% if User.current && User.current.logged? %>
    <p class="fs-tramenu-blockheader x-granata">Utente:&nbsp; <%= User.current.name() %></p>
    <div class="fs-blockcontent fs-logged1">

      <% if User.current.user_profile %>
        <%= User.current.user_profile.my_avatar(:xs) %>
      <% else %>
        <%= gravatar_for(User.current) %>
      <% end %>
      <ul>
      <% if User.current.canbackend? %>
        <li>
          <%= link_to "== Accesso FISMINE ==",  { :controller => 'activities', :action => 'index' } %>
        </li>
        <li>
          <%= link_to l(:label_my_page), :controller => 'my', :action => 'page' %>
        </li>
        <li>
          <%= link_to l(:label_my_account), :controller => 'my', :action => 'account' %>
        </li>
      <% else %>
        <li>
          <%= link_to "==> Panello di controllo (FISMINE)==>", root_path %>
        </li>
        <li>
          <%= link_to l(:label_my_page), :controller => 'mio_profilo', :action => 'account' %>
        </li>
      <% end %>
      </ul>
    </div>
    <div class="fs-logged2 fs-blockcontent ">
      <ul>
        <% if User.current.associazione_affiliata %>
            <li>
              Associato a: <br /> <%= link_to h(User.current.associazione_affiliata), asso_path(User.current.associazione_affiliata) %>
            </li>
        <% else %>
            <% if User.current.sigla_tipo() %>
                <li>
                  Affiliato a:<br /> <%= link_to h(User.current.sigla_tipo()), asso_path(User.current.sigla_tipo()) %>
                </li>
            <% end %>
        <% end %>
        <% if User.current.responsable? && User.current.responsable_of
             User.current.responsable_of.each do |organismo| %>
                <li>
                    <%= link_to h(organismo), organismo_path(organismo) %>
                </li>
            <% end
               end %>
        <li>
          <%= link_to l(:label_logout), :signout %>
        </li>
      </ul>

      <div class="fs-logged2-ico">
        <% if User.current.organization() %>
            <%= image_tag "/images/banners/assos/#{ User.current.asso.logo}", :width => 50, :height => 50, :border => 0 %>
        <% else %>
            <%= image_tag "/images/ico/fs.png", :width => 50, :height => 50, :border => 0 %>
        <% end %>
      </div>
    </div>
<% else %>
    <p class="fs-tramenu-blockheader x-granata">Accesso Utenti Abbonati</p>
    <div class="fs-blockcontent">
      <% form_tag({:controller => 'account', :action => 'login'}, :method => 'post') do %>
          <%= back_url_hidden_field_tag %>
          <fieldset class="input" style="border:none; margin-top:-7px; ">
            <div id="fs-form-login">
              <span><%= l(:field_login)+ ':' %></span>
              <%= text_field_tag 'username', nil, :tabindex => '1' %>

              <span><%= l(:field_password)+ ':' %></span>
              <%= password_field_tag 'password', nil, :tabindex => '2' %>
              <br/>
            </div>

            <div class="fs-form-login-remember">
              <label class="fs-checkbox">
                <input type="checkbox" name="remember" value="yes" alt="Remember Me"/>Memorizza!
              </label>
            </div>
            <input type="submit" value="Accedi" name="login" id="fs-form-login-btn" class="fs-button"/>
          </fieldset>
      <% end %>
      <%= javascript_tag "$('#username').focus();" %>
      <% if Setting.lost_password? %>
          <div class='fs-pass'>
            <%= link_to l(:label_password_lost), :controller => 'account', :action => 'lost_password' %>
          </div>
      <% end %>
    </div>
<% end %>
