<%= render :partial => 'blocco_sidebar2' %>
<div class="fs-layout-cell fs-content clearfix">
<article class="fs-post fs-article">
      <div class="fs-postcontent fs-postcontent-0 clearfix">
        <div class="fs-content-layout">
          <div class="fs-content-layout-row">
            <div class="fs-layout-cell layout-item-0" style="width: 100%">
              <h4 style="border-bottom: 1px dotted #A8ADB8; padding-bottom: 5px">
                <%=  @issue.titolo %>
              </h4>
                 <span style="color:#ffffff;" class="fs-sections"><%= @issue.top_section %> > <%= @issue.section %>
                </span>
                <br/>
                <span class="fs-postauthoricon">  Autore:<%= h @issue.author %>
                </span>
                <br/>
                <%= @issue.testo %>
              <%= link_to "Ritorna ...",  @issue.section.top_section.top_menu.key + '/sezione/'+ @issue.section.top_section_id.to_s %>
            </div>
          </div>
        </div>
      </div>
        <br/>
</article>
<br/>
<div class="clearfix"></div>
</div>
          <%#sidebar a centro destra %>
          <%= render :partial => 'blocco_sidebar1' %>
          <%#sidebar a destra %>
          <%# render :partial => 'blocco_sidebar2' %>
























<!--


<h2><%=l(:details_articolo)%></h2>
  In questa pagina:
<h3> id= <%= @id %>
  <%= @issue.riassunto %>


</h3>
  <ul> 
    <li>Presentazione di un articolo</li>
    <li>PERMESSI sulla vissualizzazione dei contenuti</li>
    <li>LINK: ritorno a la lista articoli</li>
    <li>LINK: all'edizione dell'articolo</li>
    <li>LINK: alla sezione dell'articolo</li>
    <li>AZIONE: proponi un quesito legato a questo articolo</li>
futuro</li>
 futuro</li>
  </ul>
-->
