<%# @newsletter%>
<h2><%= l(:details_edizione) %></h2>
In questa pagina:
<ul>
  <li>La newsletter vera e propria</li>
  <li>AZIONE: ritorno a la lista edizioni</li>
  <li>LINK: ai articoli</li>
  <li>LINK: alle sezioni</li>
</ul>
<div style=" border: dotted 2px #add8e6 ; ">
  ID: <%= @id %>
  PROJECT: <%= @project %>
  NUM.ART:<%= @art.count %>
</div>

<h1>NEWSLETTER</h1>

<% if @art && @art.any? %>
    <h1><%= @project.name %></h1>
    <h3><%= @project.description %></h3>
    <div>Numero di articoli presente in questa newsletter: <%= @project.issues.count.to_s %></div>
    <% last_tops=0
       ancora =""
       corpo =""
    %>
    <% @art.each do |nart| %>
        <% ancora = h(truncate(nart.titolo, :length => 15).to_slug) %>
        <% last_tops = nart.section.top_section_id %>
        <% if (last_tops != nart.section.top_section_id) %>
            <h4 style="color:blue"><span style="font-size:70%"> ID Sez. TopSez: </span>
              <%= nart.section_id.to_s + '::' + nart.section.to_s + '::' + (nart.section.nil? ? "? non trovata la sezione ?" : nart.section.top_section.to_s) %>
              <%= link_to(h(smart_truncate(nart.titolo, 75)), url_for(:anchor => ancora)) %>
        <% else %>
            <%= link_to(h(smart_truncate(nart.titolo, 75)), url_for(:anchor => ancora)) %>
        <% end %>
        <% last_tops = nart.section.top_section_id %>
        </h3><br/>   </h4>
    <% end %>


    <% @art.each do |nart| %>
        <% ancora = h(truncate(nart.titolo, :length => 15).to_slug) %>
        <h3>
          <a id="<%= ancora %>"><%= nart.titolo %></a>
        </h3>
        <p>
          <%= nart.riassunto %>
        </p>
        <br/>
        <br/>
        # TODO top menu key

        <%# nart.section.top_section.top_menu.key %>
        <%# link_to("Leggi l'articolo completo online ", url_for(:controller => 'editorial', :action => "articolo", :topmenu_key => art.section.top_section.top_menu.key, :topsection_key => art.section.top_section.key, :article_id => art.id.to_s, :article_slug => h(truncate(art.titolo, :length => 125).to_slug), :escape => false)) %>
        <!--

          last_tops = art.section.top_section_id


          indice +="<h3>" + smart_truncate(art.titolo, 75) + "</h3><br />"



<!--
  testa = "<h1>" + @project.name + "</h1>"
  testa += "<h3>" + project.description + "</h3>"
  testa  += "<div>Numero di articoli presente in questa newsletter: " + self.issues.count.to_s + "</div>"
  indice =""
  sommario =""
  last_tops=0
        if last_tops != art.section.top_section_id
        indice += '<h4 style="color:blue"><span style="font-size:70%"> ID Sez. TopSez: </span>' + art.section_id.to_s + " :: "
        indice += art.section.to_s + " :: "
        indice += (art.section.nil? ? "? non trovata la sezione ?" : art.section.top_section.to_s) + "</h4>"

        last_tops = art.section.top_section_id
        end

        indice +="<h3>" + smart_truncate(art.titolo, 75) + "</h3><br />"


  for art in self.issues.all(:order => "#{Section.table_name}.top_section_id DESC") do

    if last_tops != art.section.top_section_id
    indice += '<h4 style="color:blue"><span style="font-size:70%"> ID Sez. TopSez: </span>' + art.section_id.to_s + " :: "
    indice += art.section.to_s + " :: "
    indice += (art.section.nil? ? "? non trovata la sezione ?" : art.section.top_section.to_s) + "</h4>"

    last_tops = art.section.top_section_id
    end
    indice +="<h3>" + smart_truncate(art.titolo, 75) + "</h3><br />"
    sommario += indice
    sommario += smart_truncate(art.riassunto, 200) + "<br /> &nbsp;<br /> &nbsp;"

  end
  str += "<h2> user corrente:" + user.name + "</h2>"
  str += "<br /><h1> INDICE </h1>"
  str += indice
  str += "<hr>"
  str += "<br /><h1> SOMMARIO </h1>"
  str += sommario

        -->
    <% end %>
    <br/>


<% else %>
    <br/>

    <p class="nodata"><%= l(:label_no_data) %></p>
    <br/>
<% end %>


