<%# @newsletter%>
<h2><%= l(:details_edizione) %></h2>
In questa pagina:
<ul>
  <li>La newsletter vera e propria</li>
  <li>AZIONE: ritorno a la lista edizioni</li>
  <li>LINK: ai articoli</li>
  <li>LINK: alle sezioni</li>
</ul>
<div style=" border: dotted 2px #add8e6 ; ">
  ID: <%= @id %>
  PROJECT: <%= @project %>
  NUM.ART:<%= @art.count %>
</div>

<h1>NEWSLETTER</h1>
<% if @art && @art.any? %>
    <% last_tops=0
       ancora =""
       corpo =""
    %>
    <h1> QUI PK</h1>
    <div bgcolor="#bad3d9" style="font-family:Arial, Helvetica, sans-serif; text-align:left; margin:0; padding:0;" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
      <table width="100%" border="0" cellpadding="0" cellspacing="5" bgcolor="#bad3d9" style="font-size:12px; color:#424242; text-align:left;">
        <tr>
          <td align="center">
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center" valign="top">
                  <font style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#333333;">la newsletter
                    di
                    Fiscosport &nbsp;|&nbsp;
                    <a target="_blank" href="<%= @project %>" style="color:#333333; text-decoration:underline;"><font style="color:#333333;">L'edizione
                      num. <%= @project %> <%= @project.description %>
                      è online!</font></a></font></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center">
            <table width="656" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td align="left">
                  <table width="656" border="0" cellpadding="0" cellspacing="0" bgcolor="#333333">
                    <tr bgcolor="red">
                      <td width="10" height="38" align="left" valign="top" bgcolor="#333333">
                        <img src="http://static.it.groupon-content.net/newsletter_ums/basic/frame_top_left_bg.gif" width="10" height="10" alt="" style="display:block;"/>
                      </td>
                      <td width="130" height="38" align="left" valign="bottom" bgcolor="#333333">
                        <a target="_blank" href="http://news.groupon.it/c/r?EMID=09A030C73VJ171T1U5804PCVH0131HV7F&RED=http%3A%2F%2Fwww.groupon.it%2Fdeals%2Fdeal-nazionale%3Fnlp%3D%26CID%3DIT_CRM_1_0_0_11%26a%3D1669" style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#ffffff; text-decoration:none;"><font style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#ffffff;"><strong><img src="http://static.it.groupon-content.net/newsletter_ums/basic/logo_groupon_top_it_IT.gif" width="130" height="38" border="0" style="display:block;" alt="Groupon"/></strong></font></a>
                      </td>
                      <td width="10" height="38" bgcolor="#333333">&nbsp;  </td>
                      <td height="38" align="left" valign="middle" bgcolor="#333333">
                        <font style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#ffffff;"><strong>Offerte
                          per te!</strong></font></td>
                      <td height="38" align="right" valign="middle" bgcolor="#333333">
                        <font style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#ffffff;">11.01.2013</font>
                      </td>
                      <td width="24" height="38" align="right" valign="top" bgcolor="#333333">
                        <img src="http://static.it.groupon-content.net/newsletter_ums/basic/frame_top_right_bg.gif" width="10" height="10" alt="" style="display:block;"/>
                      </td>
                    </tr>
                  </table>

                  <table width="656" border="0" cellpadding="0" cellspacing="0" bgcolor="#333333">
                    <tr>
                      <td width="100%"  align="left" valign="top" bgcolor="#333333">
                        <%= image_tag("/images/commons/per-news.png") %>   blalall

                      </td>
                    </tr>
                  </table>

                  <table width="656" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                    <tr>
                      <td width="10" height="28" align="left" valign="top">
                        <img src="http://static.it.groupon-content.net/newsletter_ums/basic/blue_line_10x22.gif" width="10" height="22" border="0" style="display:block;" alt=""/>
                      </td>
                      <td width="130" height="28" align="left" valign="top">
                        <a target="_blank" href="http://news.groupon.it/c/r?EMID=09A030C73VJ171T1U5804PCVH0131HV7F&RED=http%3A%2F%2Fwww.groupon.it%2Fdeals%2Fdeal-nazionale%3Fnlp%3D%26CID%3DIT_CRM_1_0_0_11%26a%3D1669" style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#ffffff; text-decoration:none;"><font style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#ffffff;"><strong><img src="http://static.it.groupon-content.net/newsletter_ums/basic/logo_groupon_bot_it_IT.gif" width="130" height="22" border="0" style="display:block;" alt=""/></strong></font></a>
                      </td>
                      <td width="516" height="28" align="left" valign="top">
                        <img src="http://static.it.groupon-content.net/newsletter_ums/basic/blue_line_10x22.gif" width="516" height="22" border="0" style="display:block;" alt=""/>
                      </td>
                    </tr>
                  </table>
                  <table width="656" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                    <tr>
                      <td width="656" align="center" valign="top">
                        <table width="612" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td width="297" height="15"></td>
                            <td width="18" height="15"></td>
                            <td width="297" height="15"></td>
                          </tr>

                        </table>

                        <!--inizio articolo -->

                        <table width="612" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td width="612" align="right" valign="top" bgcolor="#f4f4f4" style="border-top:1px solid #cccccc; border-bottom:1px solid #cccccc;">

                              <table width="600" border="0" cellpadding="0" cellspacing="8">
                                <tr>
                                  <td width="187" align="left" valign="top">
                                    <table width="182" border="0" cellpadding="0" cellspacing="0">
                                      <tr>
                                        <td width="182" height="124" align="left" valign="top">
                                          <a target="_blank" href="http://news.groupon.it/c/r?EMID=09A030C73VJ1A1T1U5804PCVH007HNNIB&RED=http%3A%2F%2Fwww.groupon.it%2Flp%2FPK9%2Findex.php%3Fdealid%3D15949601%26nlp%3D%26CID%3DIT_CRM_1_0_0_11%26a%3D1669" style="text-decoration:none;" title="Vedi!"><font style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#317ca6;"><img border="1" src="http://static.it.groupon-content.net/41/41/1357836704141.jpg" width="180" height="120" alt="Vedi &raquo;" style="border:1px solid #cccccc; display:block;"/></font></a>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td width="182" align="left" valign="top">
                                          <table width="182" border="0" cellpadding="0" cellspacing="1" bgcolor="#cccccc">
                                            <tr>
                                              <td width="50%" height="27" align="center" valign="middle" style="border-right:1px solid #a9a9a9;">
                                                <font style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#333333; line-height:1em;"><font style="font-size:10px;">Sconto<br/></font><strong>56%</strong></font>
                                              </td>
                                              <td width="50%" height="27" align="center" valign="middle">
                                                <font style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#333333; line-height:1em;"><font style="font-size:10px;">Prezzo<br/></font><strong>79,00&nbsp;&euro;</strong></font>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td width="389" align="left" valign="top">
                                    <table width="378" border="0" cellpadding="0" cellspacing="0">
                                      <tr>
                                        <td width="378" height="122" align="left" valign="top">
                                          <font style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;"><a target="_blank" href="http://news.groupon.it/c/r?EMID=09A030C73VJ1A1T1U5804PCVH007HNNIB&RED=http%3A%2F%2Fwww.groupon.it%2Flp%2FPK9%2Findex.php%3Fdealid%3D15949601%26nlp%3D%26CID%3DIT_CRM_1_0_0_11%26a%3D1669" style="color:#333333; text-decoration:none;"><font style="color:#333333;"><strong>Chianciano
                                            Terme a 4 stelle: Notti per 2 con libero accesso alla spa e cena di 4
                                            portate</strong></font></a></font><br/>
                                          <br/><font style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333;"><a target="_blank" href="http://news.groupon.it/c/r?EMID=09A030C73VJ1A1T1U5804PCVH007HNNIB&RED=http%3A%2F%2Fwww.groupon.it%2Flp%2FPK9%2Findex.php%3Fdealid%3D15949601%26nlp%3D%26CID%3DIT_CRM_1_0_0_11%26a%3D1669" style="color:#333333; text-decoration:none;"><font style="color:#333333;">Chianciano
                                          Terme: un nome che evoca benessere, relax e fonti termali rigeneranti.
                                          Regalati un'evasione esclusiva all'Admiral Palace 4 stelle Lusso, tra ambienti
                                          raffinati, verdi giardini, arte e vie antiche a due passi dalla Val d'Orcia
                                          ... <font style="color:#0275ba">altro.</font></font></a><br/><br/></font></td>
                                      </tr>
                                    </table>
                                    <table width="380" border="0" cellpadding="0" cellspacing="0">
                                      <tr>
                                        <td width="380" align="right" valign="top">
                                          <a target="_blank" href="http://news.groupon.it/c/r?EMID=09A030C73VJ1A1T1U5804PCVH007HNNIB&RED=http%3A%2F%2Fwww.groupon.it%2Flp%2FPK9%2Findex.php%3Fdealid%3D15949601%26nlp%3D%26CID%3DIT_CRM_1_0_0_11%26a%3D1669" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#ffffff; text-decoration:none;"><font style="font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#317ca6;"><strong><img src="http://static.it.groupon-content.net/newsletter_ums/basic/btn_view_it_IT.gif" width="107" height="29" border="0" style="display:block;" alt="Vedi &raquo;"/></strong></font></a>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td width="612" height="13"></td>
                          </tr>
                        </table>
                        <!--
                        <% if @art && @art.any? %>
                          <h1><%= @project.name %></h1>

                          <h3><%= @project.description %></h3>

                          <div>Numero di articoli presente in questa newsletter: <%= @project.issues.count.to_s %></div>
                          <% last_tops=0
                             ancora =""
                             corpo =""
                      %>

                          <% @art.each do |nart| %>
                              <% ancora = h(truncate(nart.titolo, :length => 15).to_slug) %>
                              <% last_tops = nart.section.top_section_id %>
                              <% if (last_tops != nart.section.top_section_id) %>
                                  <h4 style="color:blue"><span style="font-size:70%"> ID Sez. TopSez: </span>
                                    <%= nart.section_id.to_s + '::' + nart.section.to_s + '::' + (nart.section.nil? ? "? non trovata la sezione ?" : nart.section.top_section.to_s) %>
                                    <%= link_to(h(smart_truncate(nart.titolo, 75)), url_for(:anchor => ancora)) %>
                              <% else %>
                                  <%= link_to(h(smart_truncate(nart.titolo, 75)), url_for(:anchor => ancora)) %>
                              <% end %>
                              <% last_tops = nart.section.top_section_id %>
                              </h3><br/>   </h4>
                          <% end %>


                          <% @art.each do |nart| %>
                              <% ancora = h(truncate(nart.titolo, :length => 15).to_slug) %>
                              <h3>
                                <a id="<%= ancora %>"><%= nart.titolo %></a>
                              </h3>

                              <p>
                                <%= nart.riassunto %>
                              </p>
                              <br/>
                              <br/>
                              TODO top menu key
                          <% end %>
                          <br/>

                          <%# nart.section.top_section.top_menu.key %>
                          <%# link_to("Leggi l'articolo completo online ", url_for(:controller => 'editorial', :action => "articolo", :topmenu_key => art.section.top_section.top_menu.key, :topsection_key => art.section.top_section.key, :article_id => art.id.to_s, :article_slug => h(truncate(art.titolo, :length => 125).to_slug), :escape => false)) %>

                      <% else %>
                                                <br/>

                                                <p class="nodata"><%= l(:label_no_data) %></p>
                                                <br/>
                                            <% end %>
                                                         -->


                    </tr>
                    <tr>
                      <td width="612" height="13"></td>
                    </tr>
                  </table>
                  <table width="486" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="612" height="5"></td>
                    </tr>
                  </table>
                  <table width="612" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="200" height="92" align="left" valign="top" bgcolor="#dfdfdf">
                        <a target="_blank" href="http://news.groupon.it/c/r?EMID=09A030C73VHSO1T1U5804PCVH00K666GL&RED=http%3A%2F%2Fitunes.apple.com%2Fit%2Fapp%2Fid352683833%3Fmt%3D8" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#333333; text-decoration:none;"><font style="color:#333333;"><strong><img border="0" src="http://static.it.groupon-content.net/newsletter_ums/basic/bnr_mob_iphone_200x92_it_IT.jpg" width="200" height="92" alt="Groupon su iPhone &raquo;" style="display:block;"/></strong></font></a>
                      </td>
                      <td width="6"></td>
                      <td width="200" height="92" align="left" valign="top" bgcolor="#dfdfdf">
                        <a target="_blank" href="http://news.groupon.it/c/r?EMID=09A030C73VHSP1T1U5804PCVH01AOLI47&RED=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.groupon" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#333333; text-decoration:none;"><font style="color:#333333;"><strong><img border="0" src="http://static.it.groupon-content.net/newsletter_ums/basic/bnr_mob_android_200x92_it_IT.jpg" width="200" height="92" alt="Groupon su Android &raquo;" style="display:block;"/></strong></font></a>
                      </td>
                      <td width="6"></td>
                      <td width="200" height="92" align="left" valign="top" bgcolor="#dfdfdf">
                        <a target="_blank" href="http://news.groupon.it/c/r?EMID=09A030C73VHSQ1T1U5804PCVH011NREAO&RED=http%3A%2F%2Fappworld.blackberry.com%2Fwebstore%2Fcontent%2F22202%2F%3Flang%3Dit" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#333333; text-decoration:none;"><font style="color:#333333;"><strong><img border="0" src="http://static.it.groupon-content.net/newsletter_ums/basic/bnr_mob_blackberry_200x92_it_IT.jpg" width="200" height="92" alt="Groupon su BlackBerry &raquo;" style="display:block;"/></strong></font></a>
                      </td>
                    </tr>
                  </table>
                  <table width="486" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="612" height="15"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      </td>
      </tr>
      <tr>
        <td align="center">
          <table width="602" border="0" cellpadding="10" cellspacing="0">
            <tr>
              <td align="center">
                <font style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#ffffff;">Per migliorare la
                  nostra operatività aziendale, stiamo consolidando i nostri servizi di hosting del sito internet
                  internazionale, marketing e altri servizi, sotto un'unica società internazionale, Groupon
                  International
                  Gmbh Freier Platz 10, CH-8200 Schauffhausen, Svizzera, ihq@groupon.com. Questa e-mail è inviata
                  direttamente da Groupon International salvo tu non ti sia registrato o abbia effettuato un acquisto
                  presso Groupon Srl prima del 31 dicembre 2012 e il tuo account non sia stato
                  trasferito presso Groupon International, nel qual caso questa e-mail è inviata da Groupon
                  International
                  in nome e per conto di Groupon Srl Corso Buenos Aires,124 Milano.
                  Se preferisci non ricevere queste e-mail consulta
                  <a target="_blank" href="http://news.groupon.it/c/r?EMID=09A030C73VJ2M1T1U5804PCVH00OR6E39&RED=http%3A%2F%2Fwww.groupon.it%2Fsubscriptions%2Funsubscribe%2Fcity%2F08bef7f8-150b-4135-bede-a1bfdd845f8c%3Fnlp%3D%26CID%3DIT_CRM_1_0_0_11%26a%3D1669" style="color:#ffffff;"><font style="color:#ffffff;">cliccando
                    qui</font></a> o se desideri gestire le tue iscrizioni
                  <a target="_blank" href="http://news.groupon.it/c/r?EMID=09A030C73VJ2N1T1U5804PCVH00G0FDM3&RED=http%3A%2F%2Fwww.groupon.it%2Fsubscriptions%2Fhash%2F08bef7f8-150b-4135-bede-a1bfdd845f8c%3Fnlp%3D%26CID%3DIT_CRM_1_0_0_11%26a%3D1669" style="color:#ffffff;"><font style="color:#ffffff;">consulta
                    l'apposta sezione</font></a>.</font></td>
            </tr>
          </table>
        </td>
      </tr>
      </table>
      <img src="http://news.groupon.it/cgi-bin/redirector?EMID=08A030C1T1U5804PCVH01E9F1V5&ACTION=h" border="0" width="1" height="1">
    </div>
<% else %>
    <br/>

    <p class="nodata"><%= l(:label_no_data) %></p>
    <br/>
<% end %>
