<script type="text/javascript">
    function fbshareme() {
        window.open(
                'http://www.facebook.com/sharer.php?s=100&p[title]=<%= ERB::Util.url_encode(@articolo.subject)%>&p[summary]=<%= ERB::Util.url_encode(smart_truncate(@articolo.summary, 220)) %>&p[url]=<%= link_to_articolo(@articolo, :only_path => false).to_s %>&p[images][0]=<%= (art_image(@articolo, :l, :only_path => false)) %>&p[images][1]=http://www.fiscosport.it/images/commons/fs_fb1.png&p[images][2]=http://www.fiscosport.it/images/commons/fs_fb2.png&p[images][3]=http://www.fiscosport.it/images/commons/fs_fb0.png',
                'facebook-share-dialog',
                'width=626,height=436'
            );
    }
</script>
<div class="fs-layout-cell fs-content clearfix" style="width: 99%; position:relative;">
  <article class="fs-post-convegni fs-article">
    <div class="fs-postcontent fs-postcontent-convegni clearfix">
      <div class="fs-content-layout" style="width: 100%; position:relative;">
        <div class="fs-convegni-deco-tl"></div>
        <div class="fs-convegni-deco-bl"></div>
        <div class="fs-convegni-deco-tr"></div>
        <div class="fs-convegni-deco-br"></div>
        <div class="fs-convegni-wrapper">
          <% if @articolo %>
              <div class="counter-bg-fade1"></div>
              <div class="counter-bg">
                <div class="counter">
                  <span><%= @articolo.section %> &nbsp;</span>

                  <div class="counter_item">
                    <span><%= I18n.localize(@articolo.due_date.to_date, :format => :giorno_mese_anno) %></span>
                  </div>
                </div>
              </div>
              <div class="counter-bg-fade2"></div>
              <div class="fs-postmetadataheader">
                <div class="fs-postheader-eventi-full">
                  <%= @articolo.subject %>  </div>
              </div>
              <div style="width:100%;">
                <div class="fs-image-caption-wrapper-convegni">
                  <%= image_tag art_image(@articolo, :l) %>
                </div>
                <% unless @articolo.hide_summary? %>
                    <div class="fs-riassunto-full"><p>
                      <%= @articolo.summary %></p>
                    </div>
                <% end %>
              </div>
              <div class="clearfix"></div>
              <div class="fs-layout-cell layout-item-1">
                <div id="fs-articolo-full">
                  <%= @articolo.description %>
                  <br/>&nbsp;
                </div>
              </div>
              <div class="fs-attachments">
                <%= link_to_fs_attachments(@articolo, :author => false) %>
              </div>
              <div class="fs-postmetadata-full-convegni">
                <div class='fs-social'>
                  <div class='fs-social-fb '>
                  <%= image_tag "ico/fb-share.jpg",:onclick=> 'fbshareme()' %>
                  </div>
                  <div class='fs-social-tw '>
                    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="fiscosport">Tweet</a>
                    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                  </div>
                  <div class='fs-social-gp '>
                    <div class="g-plusone" data-size="medium" data-recommendations="false">
                      <!-- Place this tag after the last +1 button tag. -->
                      <script type="text/javascript">
                          window.___gcfg = {lang:'it'};
                          (function () {
                              var po = document.createElement('script');
                              po.type = 'text/javascript';
                              po.async = true;
                              po.src = 'https://apis.google.com/js/plusone.js';
                              var s = document.getElementsByTagName('script')[0];
                              s.parentNode.insertBefore(po, s);
                          })();
                      </script>
                    </div>
                  </div>
                  <div class="fs-resize-box">
                    <%= link_to_function(image_tag('ico/printer-icon.png'), "javascript:print()") %>
                  </div>
                </div>

              </div>
              <% if  @articolo.show_reservation? && User.current.logged? %>
                  <div class="fs-convegni-prenota">
                    <%= render :partial => 'reservation' %>
                  </div>
              <% end %>

          <% else %>
              <br/>

              <p class="nodata"><%= l(:label_no_data) %></p>
              <br/>
          <% end %>
        </div>
      </div>
    </div>
    <br/>
  </article>
  <br/>

  <div class="clearfix"></div>
</div>

<%= render :partial => 'blocco_sidebar3' %>
<%#sidebar a destra %>