<h1>Editorial#home</h1>
<p>Find me in app/views/editorial/home.html.erb</p>

    <ul class="navigation round">
      <li><%= link_to "Editoriale", editorial_path %></li>
      <li><%= link_to "Edizioni", edizioni_path %></li>
      <li><%= link_to "Articoli", articoli_path %></li>
      <li><%= link_to "contact", contact_path %></li>
      <li><%= link_to "about", about_path %></li>
      <li><%= link_to "help", help_path %></li>
    </ul>

