% if Setting.info_promoted_fs %>
  <%= l(:label_info_fs) %>
  <div id="fs_informa" class="nodata">
  <%= simple_format(Setting.info_fs) %>
  </div>
  <br />


<%# textilizable Setting.welcome_text_fs %>
<h2><%= l(:label_home_fs) %></h2>
<h2>render il nuovo menu </h2>




<div class="splitcontentright fs_box_opacity">
  <% if @issues.any? %>
  <div class="issues box">
  <h3><%=l(:label_issues_latest)%> ss</h3>
    <%= render :partial => 'issues/list_simple', :locals => { :issues => @issues } %>
    <%= link_to l(:label_issues_view_all), :action => 'articoli' %>
  </div>
  <% end %>
</div>

<div class="splitcontentleft fs_box_opacity">
  <% if @projects.any? %>
  <div class="projects box">
  <h3><%=l(:label_project_latest)%></h3>
    <ul>
    <% for project in @projects %>
      <% @project = project %>
      <li>
      <%= link_to h(project), :action => 'edizione', :id => project.id %> (<%= format_time(project.created_on) %>)
      <%= textilizable project.short_description, :project => project %>
      </li>
    <% end %>
    <% @project = nil %>
    </ul>
    <%= link_to l(:label_projects_view_all), :action => 'edizioni' %>
  </div>
  <% end %>
  <%= call_hook(:view_welcome_index_right, :projects => @projects) %>
</div>
