<div class="fs-layout-cell fs-content clearfix" style="width: 100%; position:relative;">
  <% if User.current.logged? %>
  <article class="fs-post fs-article">
    <div class="fs-postcontent fs-postcontent-0 clearfix">
      <div class="fs-content-layout">
        <div class="fs-content-layout-row">
          <div class="fs-layout-cell layout-item-0" style="width: 99%">
            <h1 class="<%= User.current.role %>"><%= User.current.name %></h1>
            <h2><%= user_role_iconized(User.current.icon(), :size => 'l', :text => ('Scadenza: ' + link_to( User.current.scadenza.to_s + ' (' + User.current.scadenza_fra + ')', :controller => 'mio_profilo', :action => 'account')), :icon_for => User.current.uicon()) %></h2>
            <%# User.current.my_abbo_isprivate? %>
            <div style="float:left; margin: 10px; padding: 10px;">
              <%= User.current. getLocalization() %>
            </div>
            <div style="float:left; margin: 10px; padding: 10px;">
              <%= get_status_role(User.current) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
  </article>
  <div class="clearfix"></div>
  <%	end  %>
  <br/>
  <article class="fs-post fs-article">
    <div class="fs-postcontent fs-postcontent-0 clearfix">
      <div class="fs-content-layout">
        <div class="fs-content-layout-row">
          <div class="fs-layout-cell layout-item-0" style="width: 99%">
            <% unless User.current.logged? %>
            <div id="fs-pag-abbonamenti-header">
              <div><h1 class="x-yellow3" style="font-weight: bold;"> Entra anche tu nel mondo Fiscosport!</h1>
              <p class="x-yellow2">Con l'abbonamento accedi a tutti i contenuti del sito!</p>
                <%= link_to "REGISTATI ORA!", url_for(:controller => "account",:action => 'register'), :class => "fs-blu-button"%>
                <br>
              </div>
            </div>
            <%	end  %>
            <%= raw(Setting.static_page_abbonamenti.html_safe) %>
          </div>
        </div>
      </div>
    </div>
    <br/>
  </article>
  <br/>
  <div class="clearfix"></div>
</div>
<%= render :partial => 'blocco_sidebar1' %>
