<%# form_tag({:action => :update}, {:method => :put})form_tag({:action => controller.action_name, :id => @project, :path => to_path_param(@path), :rev => ''}, {:method => :get, :id => 'revision_selector'}) do -%>
<style>
    .thumb {
        height: 120px;
        border: 1px solid #ededed;
        margin: 10px 5px 0 0;
    }
</style>
<div id="fs-profilo">
  <h3 style="text-align: center;"><%= @this_user %></h3>
<% form_tag({:action => "profilo_new", :method => :post}, :multipart => true) do %>
    <%= hidden_field_tag :user_id, @this_user.id %>
    <div class="fs-profiles-esx">
      <div id="fs-photo-edit">
        <%= '<div id="fs-photo-edit-i"></div><div id="fs-photo-edit-a" style="display:none;"></div>
          <div id="fs-photo-edit-g" style="display:block;">' + gravatar_for(@this_user, :size => 120) + ' </div>' %>
      </div>
      <div class="fs-vuoto-inline-button  fs-profiles-esx-btn">
        <label><%= radio_button_tag :use_gravatar, true, :onchange => "funct_avatar('g')" %> <%= 'Usa mail su Gravatar' %></label><br/>
        <label><%= radio_button_tag :use_gravatar, false, :onchange => "funct_avatar('a')" %> <%= 'Usa tua immagine Avatar' %></label><br/>
        <%= file_field_tag :photo, :onchange => "handleFileSelect('handleFileSelect, false'})" %>
        <h6>nb: usa un'immagine quadrata sarà ridimensionata a 200px per 200px </h6>
      </div>
    </div>
    <div class="fs-profiles-ecx">
      <p>
        <%= label_tag :fs_qualifica %><br/>
        <%= text_field_tag :fs_qualifica %>
      </p>

      <p>
        <%= label_tag :fs_tel %><br/>
        <%= text_field_tag :fs_te %>
      </p>

      <p>
        <%= label_tag :fs_fax %><br/>
        <%= text_field_tag :fs_fax %>
      </p>

      <p>
        <%= label_tag :fs_skype %><br/>
        <%= text_field_tag :fs_skype %>
      </p>

      <p>
        <%= label_tag :fs_mail %><br/>
        <%= text_field_tag :fs_mail %>
      </p>

      <p>
        <%= label_tag :fs_external_url %><br/>
        <%= text_field_tag :external_url %>
      </p>
    </div>
    <div class="fs-profiles-edx">

      <div class="fs-profiles-radio-buttons">
        <%= label_tag l(:label_display_in) %> &nbsp;<br/>
        <label><%= radio_button_tag :display_in, 1, true %> <%= 'Collaboratori' %></label><br/>
        <label><%= radio_button_tag :display_in, 2 %> <%= 'Responsabili' %></label><br/>
        <label><%= radio_button_tag :display_in, 3 %> <%= 'Direttori' %></label><br/>
        <label><%= radio_button_tag :display_in, 4 %> <%= 'Non Visibile' %></label><br/>
      </div>
      <p style="padding:10px 0;"></p>

      <p>  <%= submit_tag "crea", :action => 'profilo_edit', :class => "fs-giallo-button" %></p>

      <p style="padding:5px 0;"> altrimenti</p>

      <p>  <%= link_to "annulla", :back, :class => "fs-giallo-button", :style => "float:none;" %></p>

    </div>
    <div class="cleared"></div>
    <div class="yui-skin-sam">
      <%= label_tag l(:label_titoli) %>
      <br/>

      <p><%= text_area_tag :titoli, :name => 'titoli', :required => false, :cols => 120, :rows => 15 %>  </p>
    </div>
    <div class="yui-skin-sam">
      <%= label_tag l(:label_curriculum) %>
      <br/>

      <p><%= text_area_tag :curriculum, :name => 'curriculum', :required => false, :cols => 120, :rows => 15 %>  </p>
    </div>
<% end %>
</div>

<% content_for :header_yui do %>
    <%= stylesheet_link_tag 'yui/skin.css', :media => 'all' %>
    <%= javascript_include_tag "yui/yahoo-dom-event.js" %>
    <%= javascript_include_tag "yui/element-min.js" %>
    <%= javascript_include_tag "yui/container_core-min.js" %>
    <%= javascript_include_tag "yui/menu-min.js" %>
    <%= javascript_include_tag "yui/button-min.js" %>
    <%= javascript_include_tag "yui/editor-min.js" %>
    <%= javascript_include_tag "yui/yui_fs.js" %>
<% end %>
<script type="text/javascript" charset="utf-8">
    (function () {
      var myConfig1 = {
          handleSubmit:true,
          height:'200px',
          width:'95%',
          resize:true,
          animate:true,
          dompath:true,
          focusAtStart:true,
          nodeChangeDelay:false,
          removeLineBreaks:true,
          drag:true
      };
      var myEditor1 = init_yui_editor_fs('titoli', myConfig1);
      var myConfig2 = {
          handleSubmit:true,
          height:'400px',
          width:'95%',
          animate:true,
          dompath:true,
          focusAtStart:true
      };
      init_yui_editor_fs('curriculum', myConfig2);

      //funct_avatar('i');
      document.getElementById('photo').addEventListener('change', function(event) {
              if (!event) // i.e. the argument is undefined or null
                event = window.event;
                handleFileSelect(event, 'fs-photo-edit-i', 'i')
      }, false);

    })
            ();

</script>
