<div class="fs-layout-cell fs-content clearfix">
  <% if flash[:notice] %>
      <div id="fs-flash-notice"><%= notice %> </div>
  <% end %>
  <div class="fs-content-layout post-layout-item-0" style="width: 99%">
    <div class="fs-content-layout-row">
      <div class="fs-layout-cell post-layout-item-3" style="width: 100%">
        <article class="fs-post-profile fs-article">
          <div class="fs-profiles-sx">
            <%= @user_profile.my_avatar(:l) %>
          </div>
          <div class="fs-profiles-us">
            <h3><%= (@user_profile.user.firstname unless !@user_profile.user.firstname) + ' ' + (@user_profile.user.lastname unless !@user_profile.user.lastname) %></h3>

            <p><%= h @user_profile.fs_qualifica %></p>

            <p>&nbsp;</p>
          </div>
          <div class="fs-profiles-cx">
            <p><span> telefono </span>
              <%= h @user_profile.fs_tel %></p>

            <p><span> e-mail </span><%= h @user_profile.fs_mail %></p>

            <p><span> fax </span><%= h @user_profile.fs_fax %></p>

            <p><span> skype </span>  <%= h @user_profile.fs_skype %></p>
            <p><span> sito </span>  <%= link_to @user_profile.external_url %></p>

          </div>
          <div class="cleared"></div>
          <div class="fs-profiles-bt">
          <p class="fs-profiles-labels">Titoli </p>

          <div class="htmloverflow"><%= raw @user_profile.titoli %></div>
            <br/>&nbsp; <br/>

          <p class="fs-profiles-labels"> Curriculum </p>

          <div class="htmloverflow"><%= raw @user_profile.curriculum %></div>
          </div>
        </article>
    -manager ->    <%= User.current.ismanager?   %>   <br/>&nbsp; <br/>
     -redattore ->   <%=  User.current.isauthor?  %>   <br/>&nbsp; <br/>
    -current = userprofile    <%=  User.current == @user_profile.user %>
        <br/>&nbsp; <br/>
        <%= User.current.ismanager? || (User.current.isauthor? && User.current == @user_profile) %>

        <br/>&nbsp; <br/>

        <% if User.current.ismanager? || (User.current.isauthor? && User.current == @user_profile) %>
            <article class="fs-post-profile fs-article">
              <p style="text-align: center;">  <%= link_to("modifica", profile_edit_path(@user_profile), :class => "fs-giallo-button") %></p>
            </article>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%# render :partial => 'blocco_sidebar1' %>

<%= render :partial => 'blocco_sidebar1' %>

