<%# form_for :user_profile, @user_profile, :url => {:controller=> 'user_profiles', :action => "pcreate"} ,:html => { :multipart => true } do |f| %>

<% form_for :user_profile, @user_profile, :url => {:action => "profilo_create"}, :html => {:multipart => true} do |f| %>
    <%= f.hidden_field :user_id, :value => params[:id] %>
    <div class="fs-profiles-sx">
      <p>
        <%= f.label :photo %>
        <%= f.file_field :photo %>
      </p>

      <p>
        <%= f.label :immagine_url %><br/>
        <%= f.text_field :immagine_url %>
      </p>

      <p>
        <%= f.label :fs_qualifica %><br/>
        <%= f.text_field :fs_qualifica %>
      </p>
    </div>
    <div class="fs-profiles-cx">
      <p>
        <%= f.label :fs_tel %><br/>
        <%= f.text_field :fs_tel %>
      </p>

      <p>
        <%= f.label :fs_fax %><br/>
        <%= f.text_field :fs_fax %>
      </p>

      <p>
        <%= f.label :fs_skype %><br/>
        <%= f.text_field :fs_skype %>
      </p>

      <p>
        <%= f.label :fs_mail %><br/>
        <%= f.text_field :fs_mail %>
      </p>

      <p>
        <%= f.label :external_url %><br/>
        <%= f.text_field :external_url %>
      </p>
    </div>
    <div class="fs-profiles-dx">
        <div>
          <b> Mostra in ... </b> &nbsp;<br/>
          <label><%= f.radio_button :display_in, 1 %> <%= 'Collaboratori' %></label><br/>
          <label><%= f.radio_button :display_in, 2 %> <%= 'Responsabili' %></label><br/>
          <label><%= f.radio_button :display_in, 3 %> <%= 'Direttori' %></label> <br/>
          <label><%= f.radio_button :display_in, 4 %> <%= 'Non Visibile' %></label><br/>
          <br/> &nbsp;
        </div>
        <p>  <%= submit_tag "crea", :class => "fs-rosso-button" %></p>

      </div>
      <div class="cleared"></div>
      <p>

      <p><%= f.text_area :titoli,
                         :cols => 20,
                         :rows => 5,
                         :accesskey => accesskey(:edit),
                         :class => 'wiki-edit' %>
      </p>

      <p>
        <%= f.label l(:label_curriculum) %><br/>
        <%= f.text_area :curriculum %>
      </p>

<% end %>
<%= wikitoolbar_for 'user_profile_curriculum' %>
<%= wikitoolbar_for 'curriculum' %>

