<style>
    .thumb {
        height: 120px;
        border: 1px solid #ededed;
        margin: 10px 5px 0 0;
    }
</style>



<% form_tag({:action => "profilo_edit", :id => @user_profile, :method => :post}, :multipart => true) do %>
    <%= hidden_field_tag :user_id, @user_profile.user %>
    <div class="fs-profiles-sx">

      <div id="fs-photo-edit">
        <% if @user_profile.use_gravatar? %>
            <%= '<div id="fs-photo-edit-i"></div><div id="fs-photo-edit-a" style="display:none;">' + image_tag(@user_profile.photo.url(:l)) + '</div>
          <div id="fs-photo-edit-g" style="display=block;">' + gravatar_for(@user_profile.user, :size => 120) + ' </div>' %>
        <% else %>
            <%= '<div id="fs-photo-edit-i"></div><div id="fs-photo-edit-a" style="display:block;">' + image_tag(@user_profile.photo.url(:l)) + '</div>
          <div id="fs-photo-edit-g" style="display=none;">' + gravatar_for(@user_profile.user, :size => 120) + ' </div>' %>
        <% end %>
      </div>

      <!--
      <p id="fs-photo-edit">
        <b> Photo </b>
        <%# image_tag @user_profile.photo.url(:l) %>
      </p>
      -->
      <div>
        <label><%= radio_button_tag :use_gravatar, true, @user_profile.use_gravatar?, :onchange => "funct_avatar('g')" %> <%= 'Usa profilo avatar su Gravatar.it' %></label><br/>
        <label><%= radio_button_tag :use_gravatar, false, !@user_profile.use_gravatar?, :onchange => "funct_avatar('a')" %> <%= 'Usa una tua immagine come avatar' %></label><br/>
      </div>
      <%= file_field_tag :photo, :id => 'photo', :onchange => "handleFileSelect('handleFileSelect, false'})" %>


      <p>
        <%= label_tag :fs_qualifica %><br/>
        <%= text_field_tag :fs_qualifica, @user_profile.fs_qualifica %>
      </p>
    </div>
    <div class="fs-profiles-cx">
      <p>
        <%= label_tag :fs_tel %><br/>
        <%= text_field_tag :fs_tel, @user_profile.fs_tel %>
      </p>

      <p>
        <%= label_tag :fs_fax %><br/>
        <%= text_field_tag :fs_fax, @user_profile.fs_fax %>
      </p>

      <p>
        <%= label_tag :fs_skype %><br/>
        <%= text_field_tag :fs_skype, @user_profile.fs_skype %>
      </p>

      <p>
        <%= label_tag :fs_mail %><br/>
        <%= text_field_tag :fs_mail, @user_profile.fs_mail %>
      </p>

      <p>
        <%= label_tag :external_url %><br/>
        <%= text_field_tag :external_url, @user_profile.external_url %>
      </p>
    </div>
    <div class="fs-profiles-dx">

      <div>
        <b> Mostra in ...  <%= @user_profile.display_in.to_s %></b> &nbsp;<br/>
        <label><%= radio_button_tag :display_in, 1, @user_profile.display_in == 1 %> <%= 'Collaboratori' %></label><br/>
        <label><%= radio_button_tag :display_in, 2, @user_profile.display_in == 2 %> <%= 'Responsabili' %></label><br/>
        <label><%= radio_button_tag :display_in, 3, @user_profile.display_in == 3 %> <%= 'Direttori' %></label><br/>
        <label><%= radio_button_tag :display_in, 4, @user_profile.display_in == 4 %> <%= 'Non Visibile' %></label><br/>
        <br/> &nbsp;
      </div>

      <p>  <%= submit_tag "salva", :action => 'profilo_edit', :class => "fs-giallo-button" %></p>

    </div>
    <div class="cleared"></div>
    <p>
      <%= label_tag l(:label_titoli) %><br/>
    <p>
      <%= text_area_tag :titoli, @user_profile.titoli, :cols => 20, :rows => 4, :class => 'wiki-edit' %>
    </p>
    <p>
      <%= label_tag l(:label_curriculum) %><br/>
      <%= text_area_tag :curriculum, @user_profile.curriculum, :cols => 20, :rows => 6, :class => 'wiki-edit' %>
    </p>


<% end %>
<p>  <%= link_to("elimina profilo", profile_destroy_path(@user_profile.id), :class => "fs-rosso-button", :confirm => "conferma?") %></p>
<%= wikitoolbar_for 'user_profile_curriculum' %>
<%= wikitoolbar_for 'curriculum' %>


<script>
    // valori accettati 1= Immagine Avatar Papareclip , 0 = Immagine Gravatar , 2  = Nuova immagine upload
    function funct_avatar(val) {
        if (val == 'g') {
            document.getElementById('fs-photo-edit-i').style.display = 'none';
            document.getElementById('fs-photo-edit-a').style.display = 'none';
            document.getElementById('fs-photo-edit-g').style.display = 'block';
            alert("zero" + val);
        }
        else if (val == 'a') {
            document.getElementById('fs-photo-edit-i').style.display = 'none';
            document.getElementById('fs-photo-edit-a').style.display = 'block';
            document.getElementById('fs-photo-edit-g').style.display = 'none';
            alert("uno" + val);
        }
        else if (val == 'i') {
            document.getElementById('fs-photo-edit-i').style.display = 'block';
            document.getElementById('fs-photo-edit-a').style.display = 'none';
            document.getElementById('fs-photo-edit-g').style.display = 'none';
            document.getElementById('use_gravatar_false').checked = true;
            document.getElementById('use_gravatar_true').checked = false;
            document.getElementById('use_gravatar_false').setAttribute('checked', 'checked');
        }

    }
    function handleFileSelect(evt) {
        var files = evt.target.files; // FileList object
        // Loop through the FileList and render image files as thumbnails.
        for (var i = 0, f; f = files[i]; i++) {

            // Only process image files.
            if (!f.type.match('image.*')) {
                continue;
            }

            var reader = new FileReader();

            // Closure to capture the file information.
            reader.onload = (function (theFile) {
                return function (e) {
                    // Render thumbnail.
                    // var span = document.createElement('span');
                    var span = document.getElementById('fs-photo-edit-i');
                    span.innerHTML = ['<img class="thumb" src="', e.target.result,
                        '" title="', escape(theFile.name), '"/>'].join('');
                    document.getElementById('fs-photo-edit-i').insertBefore(span, null);
                };
            })(f);

            // Read in the image file as a data URL.
            reader.readAsDataURL(f);
        }
        funct_avatar('i');
    }
    document.getElementById('photo').addEventListener('change', handleFileSelect, false);
</script>