<% if User.current && User.current.logged? %>
    <div class="fs-layout-cell fs-content clearfix">
      <article class="fs-post fs-article">
        <div class="fs-postcontent fs-postcontent-0 clearfix">
          <div class="fs-content-layout">
            <div class="fs-content-layout-row">
              <div class="fs-layout-cell layout-item-0" style="width: 99%">
                <% case @quesito_news_stato_num
                     when 1 %> <!--ATTESA / MODIFICABILE -->
                  <%= @quesito_news.get_state_icons_fe %>
                    <%= @quesito_news.quesito_status_fs_text %>
                    <% form_tag({:controller => "editorial", :action => "quesito_edit", :id => @quesito_news.id, :method => "post"}, :class => "input", :id => "fs-quesito-new") do %>
                        <div>
                          <label>Oggetto </label>
                          <span>  <%= text_area_tag :summary, @quesito_news.summary, :rows => 2, :cols => 25, :tabindex => '1' %>  </span>
                        </div>
                        <div>
                          <label>Quesito </label>
                          <span>  <%= text_area_tag :description, @quesito_news.description, :rows => 10, :cols => 25, :tabindex => '2' %>  </span>
                        </div>
                        <div id="fs-form-quesito-new-btn">
                           <%= link_to('Elimina', { :action => 'quesito_destroy',:id=>@quesito_news.id }, :class => "fs-giallo-button", :confirm => 'Confermi la cancellazione del quesito?') if (User.current.admin? || User.current.ismanager? || User.current == @quesito_news.author) %> &nbsp;
                          <%= submit_tag('Salva le modifiche', :class => "fs-giallo-button", :confirm => 'Confermi le modifiche?') if (User.current.admin? || User.current.ismanager? || User.current == @quesito_news.author)  %> &nbsp;
                          <%= link_to('Indietro', quesiti_my_path, :class => "fs-blu-button") %>
                        </div>
                    <% end %>
                <% when 2 %> <!-- RISPOSTA FAST -->
                  <span style="padding: 0 0 5px 5px;">
                    <%= @quesito_news.get_state_icons_fe %>
                      <%= @quesito_news.quesito_status_fs_text %></span>
                     <% if @quesito_news.reply  %>
                      <%= render :partial => 'quesito', :locals => {:q => @quesito_news} %>
                         <h5> Risposta : </h5>
                       <p><%= raw(@quesito_news.reply) %>  </p>
                      <% end %>

                   <% when 3 %>  <!-- ACCETTATO  -->
                    <span style="padding: 0 0 5px 5px;">
                    <%= @quesito_news.get_state_icons_fe %>
                     <%= @quesito_news.quesito_status_fs_text %> </span>
                    <%= render :partial => 'quesito', :locals => {:q => @quesito_news} %>
                     <%# if @quesito_news.reply  %>
                      <!--   <h5> Messaggio dalla redazione : </h5>
                       <p><%# raw(@quesito_news.reply) %>  </p>  -->
                      <%# end %>
                    <br />
                      <%= render :partial => 'quesito_reply', :locals => {:quesito_issues =>  @quesito_issues} %>

                <% when 9 %> <!-- STATO NON DETERMINATO -->
                    <h2><%= @quesito_news_stato_num.to_s %></h2>
                <% else %>
                    case else???
                <% end %>
              </div>
            </div>
          </div>
        </div>

      </article>

      <br/>
      <% if @quesito_news_stato_num  > 1%>
      <p style="text-align: center;">
      <%= link_to('Indietro', quesiti_my_path, :class => "fs-blu-button") %>  </p>
          <% end %>
      <div class="clearfix"></div>
    </div>
<% else %>
    <h2 style="color:red;">
      Gentile utente per porre quesiti a fiscosport occorre essere autenticati </h2>
<% end %>

<%= render :partial => 'blocco_sidebar1' %>
<%#sidebar a destra %>
