<% if User.current && User.current.logged? %>
    <div class="fs-layout-cell fs-content clearfix">
      <article class="fs-post fs-article">
        <div class="fs-postcontent fs-postcontent-0 clearfix">
          <div class="fs-content-layout">
            <div class="fs-content-layout-row">
              <div class="fs-layout-cell layout-item-0" style="width: 99%">
                <% case @quesito_news_stato_num
                     when 1 %> <!--ATTESA / MODIFICABILE -->
                  <%= @quesito_news.get_state_icons_fe %>
                    <%= @quesito_news.quesito_status_fs_text %>
                    <% form_tag({:controller => "editorial", :action => "quesito_edit", :id => @quesito_news.id, :method => "post"}, :class => "input", :id => "fs-quesito-new") do %>
                        <div>
                          <label>Oggetto </label>
                          <span>  <%= text_area_tag :summary, @quesito_news.summary, :rows => 2, :cols => 25, :tabindex => '1' %>  </span>
                        </div>
                        <div>
                          <label>Quesito </label>
                          <span>  <%= text_area_tag :description, @quesito_news.description, :rows => 10, :cols => 25, :tabindex => '2' %>  </span>
                        </div>
                        <div id="fs-form-quesito-new-btn">
                           <%= link_to 'Elimina', { :action => 'quesito_destroy',:id=>@quesito_news.id }, :class => "fs-giallo-button", :confirm => 'Confermi la cancellazione del quesito?' %> &nbsp;
                          <%= submit_tag 'Salva le modifiche', :class => "fs-giallo-button", :confirm => 'Confermi le modifiche?' %> &nbsp;
                          <%= link_to('Indietro', quesiti_my_path, :class => "fs-blu-button") %>
                        </div>
                    <% end %>
                <% when 2 %> <!-- RISPOSTA FAST -->
                    <%= @quesito_news.get_state_icons_fe %>
                     <%= @quesito_news.quesito_status_fs_text %>
                     <% if @quesito_news.causale  %>
                      <%= render :partial => 'quesito', :locals => {:quesito_news => @quesito_news} %>
                         <h5> Risposta : </h5>
                       <p><%= @quesito_news.causale %>  </p>
                      <% end %>

                   <% when 3 %>  <!-- ACCETTATO  -->
                    <%= @quesito_news.get_state_icons_fe %>
                     <%= @quesito_news.quesito_status_fs_text %>
                    <%= render :partial => 'quesito', :locals => {:quesito_news => @quesito_news} %>
                     <% if @quesito_news.causale  %>

                         <h5> Messaggio dalla redazione : </h5>
                       <p><%= @quesito_news.causale %>  </p>
                      <% end %>
                    <br >/>
                      <%= render :partial => 'quesito_reply', :locals => {:issues => @quesito_issues} %>



                    <h4 > debug @quesito_issues? = <%= @quesito_issues.to_s  %> id: <%= @quesito_issues.id.to_s  %></h4>
                    <h4 > debug @quesito_issues.any? = <%= @quesito_issues.any?.to_s  %> </h4>
                    <h4 > debug quanti articoli? = <%= @quesito_issues_count.to_s  %> </h4>
                    <h4> debug quanti fs1? = <%= @quesito_news.public_fs1 %> id news? <%= @quesito_news.id.to_s %> </h4>

                <% when 9 %> <!-- STATO NON DETERMINATO -->
                    <h2><%= @quesito_news_stato_num.to_s %></h2>
                <% else %>
                    case else???


                <% end %>


                <%= render :partial => 'flash' %>
              </div>
            </div>
          </div>
        </div>
        <br/>
      </article>

      <br/>
      <% if @quesito_news_stato_num  > 1%>
      <p style="text-align: center;">
      <%= link_to('Indietro', quesiti_my_path, :class => "fs-blu-button") %>  </p>
          <% end %>
      <div class="clearfix"></div>
    </div>
<% else %>
    <h2 style="color:red;">
      Gentile utente per porre quesiti a fiscosport occorre essere autenticati </h2>
<% end %>

<%= render :partial => 'blocco_sidebar1' %>
<%#sidebar a destra %>
