<h2><%=h "#{@issue.tracker.name} ##{@issue.id}" %></h2>

<% if @issue.news_id && @issue.news_id > 0 && @issue.quesito_news && @news %>
  <div class=""> <%#splitcontentright%>
    <fieldset class="box tabular">
      <legend><b><%=l(:label_issue_from_news)%></b></legend>
      <%= hidden_field_tag "news_id", @issue.news_id %>
      <div class="attributes">
        <%= render :partial => 'news/abstract' %>
      </div>
    </fieldset>
  </div>
<% end %>

<%= render :partial => 'edit' %>
<% content_for :header_tags do %>
    <%= robot_exclusion_tag %>
<% end %>
