<h2 style="display:inline-block; width: 100%;"><%=link_to 'Indice dei Comuni Italiani', comunes_path %>  </h2><span style="display: inline; position: absolute; left: 65%; margin-top: -30px;" > <%= link_to 'Aggiungi comune', new_comune_path, :class => 'icon icon-add' %></span>
 <div style="width: 100%;  background-color: #B6B6B6; text-align: center;" >
   <% ("A".."Z").map do |l|  %>
       <%= link_to(l, {:controller => 'comunes', :action=>'index' , :letter => l },  {:class => "button-grey " , :style => "margin: 4px;"} ) %>
   <% end %>

 </div>

<% if @comunes.count > 0 %>
<table>
  <tr style="text-align:left;">
    <th style="width: 55%;"><%=l :label_comune %></th>
    <th style="width: 15%;"><%=l :label_province %></th>
    <th style="width: 15%;"><%=l :label_region %></th>
    <th style="width: 5%;"></th>
    <th style="width: 5%;"></th>
  </tr>

<% @comunes.each do |comune| %>
  <tr>
    <td style="border: solid 1px #d3d3d3; font-weight: bold;"><%= link_to comune.name, comune %></td>
    <td><%= link_to comune.province.name, comune_path(comune.province) %></td>
    <td><%= link_to image_tag('Regione/reg_' + comune.province.region.id.to_s + '.png') + '&nbsp;' + comune.province.region.name, region_path(comune.province.region) %>&nbsp;</td>
    <td><%= link_to (l:button_edit), edit_comune_path(comune), :class => 'icon icon-edit' %>&nbsp;</td>
    <td><%= link_to (l:button_delete), comune, :confirm => 'Sei certo di voler eliminare?', :method => :delete, :class => 'icon icon-del' %></td>
  </tr>
<% end %>
</table>
    <% else %>
    <h1> Nessun comune inizia per <%= params[:letter] %>  </h1>
    <%	end  %>

<br />
