<h1>Listing comunes</h1>
 <div style="width: 100%; height: 66px; background-color: #B6B6B6; text-align: center;" >
   <% ("A".."Z").map do |l|  %>
       <%= link_to(l, {:controller => 'comunes', :action=>'index' , :letter => l },  {:class => "button-grey " , :style => "margin: 4px;"} ) %>
   <% end %>

 </div>

<% if @comunes.count > 0 %>
<table>
  <tr>
    <th>Name</th>
    <th>province_id</th>
    <th>region_id</th>
  </tr>

<% @comunes.each do |comune| %>
  <tr>
    <td><%=h comune.name %></td>
    <td><%=h comune.province_id %></td>
    <td><%=h comune.region_id %></td>
    <td><%= link_to 'Show', comune %></td>
    <td><%= link_to 'Edit', edit_comune_path(comune) %></td>
    <td><%= link_to 'Destroy', comune, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
    <% else %>
    <h1> Nessun comune inizia per <%= params[:letter] %>  </h1>
    <%	end  %>

<br />

<%= link_to 'New comune', new_comune_path %>