<h2 style="display:inline-block; width: 100%;"><%= link_to '&nbsp;', comunes_path %>  </h2>
<span style="display: inline; position: absolute; left: 50%; margin-top: -30px;">
  <%= link_to 'Aggiungi', new_comune_path, :class => 'icon icon-add' %> &nbsp;
  <%= link_to (l :button_edit), edit_comune_path(@comune), :class => 'icon icon-edit' %>&nbsp;
  <%= link_to (l :button_delete), @comune, :confirm => 'Sei certo di voler eliminare?', :method => :delete, :class => 'icon icon-del' %>
  <%= link_to (l :button_back), :back, :class => 'icon icon-cancel' %>&nbsp;</span>
<p>&nbsp;</p>
<fieldset class="box tabular" id="comunes-form">
  <legend style="font-weight: bold; font-size: 1.5em;"><%= @comune.name %></legend>
  <blockquote>
    <br/>


    <p>
      <label>
        <br>
        Regione </label>: <%= link_to image_tag('Regione/reg_' + @comune.province.region.id.to_s + '.png') + '&nbsp;' + @comune.province.region.name, region_path(@comune.province.region) %>
    </p>

    <p>
      <label>
        Provincia </label>: <%=  link_to @comune.province , province_path %>
    </p>

    <p>
      <label> Abitanti </label>: <%= @comune.abitanti %>
    </p>

    <p>
      <label> Cap </label>: <%= @comune.cap %>
    </p>

    <p>
      <label> Prefisso Tel. </label>: <%= @comune.prefisso_tel %>
    </p>

    <p>
      <label> Cod. Fisco </label>: <%= @comune.cod_fisco %>
    </p>

    <p>
      <label> Link </label>: <%= link_to @comune.link_to_comune, @comune.link_to_comune %>
    </p>
  </blockquote>
</fieldset>
