<fieldset class="box tabular">
  <legend><%= l(:label_newsletter) %></legend>
  <!--
  <div class="contextual">
    <%= link_to(l(:button_delete),
                newsletter_path(@newsletter),
                :confirm => l(:text_are_you_sure),
                :method => :delete,
                :class => 'icon icon-del') if User.current.admin? %>

  </div>
  -->
  <p><label>
    <%= l(:label_project) %></label><span><%= link_to h(@newsletter.project), project_path(@newsletter.project, :id => @newsletter.project_id), {:class => 'icon icon-projects'} %>
  </span></p>

  <p><label><%= l(:label_sended) %></label><span>
      <%= check_box_tag '', 1, @newsletter.sended, :disabled => 'disabled' %>
  </span></p>

  <p><label>
    <%= l(:label_first_sent) %></label><span><%= format_date(@newsletter.data) %>
  </span></p>

  <p><label>
    <%= l(:label_email_programmed) %></label><span><%= NewsletterUser.count(:conditions => ["newsletter_id = ?", @newsletter.id ]) %>
  </span></p>

  <hr/>
  <div class="contextual">
    <%= link_to_function(image_tag('eye.gif'), "setVisible('div_newsletter', true)",
                         :title => "#{l(:button_show)}") %>
    <%= link_to_function(image_tag('eye-no.gif'), "setVisible('div_newsletter', false)",
                         :title => "#{l(:button_hide)}") %>
  </div>

  <div id='div_newsletter' style="margin-top:30px;">

    <div style="clear:left;"></div>
    <p><%= link_to_remote l(:label_preview),
       {:url => preview_newsletter_nl_path(:id => @newsletter),
        :method => 'get',
        :update => 'news_preview',
        :complete => "Element.scrollTo('news_preview')"
       }, :accesskey => accesskey(:preview)
      %></p>
    <div>
      <fieldset class="htmldraft">
        <legend><%= l(:label_preview) %>:</legend>
        <div id="news_preview" class="">
          <p>
            Selezionare un Quindicinale ed cliccare su Anteprima

          <p>
          </p>
        </div>
      </fieldset>
    </div>

    <p style="display: none;">TODO Dom Verificare il checksum</p><%# @newsletter.html %></div>
</fieldset>

<script type="text/javascript" charset="utf-8">
    setVisible('div_newsletter', false);
</script>
