<fieldset class="box tabular">
  <legend><%=l(:label_newsletter)%></legend>

  <p><label>
    <%= l(:label_project) %></label><span><%= link_to h(@newsletter.project), project_path(@newsletter.project, :id => @newsletter.project_id), { :class => 'icon icon-projects'} %>
  </span></p>
  <p><label><%= l(:label_sended) %></label><span>
      <%= check_box_tag '', 1, @newsletter.sended, :disabled => 'disabled'  %>
  </span></p>
  <p><label>
    <%=l(:label_first_sent)%></label><span><%= format_date(@newsletter.data) %>
  </span></p>
  <hr />
  <div class="contextual">
    <%= link_to_function(image_tag('eye-no.gif'), "setVisible('div_newsletter', false)",
        :title => "#{l(:button_show)}") %>
    <%= link_to_function(image_tag('eye.gif'), "setVisible('div_newsletter', true)",
        :title => "#{l(:button_hide)}") %>
  </div>

  <div id='div_newsletter' ><%= @newsletter.html %></div>

</fieldset>

<script type="text/javascript" charset="utf-8">
  setVisible('div_newsletter', false);
</script>
