<%# include FeesHelper  #Domthu  FeeConst get_role_css %>
<%# quando chiamato via ajax undefined method `get_role_css' for #<ActionView::Base:0xb2eeb968>%>
<% if @nl_users && @nl_users.any? %>
  <table class="list users">
    <thead>
    <th style="text-align:left;"><%= l(:field_mail) %></th>
    <th style="text-align:left;"><%= l(:label_user) %>&nbsp;(<%= l(:field_due_date) %>)</th>
    <th style="text-align:left;" title="Attenzione questo è il ruolo attuale e non quello al momento dell'invio della mail"><%= l(:field_role) %></th>
    <th style="text-align:left;"><%= l(:field_convention) %></th>
    <th style="text-align:left;"><%= l(:field_updated_on) %></th>
    </thead>
    <tbody>
    <%#.sort_by(&:sended) undefined method `<=>' for false:FalseClass %>
    <% @nl_users.each do |user| %>
        <tr id="user-<%= user.id %>" class="user">
          <td>
            <div style="width:1px;" class="flash <%= user.sended? ? 'notice' : (user.errore.nil? ? 'warning' : 'error') %>" title="<%= user.errore.nil? ? '' : user.errore %>">&nbsp;</div>
          </td>
          <td>
            <%= link_to_user(user.user, {:target => "_blank", :class => 'icon icon-preview'}) unless User.current.admin? %>
            <%= link_to(h(user.user.name), edit_user_path(:id => user.user), {:target => "_blank", :class => 'icon icon-preview'}) unless !User.current.admin? %><br /><%= ("(" + format_date(user.data_scadenza) + ")") unless user.data_scadenza.nil? %>
          </td>
          <td class="ico" align="left">
            <%= user_role_iconized(nil, :size => 'l', :icon_for => get_role_css(user.user.role_id), :text => '') %>
          </td>
          <td>
            <%= link_to(h(user.convention), convention_path(:id => user.convention), {:target => "_blank", :class => 'icon icon-preview'}) unless user.convention_id.nil? %>
          </td>
          <td>
            <%= format_date(user.updated_at) %>
          </td>
        </tr>
        <% if !user.errore.nil? && !user.errore.empty? %>
        <tr>
          <td></td>
          <td colspan="4">
            <div class="flash error">
              <%= user.errore%>
            </div>
          </td>
        </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>
