<div class="contextual">
<em class="hide">Limit <%# @limit %></em>
<em class="hide">offset <%# @offset %></em>
<em class="hide">convention id <%= @convention_id %></em>
<em class="hide">role id <%= @role %></em>
<em class="hide">name <%= @name %></em>

</div>

<%= render :partial => 'show', :newsletter => @newsletter %>

<h2><%=l(:label_newsletter)%></h2>


<div class="autoscroll">
<table id="tblinvii" class="list">
  <thead><tr>
  <th style="text-align:left; width: 10%;"></th>
  <th style="text-align:left; width: 65%;"><%= l(:field_role) %><br /><%= l(:field_convention) %></th>
  <th style="text-align:left; width: 10%;"><%= l(:field_data_scadenza) %></th>
  <th style="text-align:left; width: 5%;"><%= l(:field_users) %></th>
  <th style="text-align:left; width: 5%;"></th>
    <input id="checkbox_selector" type="checkbox" name="invia" class="selectall" checked="checked" />
  </th>
  <th style="text-align:left; width: 5%;">
    <i class="icon icon-email" title="email già inviato?"></i>
  </th>
  </tr></thead>
  <tbody>
<% for abbo in FeeConst::ROLES -%>
  <tr class='user <%= cycle("odd", "even") %>'>
    <td class="ico" align="left"><%= user_role_iconized(nil, :size => "l", :icon_for => abbo, :text => '') %></td>
    <td class="role" align="left"> <%= get_abbonamento_name(abbo) %>
  </td>
    <td class="datascadenza" align="left"><%= abbo.to_s %></td>
    <td class="cnt" align="left"><%= User.all(:conditions => ["convention_id is null AND role_id=?", abbo]).count %></td>
    <td class="checkbox">
      <%= check_box_tag 'abbo_ids[]', abbo, {:name => "invia"} %></td>
    </td>
    <td>
        <%# user.scoped_by_newsletter_users(@).nil? %>
    </td>
  </tr>
<% end -%>
<% for convention in Convention.all -%>
  <tr class='convention <%= cycle("odd", "even") %>'>
    <td class="ico" align="left"></td>
    <td class="convention" align="left"><%= h truncate(convention.name, :length => 300)%></td>
    <td class="datascadenza" align="left"><%= format_date(convention.scadenza) %></td>
    <td class="cnt" align="left"><%= convention.users.count %></td>
    <td class="checkbox">
      <%= check_box_tag 'conv_ids[]', convention.id, {:name => "invia"} %></td>
    </td>
    <td>
        <%# user.scoped_by_newsletter_users(@).nil? %>
    </td>
  </tr>
<% end -%>
  </tbody>
</table>
<script type="text/javascript" charset="utf-8">

    var checkboxes = $$("#tblinvii input[type=checkbox]");
    var cbControl = $("checkbox_selector");

    cbControl.observe("click", function(){
      checkboxes.each(function(box){
        box.checked = cbControl.checked;
      });
    });

  </script>
</div>
<p class="pagination"><%# pagination_links_full @user_pages, @user_count %></p>

<% html_title(l(:label_user_plural)) -%>
