<div class="contextual">
<%= link_to l(:label_group_banner_new), new_group_banner_path, :class => 'icon icon-add' %>
</div>

<h2><%= l(:label_group_banner_plural) %></h2>
<div id="footer-menu" class="box">
  <%= render_menu :menu_table_fs %>
</div>

<% if @group_banners.any? %>
<table class="list group_banners">
  <thead><tr>
  <%= sort_header_tag('espositore', :title => l(:label_espositore), :style => 'width: 40%;text-align:left;')%>
  <%= sort_header_tag('url', :title => l(:label_url), :style => 'width: 15%;text-align:left;')%>
    <%= sort_header_tag('posizione', :title => l(:label_posizione), :style => 'width: 15%;text-align:left;')%>
  <%= sort_header_tag('priorita', :title => l(:label_priorita), :style => 'width: 10%;text-align:center;')%>
  <%= sort_header_tag('visibile_web', :caption => 'web?', :title => l(:label_visibile_web), :style => 'width: 5%;text-align:center;')%>
  <%= sort_header_tag('visibile_mail', :caption => 'mail?', :title => l(:label_visibile_mail), :style => 'width: 5%;text-align:center;')%>
  <th style='width: 5%;'></th>
  <th style='width: 5%;'></th>
  </tr></thead>
  <tbody>
<% @group_banners.each do |group_banner| %>
  <tr class="<%= cycle 'odd', 'even' %>">
    <td><%= link_to h(group_banner), group_banner_path(group_banner) %></td>
    <td>
        <%= url_get_external group_banner.url %>
    </td><td><%=h group_banner.posizione %></td>
    <td align="center"><%=h group_banner.priorita %></td>
    <td align="center"><%= check_box_tag '', 1, group_banner.visibile_web, :disabled => 'disabled' %></td>
    <td align="center"><%= check_box_tag '', 1, group_banner.visibile_mail, :disabled => 'disabled' %></td>
    <td class="buttons"><%= link_to('', edit_group_banner_path(group_banner), :class => 'icon icon-edit') if User.current.admin? %></td>
    <td class="buttons"><%= link_to ('', group_banner, :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del') if User.current.admin? %></td>
  </tr>
<% end %>
</table>

<p class="pagination"><%= pagination_links_full @group_banner_pages, @group_banner_count %></p>

<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
