<p>
  <b>espositore:</b>
  <%=h @group_banner.espositore %>
</p>

<p>
  <b>URL:</b>
  <%=h @group_banner.url %>
</p>

<p>
  <b>priorita:</b>
  <%=h @group_banner.priorita %>
</p>

<p>
  <b>posizione:</b>
  <%=h @group_banner.posizione %>
</p>

<p>
  <b>se_visibile:</b>
  <%=h @group_banner.se_visibile %>
</p>

<p>
  <b>banner:</b>
  <%=h @group_banner.banner %>
</p>

<p>
  <b>impressions:</b>
  <%=h @group_banner.impressions %>
</p>

<p>
  <b>clicks:</b>
  <%=h @group_banner.clicks %>
</p>

<p>
  <b>didascalia:</b>
  <%=h @group_banner.didascalia %>
</p>

<p>
  <b>se_prima_pagina:</b>
  <%=h @group_banner.se_prima_pagina %>
</p>

<p>
  <b>impressions_history:</b>
  <%=h @group_banner.impressions_history %>
</p>


<%= link_to 'Edit', edit_group_banner_path(@group_banner) %> |
<%= link_to 'Back', group_banners_path %>