<div class="contextual">
  <%= link_to(l(:button_edit), edit_group_banner_path(@group_banner), :class => 'icon icon-edit') if User.current.admin? %>
  <%= link_to(l(:button_delete),
              group_banner_path(@group_banner),
              :confirm => l(:text_are_you_sure),
              :method => :delete,
              :class => 'icon icon-del') if User.current.admin? %>
</div>
<h2><%= link_to l(:label_group_banner_plural), group_banners_path %> &#187; <%= h @group_banner %></h2>
<div class="splitcontentleft">
  <fieldset class="box tabular">
    <legend><%= l(:label_group_banner) %></legend>
    <p>
      <% unless @group_banner.espositore.blank? %>
          <b><em><%= h @group_banner.espositore %></em></b>
          <br/>
      <% end %>
    </p>

    <p><%= l(:label_url) %>:
      <%= url_get_external @group_banner.url %><br/>
      <%= h @group_banner.url %>
    </p>

    <p> <%= l(:label_priorita) %>: <%= h @group_banner.priorita %></p>

    <p><%= l(:label_visibile_web) %>:<%= check_box_tag '', :visibile_web, :disabled => true %></p>

    <p><%= l(:label_visibile_mail) %>:<%= check_box_tag '', :visibile_mail, :disabled => true %></p>

    <p><%= l(:label_priorita) %>: <%= h @group_banner.priorita %></p>

  </fieldset>
</div>

<div class="splitcontentright">
  <p style="background-color: #2C4056; padding: 3px 0; color: #fff; display: table; width: 100%; margin:10px 0;">
    <%= l(:label_posizione) %> <%= h @group_banner.posizione %></p>
  <div>
    <fieldset class="htmldraft">
      <% if @group_banner.posizione == "convenzionato" %>
          <legend><%= l(:label_didascalia) %>:</legend>
          <% unless @group_banner.didascalia.nil? %>
              <%= @group_banner.didascalia.html_safe %>
          <% end %>
      <% else %>
          <% unless @group_banner.posizione.nil? %>
              <p> <%= l(:label_immagine) %>
                <%= image_tag @group_banner.image.url(@group_banner.posizione.to_sym) %>
              </p>
          <% end %>
      <% end %>
    </fieldset>
  </div>
</div>
<div style="clear:both;"></div>