<% roles_fs = Role.all_fs %>
<% remote_form_for(:user, :url => { :action => 'edit_abbonamento', :id => @user}, :builder => TabularFormBuilder, :html => {:method => :post}) do |f| %>

  <p><%= submit_tag l(:button_save_abbonamento) %></p>
  <div id="edit_dati_form">
    <!--[form:user]-->
    <div class="splitcontentleft">

      <fieldset class="box tabular">
        <legend><%=l(:label_gest_privato)%></legend>
          <div class="contextual">
            <%= gravatar_for(@user) unless !@user %>
          </div>
        <p class="">
          <label><%= l(:field_name) %></label>
          <span><%= @user.name %></span>
        </p>
          <p class="">
            <label><%= l(:label_localizazzione) %></label>
            <span><%= @user.getLocalization() %></span>
          </p>

          <p class="">
            <label for="siglatipo"><%= l(:field_cross_organization) %></label>
            <span><% if @user.cross_organization %>
                <%= link_to h(@user.cross_organization), cross_organization_path (@user.cross_organization) %>
              <% else %>
                <%= l(:label_no_sigla_tipo) %>
              <% end %>
            </span>
          </p>
<!--
              </fieldset>


      <fieldset class="box tabular">
        <legend><%=l(:label_is_referente)%></legend>

          <p><%= f.check_box :power_user, :label => '', :title => 'power user' %>&nbsp;<%=l(:field_power_user)%> </p>


          <p class="">
            <label for="refe"><%= l(:label_have_referee) %></label>
            <span class="<%= 'total' if @user.is_referente? %>">
            <%# check_box_tag 'refe', 1, @user.is_referente?, :disabled => 'disabled', :class => (@user.is_referente? ? 'total' : '') %></span>
          </p>
        -->
          <p class="">
            <label><%= l(:label_referee_list_conventions) %></label>

            <span>
              <% if @user.responsable? && @user.responsable_of && @user.responsable_of.count > 0 %>
                <span><%= l(:label_total) %>:<strong class="total center"><%= h @user.responsable_of.count %></strong><%= l(:label_list_responsable_for)%></span>
                <ul>
                <% @user.responsable_of.sort_by(&:data_scadenza).reverse.each do |conv| %>
                  <li><%= link_to h(conv), convention_path(conv) %></li>
                <% end %>
                </ul>
              <%else %>
                <%= l(:label_not_responsable) %>
              <% end %>
            </span>
          </p>

      </fieldset>

      <fieldset class="box tabular">
        <legend title="<%=l(:label_gest_organismo)%>"><%= l(:field_convention) %></legend>
        <p>
          <%= f.select :convention_id, (Convention.all.collect {|c| [truncate(c.name, 39), c.id]}), :include_blank => true, :required => false, :label => :label_convention_change, :size => 60 , :title => 'cambia convenzione' %>
        </p>
          <p class="">
            <label><%= l(:label_have_convention) %></label>
            <span>
              <% if @user.convention %>
                  <%= link_to h(@user.convention), convention_path(@user.convention) %>
                  <br /><%= h(@user.convention.pact) %>
              <% else %>
                <%= l(:label_no_convention) %>
              <% end %>
            </span>
          </p>

<% if @user.convention %>  <%#========================%>

          <p class="">
            <label><%= l(:label_convention_type) %></label>
            <span>
              <% if @user.convention.se_sport? %> %>
                <%= l(:label_convention_sport) %>
              <% else %>
                <%= l(:label_convention_no_sport) %>
              <% end %>
            </span>
          </p>

          <p class="">
            <label><%= l(:zone_area) %></label>
            <span>
              <%= @user.convention.get_zone() %>
            </span>
          </p>

          <p class="">
            <label title="<%= l(:stato_scadenza) %>"><%= l(:label_data_scadenza) %></label>
            <span title="<%= format_date(@user.convention.data_scadenza) %>">
              <%= getdate(@user.convention.data_scadenza) %>
              <%# if @user.convention.data_scadenza.is_a?(Date) %>
              <% if @user.convention.data_scadenza %>
              -->
                <% if @user.convention.data_scadenza < Date.today %>
                  <%= l(:state_expired) %>
                <% else %>
                <% if ((@user.convention.data_scadenza - Setting.renew_days.to_i.days)  < Date.today) %>
                  <%= l(:state_valid) %>
                <% else %>
                  <%= l(:state_expiring) %>
                <% end %>
                <% end %>
              <% else %>
              <% end %>
            </span>
          </p>

          <p class="">
          <label><%=l(:label_referente) %></label><span>
            <% if @user.convention.user %>
              <%= link_to h(@user.convention.user) unless User.current.admin? %>
              <%= link_to h(@user.convention.user), edit_user_path(:id => @user.convention.user) unless !User.current.admin? %>
            <% else %>
              <em class="nodata"><%= l(:label_no_referente) %></em>
            <% end %>
          </span></p>

      </fieldset>


      <fieldset class="box tabular">
        <legend><%=l(:label_conventions_users)%></legend>
        <% convenzionati = @user.convention.users %>
        <% if convenzionati.any? %>
          <%= l(:label_total) %>:<strong class="total center"><%= h convenzionati.count %></strong>
          <table class="list users">
            <thead>
              <th style="text-align:left;"><%= l(:label_user) %></th>
              <th style="text-align:left;"><%= l(:field_due_date) %></th>
              <th style="text-align:left;"><i class="icon icon-man" title="Power user, responsabile"></i></th>
            </thead>
            <tbody>
            <% convenzionati.sort_by(&:lastname).each do |user| %>
              <tr id="user-<%= user.id %>" class="<%= cycle 'odd', 'even' %>">
                <td>
                  <%= user_role_iconized(user, :size => "s", :icon_for => user.uicon, :text => link_to(user, edit_user_path(user))) %>
                </td>
              <!--  <td class="user icon<%# user.icon() %>">
                  <%# link_to_user user unless User.current.admin? %>
                  <%# link_to h(user), edit_user_path(:id => user) unless !User.current.admin? %>
                </td>   -->
                <td>
                  <%= format_date(user.scadenza) %>
                </td>
                <td>
                  <%= check_box_tag '', 0, user.power_user, :disabled => 'disabled'  %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
          <p class="nodata"><%= l(:label_no_soci) %></p>
        <% end %>
<% end %>  <%#========================%>
      </fieldset>

    </div>
    <div class="splitcontentright">

      <fieldset class="box">
        <legend><%=l(:label_scadenza_ruolo)%></legend>

        <p>
          <%=l(:field_tariffa_precedente)%>
        <p>
        <p><%= f.text_field :tariffa_precedente, :label => '', :required => false, :size => 5  %></p>
        <p>
          <%=l(:field_data)%> <%= format_date @user.data %></p>
        <p>
          <%# f.date_select :data, :label => :field_data %>
          <%= f.text_field :data, :label => '', :size => 10 %><%= calendar_for('user_data') %>
        </p>
        <p>
          <%=l(:field_datascadenza)%> <%= format_date @user.datascadenza %></p>
        <p>
          <%# f.date_select :datascadenza, :label => :field_datascadenza %>
          <%= f.text_field :datascadenza, :label => '', :size => 10 %><%= calendar_for('user_datascadenza') %>
        </p>


        <p><%=l(:field_role)%>: <%= @user.role_id.to_s %></p>
        <p>
          <strong>
          <% roles_fs.each do |role| %>
            <%= radio_button_tag 'user[role_id]', role.id, (role.id == @user.role_id) %> <%=h get_abbonamento_name(role.id) %>
            <br />
          <% end %>
          </strong>
        </p>

        <p>In questo momento l'utente risulta:</p>
          <ul>
            <% if FeeConst::FEE_ROLES.include? @user.role_id %>
              <li><div class="flash notice">Soggetto alla gestione abbonamento</div></li>
            <% else %>
              <li><div class="flash warning">Non soggetto alla gestione abbonamento</div></li>
            <% end %>
              <li title="ha un ruolo che lui permette di accedere all'area privata di gestione <%= Setting.app_title %>">Accede al backend? <div style="width:1px;" class="flash <%= (FeeConst::CAN_BACK_END_ROLES.include? @user.role_id) ? "notice" : "warning" %>">&nbsp;</div></li>
          </ul>

        <p>Il suo nome appare cosi:</p>
        <ul>
          <li>In chiaro: <%= @user.name %></li>
          <li>Protetto: <%= @user.hide_name %></li>
        </ul>
        <% if @user.privato? %>
          <p>E un <mark>privato</mark></p>
        <% else %>
          <p>E un <mark>convenzionato:</mark></p>
          <ul>
            <li><%= @user.convention.to_s%></li>
            <li><%= @user.convention.pact%></li>
          </ul>
        <% end %>
        <p>La sua data di scadenza risulta:</p>
        <ul>
          <li><%= format_date @user.scadenza %></li>
          <li><%= distance_of_date_in_words(@user.scadenza, Time.now) unless @user.scadenza.nil? %></li>
          <li><%= @user.scadenza_fra %></li>
        </ul>
      </fieldset>

    </div>

  </div>
  <div style="clear:left;"></div>
  <!--[eoform:user]-->

  <p><%= submit_tag l(:button_save_abbonamento) %></p>
<% end %>
