<% roles_fs = Role.all_fs %>
<% remote_form_for(:user, :url => { :action => 'edit_abbonamento', :id => @user}, :builder => TabularFormBuilder, :html => {:method => :post}) do |f| %>

  <p><%= submit_tag l(:button_save_abbonamento) %></p>
  <div id="edit_dati_form">
    <!--[form:user]-->
    <div class="splitcontentleft">

      <fieldset class="box tabular">
        <legend><%=l(:label_gest_privato)%></legend>
          <div class="contextual">
            <%= gravatar_for(@user) unless !@user %>
          </div>
          <p class="">
            <label><%= l(:label_localizazzione) %></label>
            <span><%= @user.getLocalization() %></span>
          </p>

          <p class="">
            <label for="siglatipo"><%= l(:label_have_sigla_tipo) %></label>
            <span><% if @user.cross_organization %>
                <%= link_to h(@user.cross_organization), cross_organization_path (@user.cross_organization) %>
              <% else %>
                <%= l(:label_no_sigla_tipo) %>
              <% end %>
            </span>
          </p>

      </fieldset>

      <fieldset class="box tabular">
        <legend><%=l(:label_is_referente)%></legend>

          <p><%= f.check_box :power_user, :label => :field_power_user, :title => 'power user' %> </p>

          <p class="">
            <label for="refe"><%= l(:label_have_referee) %></label>
            <span class="<%= 'total' if @user.is_referente? %>">
            <%# check_box_tag 'refe', 1, @user.is_referente?, :disabled => 'disabled', :class => (@user.is_referente? ? 'total' : '') %></span>
          </p>

          <p class="">
            <label><%= l(:label_referee_list_conventions) %></label>

            <span>
              <% if @user.responsable? && @user.responsable_of && @user.responsable_of.count > 0 %>
                <span><%= l(:label_total) %>:<strong class="total center"><%= h @user.responsable_of.count %></strong><%= l(:label_list_responsable_for)%></span>
                <ul>
                <% @user.responsable_of.sort_by(&:data_scadenza).reverse.each do |conv| %>
                  <li><%= link_to h(conv), convention_path(conv) %></li>
                <% end %>
                </ul>
              <%else %>
                <%= l(:label_not_responsable) %>
              <% end %>
            </span>
          </p>

      </fieldset>

      <fieldset class="box tabular">
        <legend><%=l(:label_gest_organismo)%></legend>

          <div class="convention-select"></div>

          <%= f.select :convention_id, (Convention.all.collect {|c| [smart_truncate(c.name, 40), c.id]}), :include_blank => true, :required => false, :size => 60, :title => 'cambia asso' %>

          <p class="">
            <label><%= l(:label_have_convention) %></label>
            <span>
              <% if @user.convention %>
                  <%= link_to h(@user.convention), convention_path(@user.convention) %>
                  <br />Copertura geografica:
                  <br /><%= h(@user.convention.pact) %>
              <% else %>
                <%= l(:label_no_convention) %>
              <% end %>
            </span>
          </p>

<% if @user.convention %>

          <p class="">
            <label><%= l(:label_convention_type) %></label>
            <span>
              <% if @user.convention.cross_organization %>
                <%= l(:label_convention_organismo) %>
              <% else %>
                <%= l(:label_convention_societa) %>
              <% end %>
            </span>
          </p>

          <p class="">
            <label><%= l(:stato_scadenza) %></label>
            <span>
              <%= format_date(@user.convention.data_scadenza) %>
              -->
              <% if @user.convention.data_scadenza.is_a?(Date) %>
                <% if @user.convention.data_scadenza < Date.today %>
                  <%= l(:state_expired) %>
                <% else %>
                <% if ((@user.convention.data_scadenza - Setting.renew_days.to_i.days)  < Date.today) %>
                  <%= l(:state_valid) %>
                <% else %>
                  <%= l(:state_expiring) %>
                <% end %>
                <% end %>
              <% else %>
                TODO
              <% end %>
            </span>
          </p>

          <p class="">
          <label><%=l(:label_referente) %></label><span>
            <% if @user.convention.user %>
              <%= link_to h(@user.convention.user) unless User.current.admin? %>
              <%= link_to h(@user.convention.user), edit_user_path(:id => @user.convention.user) unless !User.current.admin? %>
            <% else %>
              <em class="nodata"><%= l(:label_no_referente) %></em>
            <% end %>
          </span></p>

      </fieldset>

      <fieldset class="box tabular">
        <legend><%=l(:label_conventions_users)%></legend>
        <% convenzionati = @user.convention.users %>
        <% if convenzionati.any? %>
          <%= l(:label_total) %>:<strong class="total center"><%= h convenzionati.count %></strong>
          <table class="list users">
            <thead>
              <th style="text-align:left;"><%= l(:label_user) %></th>
              <th style="text-align:left;"><%= l(:field_due_date) %></th>
              <th style="text-align:left;"><i class="icon icon-man" title="Power user, responsabile"></i></th>
            </thead>
            <tbody>
            <% convenzionati.sort_by(&:lastname).each do |user| %>
              <tr id="user-<%= user.id %>" class="<%= cycle 'odd', 'even' %>">
                <td>
                  <%= user_role_iconized(user, :size => "s", :icon_for => user.uicon, :text => link_to(user, edit_user_path(user))) %>
                </td>
              <!--  <td class="user icon<%# user.icon() %>">
                  <%# link_to_user user unless User.current.admin? %>
                  <%# link_to h(user), edit_user_path(:id => user) unless !User.current.admin? %>
                </td>   -->
                <td>
                  <%= format_date(user.scadenza) %>
                </td>
                <td>
                  <%= check_box_tag '', 0, user.power_user, :disabled => 'disabled'  %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
          <p class="nodata"><%= l(:label_no_soci) %></p>
        <% end %>
<% end %>
      </fieldset>

    </div>
    <div class="splitcontentright">

      <fieldset class="box tabular">
        <legend><%=l(:label_scadenza_ruolo)%></legend>

        <p><%= f.text_field :tariffa_precedente, :label => :field_tariffa_precedente, :required => false, :size => 5  %></p>
        <p><%=l(:field_data)%> <%= format_date @user.data %></p>
        <p>
          <%# f.date_select :data, :label => :field_data %>
          <%= f.text_field :data, :label => l(:field_data), :size => 10 %><%= calendar_for('user_data') %>
        </p>
        <p><%=l(:field_datascadenza)%> <%= format_date @user.datascadenza %></p>
        <p>
          <%# f.date_select :datascadenza, :label => :field_datascadenza %>
          <%= f.text_field :datascadenza, :label => l(:field_datascadenza), :size => 10 %><%= calendar_for('user_datascadenza') %>
        </p>

<p></p>
        <p><label><%= l(:label_role) %></label><strong>

        <% roles_fs.each do |role| %>
          <%= radio_button_tag 'user[role_id]', role.id, (role.id == @user.role_id) %> <%=h role %>
          <br />
        <% end %>
        </strong></p>
        <p><%=l(:field_role)%>: <%= @user.role_id.to_s %></p>
      </fieldset>

    </div>

  </div>
  <div style="clear:left;"></div>
  <!--[eoform:user]-->

  <p><%= submit_tag l(:button_save_abbonamento) %></p>
<% end %>
