<% roles_fs = Role.all_fs %>
<% remote_form_for(:user, :url => { :action => 'edit_abbonamento', :id => @user}, :builder => TabularFormBuilder, :html => {:method => :post}) do |f| %>

  <div id="edit_dati_form">
    <!--[form:user]-->
    <div class="splitcontentleft">


      <fieldset class="box">
        <legend><%=l(:label_gest_privato)%></legend>
          <%= gravatar_for(User.current) unless !User.current %>

          <p class="">
            <label><%= l(:label_have_sigla_tipo) %></label>
            <span>
              <% if User.current && User.current.associazione_affiliata() %>
                  ASSOCIAZIONE: <%= link_to h(User.current.associazione_affiliata()), asso_path(User.current.associazione_affiliata()) %>
              <% else %>
                <%= l(:label_no_asso) %>
              <% end %>
            </span>
          </p>

          <p class="">
            <label><%= l(:label_have_organization) %></label>
            <span>
              <% if User.current && User.current.organization() %>
                  <%= link_to h(User.current.organization()), organization_path(User.current.organization()) %>
              <% else %>
                  <%= l(:label_no_organization) %>
              <% end %>
            </span>
          </p>

          <p class="">
            <label><%= l(:label_is_responsable) %></label>
            <span>
              <% if User.current && User.current.responsable? && User.current.responsable_of
                User.current.responsable_of.each do |organismo| %>
                  <%= link_to h(organismo), organization_path(organismo) %>
              <% end
              else %>
                <%= l(:label_not_responsable) %>
              <% end %>
            </span>
          </p>

          <p><%= f.select :asso_id, (Asso.all.collect {|c| [smart_truncate(c.name, 40), c.id]}), :include_blank => true, :required => false, :size => 60, :title => l(:label_asso) %></p>
        <% if @user.asso_id? %>
          <p><%= link_to h(@user.asso.to_s), asso_path(@user.asso, :id => @user.asso_id) %>  %></p>
        <% end %>

      </fieldset>

      <fieldset class="box tabular">
        <legend><%=l(:label_gest_organismo)%></legend>

          <p><%= f.check_box :power_user, :label => :field_power_user, :title => 'power user' %> </p>

          <p class="">
            <label for="refe"><%= l(:label_is_referente) %></label>
            <span class="<%= 'total' unless !@user.is_referente? %>">
            <%= check_box_tag 'refe', 1, @user.is_referente?, :disabled => 'disabled', :class => (@user.is_referente? ? 'total' : '') %></span>
          </p>

          <p class="">
            <label for="siglatipo"><%= l(:label_have_sigla_tipo) %></label> </p>
          <p class="">
            <span><% if User.current && User.current.sigla_tipo() %>
                <%= link_to h(User.current.sigla_tipo()), cross_organization_path (User.current.sigla_tipo()) %>
              <% else %>
                <%= l(:label_no_sigla_tipo) %>
              <% end %>
            </span>
          </p>

        <p><%= f.select :cross_organization_id, (CrossOrganization.all.collect {|c| [c.organizzazione + ' (' + c.sigla + ')', c.id]}), :include_blank => true, :required => false, :size => 60, :title => l(:label_cross_organization) %><small>l'utente può appartenere o non ad una organizzazione. I 2 campi Sigla (ex Organismi) e Tipo organizzazione sono raddunati in una foreign_key
</small></p>

      </fieldset>

    </div>
    <div class="splitcontentright">
      <fieldset class="box tabular">
        <legend><%=l(:label_scadenza_ruolo)%></legend>

        <p><%= f.text_field :tariffa_precedente, :label => :field_tariffa_precedente, :required => false, :size => 5  %></p>
        <p><%=l(:field_data)%> <%= format_date @user.data %></p>
        <p>
          <%# f.date_select :data, :label => :field_data %>
          <%= f.text_field :data, :label => l(:field_data), :size => 10 %><%= calendar_for('user_data') %>
        </p>
        <p><%=l(:field_datascadenza)%> <%= format_date @user.datascadenza %></p>
        <p>
          <%# f.date_select :datascadenza, :label => :field_datascadenza %>
          <%= f.text_field :datascadenza, :label => l(:field_datascadenza), :size => 10 %><%= calendar_for('user_datascadenza') %>
        </p>

<p></p>
        <p><label><%= l(:label_role) %></label><strong>
        <% roles_fs.each do |role| %>
          <%= radio_button_tag 'user[role_id]', role.id, (role.id == @user.role_id) %> <%=h role %>
          <br />
        <% end %>
        </strong></p>
      </fieldset>

    </div>
  </div>
  <div style="clear:left;"></div>
  <!--[eoform:user]-->

  <p><%= submit_tag l(:button_save_abbonamento) %></p>
<% end %>


  belongs_to :cross_organization, :class_name => 'CrossOrganization', :foreign_key => 'cross_organization_id'
  #TODO: verificare ci potrebbe essere che alcuni associazione Sigla - Tipo non appare nella tabella CrossOrganization
  # prova per i banner (sandro)
  ##su cross_group.rb è :
  #  belongs_to :user
  #  belongs_to :group_banner
  has_many :cross_groups
  has_many :group_banners, :through => :cross_groups

  #l'utente può essere il referente di una (o più) organizzazione
  #2.7 Choosing Between belongs_to and has_one. La foreign key si trova sulla tabella che fa belongs_to
  #Puo anche essere il power_user di un organization
  #has_one :reference, :class_name => 'Organization', :dependent => :nullify
  has_many :references, :class_name => 'Organization', :dependent => :nullify



  has_many :invoices, :class_name => 'Invoice', :dependent => :destroy
