<% roles_fs = Role.all_fs %>
<% remote_form_for(:user, :url => { :action => 'edit_abbonamento', :id => @user}, :builder => TabularFormBuilder, :html => {:method => :post}) do |f| %>

  <div id="edit_dati_form">
    <!--[form:user]-->
    <div class="splitcontentleft">

      <fieldset class="box">
        <legend><%=l(:label_gest_privato)%></legend>


      </fieldset>

      <fieldset class="box tabular">
        <legend><%=l(:label_gest_organismo)%></legend>
          <p><%= f.check_box :power_user, :label => :field_power_user, :title => 'power user' %> </p>
          <p class="">
            <label for="refe"><%= l(:label_is_referente) %></label>
            <span class="<%= 'total' unless !@user.is_referente? %>">
            <%= check_box_tag 'refe', 1, @user.is_referente?, :disabled => 'disabled', :class => (@user.is_referente? ? 'total' : '') %></span>
          </p>

      </fieldset>

    </div>
    <div class="splitcontentright">
      <fieldset class="box tabular">
        <legend><%=l(:label_scadenza_ruolo)%></legend>

        <p><%= f.text_field :tariffa_precedente, :label => :field_tariffa_precedente, :required => false, :size => 5  %></p>
        <%=l(:field_data)%> <%= format_date @user.data %>
        <p>
          <%# f.date_select :data, :label => :field_data %>
          <%= f.text_field :data, :label => l(:field_data), :size => 10 %><%= calendar_for('user_data') %>
        </p>
        <%=l(:field_datascadenza)%> <%= format_date @user.datascadenza %>
        <p>
          <%# f.date_select :datascadenza, :label => :field_datascadenza %>
          <%= f.text_field :datascadenza, :label => l(:field_datascadenza), :size => 10 %><%= calendar_for('user_datascadenza') %>
        </p>

<p></p>
        <p><label><%= l(:label_role) %></label><strong>
        <% roles_fs.each do |role| %>
          <%= radio_button_tag 'user[role_id]', role.id, (role.id == @user.role_id) %> <%=h role %>
          <br />
        <% end %>
        </strong></p>
      </fieldset>

    </div>
  </div>
  <div style="clear:left;"></div>
  <!--[eoform:user]-->

  <p><%= submit_tag l(:button_save_abbonamento) %></p>
<% end %>

  #domthu20120916
  belongs_to :role, :class_name => 'Role', :foreign_key => 'role_id' #, :default => FeeConst::ROLE_REGISTERED

  belongs_to :asso, :class_name => 'Asso', :foreign_key => 'asso_id'

  #l'utente può appartenere o non ad una organizzazione
  #ATTENZIONE i 2 campi Sigla (ex Organismi) e Tipo organizzazione sono raddunati in una foreign_key
  belongs_to :cross_organization, :class_name => 'CrossOrganization', :foreign_key => 'cross_organization_id'
  #TODO: verificare ci potrebbe essere che alcuni associazione Sigla - Tipo non appare nella tabella CrossOrganization
  # prova per i banner (sandro)
  ##su cross_group.rb è :
  #  belongs_to :user
  #  belongs_to :group_banner
  has_many :cross_groups
  has_many :group_banners, :through => :cross_groups

  #l'utente può essere il referente di una (o più) organizzazione
  #2.7 Choosing Between belongs_to and has_one. La foreign key si trova sulla tabella che fa belongs_to
  #Puo anche essere il power_user di un organization
  #has_one :reference, :class_name => 'Organization', :dependent => :nullify
  has_many :references, :class_name => 'Organization', :dependent => :nullify



  has_many :invoices, :class_name => 'Invoice', :dependent => :destroy
