<% roles_fs = Role.all_fs %>
<% remote_form_for(:user, :url => {:action => 'edit_abbonamento', :id => @user}, :builder => TabularFormBuilder, :html => {:method => :post}) do |f| %>
  <div id="edit_dati_form">
    <!--[form:user]-->
    <div class="splitcontentleft">
      <fieldset class="box tabular">
        <legend><%= l(:label_gest_privato) + " # " + @user.id.to_s %></legend>
        <div class="contextual">
          <%= gravatar_for(@user) unless !@user %>
        </div>
        <p class="">
          <label><%= l(:field_name) %></label>
          <span><%= @user.name %></span>
        </p>

        <p class="">
          <label><%= l(:label_localizazzione) %></label>
          <span><%= @user.getLocalization() %></span>
        </p>

        <p class="">
          <label><%= l(:label_user_created_on) %></label>
          <span><%= I18n.localize(@user.created_on.to_date, :format => :giorno_mese_anno) %></span>
        </p>

        <p class="">
          <label for="siglatipo"><%= l(:field_cross_organization) %></label>
            <span><% if @user.cross_organization %>
                <%= link_to h(@user.cross_organization), cross_organization_path (@user.cross_organization) %>
              <% else %>
                <%= l(:label_no_sigla_tipo) %>
              <% end %>
            </span>
        </p>

        <p class="">
          <label><%= l(:label_referee_list_conventions) %></label>
            <span>
              <% if @user.responsable? && @user.responsable_of && @user.responsable_of.count > 0 %>
                <span><%= l(:label_total) %>
                  :<strong class="total center"><%= h @user.responsable_of.count %></strong><%= l(:label_list_responsable_for) %></span>
                <ul>
                  <% @user.responsable_of.sort_by(&:data_scadenza).reverse.each do |conv| %>
                      <li><%= link_to h(conv), convention_path(conv) %></li>
                  <% end %>
                </ul>
              <% else %>
                <%= l(:label_not_responsable) %>
              <% end %>
            </span>
        </p>
      </fieldset>

      <fieldset class="box tabular">

        <legend title="<%= l(:label_gest_organismo) %>"><%= l(:field_convention) %><%= @user.convention.nil? ? '' : ' # ' + @user.convention.id.to_s  %></legend>
        <p>
          <!--  def select(object, method, choices, options = {}, html_options = {} -->
          <%= f.select :convention_id, (Convention.all.collect { |c| [truncate(c.name, 39), c.id] }), { :include_blank => true, :required => false}, {:size => 1, :label => :label_convention_change, :style => 'width: 100%;', :title => 'cambia convenzione'} %>
        </p>

        <p class="">
          <label><%= l(:label_have_convention) %></label>
            <span>
              <% if @user.convention %>
                  <%= link_to h(@user.convention), convention_path(@user.convention) %>
                  <br/><%= h(@user.convention.pact) %>
              <% else %>
                <%= l(:label_no_convention) %>
              <% end %>
            </span>
        </p>

        <% if @user.convention %>
          <p class="">
            <label><%= l(:label_referente) %></label><span>
            <% if @user.convention.user %>
              <%= link_to h(@user.convention.user) unless User.current.admin? %>
                <%= link_to h(@user.convention.user), edit_user_path(:id => @user.convention.user) unless !User.current.admin? %>
            <% else %>
              <em class="nodata"><%= l(:label_no_referente) %></em>
            <% end %>
          </span></p>

          <p class="">
            <label><%= l(:label_convention_type) %></label>
          <span>
            <% if @user.convention.se_sport? %>
                <%= l(:label_convention_sport) %>
            <% else %>
              <%= l(:label_convention_no_sport) %>
            <% end %>
          </span>
          </p>
          <p class="">
            <label><%= l(:zone_area) %></label>
          <span>
            <%= @user.convention.get_zone() %>
          </span>
          </p>

          </fieldset>
          <%#===========stesso gruppo/convenzione =============%>
          <fieldset class="box tabular">
            <legend><%= l(:label_conventions_same) %></legend>
            <% convenzionati = @user.convention.users %>
            <% if convenzionati.any? %>
                <%= l(:label_total) %>:<strong class="total center"><%= h convenzionati.count %></strong>
                <table class="list users">
                  <thead>
                  <th style="text-align:left;"><%= l(:label_user) %></th>
                  <th style="text-align:left;"><%= l(:field_due_date) %></th>
                  <th style="text-align:left;"><i class="icon icon-man" title="Power user, responsabile"></i></th>
                  </thead>
                  <tbody>
                  <% convenzionati.sort_by(&:lastname).each do |user| %>
                      <tr id="user-<%= user.id %>" class="<%= cycle 'odd', 'even' %>">
                        <td>
                          <%= user_role_iconized(user, :size => "s", :icon_for => user.uicon, :text => link_to(user, edit_user_path(user))) %>
                        </td>
                        <td>
                          <%= format_date(user.scadenza) %>
                        </td>
                        <td>
                          <%= check_box_tag '', 0, user.power_user, :disabled => 'disabled' %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
            <% else %>
                <p class="nodata"><%= l(:label_no_soci) %></p>
            <% end %>
      <% end %>
      </fieldset>
    </div>
    <%#========zona a destra dati privati ================%>
    <div class="splitcontentright">

      <fieldset class="box">
        <legend><%= l(:label_scadenza) %></legend>
        <p style="width: 45%;float: left;"><strong><%= l(:field_datainizio) %></strong><br/>
          <%= f.text_field :data, :label => '', :size => 10 %><%= calendar_for('user_data') %>
        </p>

        <p style="width: 45%;float: left;"><strong><%= l(:field_datascadenza) %> </strong> <br/>
          <%= f.text_field :datascadenza, :label => '', :size => 10 %><%= calendar_for('user_datascadenza') %>
        </p>
        <hr>
        <div class="tabular">
          <p style="background-color: #fef9f9 ;">
            <label title="<%= l(:stato_scadenza) %>"><%= l(:field_datascadenza_user) %></label>
            <% if @user.datascadenza %>
                <% if DateTime.now > @user.datascadenza %>
                    <span class="scadenza-ko"> <%= format_date(@user.datascadenza) %></span>
                    <br/> <%= l(:state_expired) %>
                <% elsif @user.datascadenza < (DateTime.now + Setting.renew_days.to_i.days) %>
                    <span class="scadenza-renewing"><%= format_date(@user.datascadenza) %> </span>
                    <br/> <%= l(:state_expiring) %>
                <% else %>
                    <span class="scadenza-ok"><%= format_date(@user.datascadenza) %> </span>
                    <br/> <%= l(:state_valid) %>
                <% end %>
            <% else %>
                <span class="scadenza-none">Senza data di scadenza </span>
            <% end %>
          </p></div>
        <% if @user.convention %>
        <div class="tabular">
          <p style="background-color: #fef9f9 ;">
            <label title="<%= l(:stato_scadenza) %>"><%= l(:label_convention_scad) %></label>
            <% if @user.convention.data_scadenza %>
                <% if DateTime.now > @user.convention.data_scadenza %>
                    <span class="scadenza-ko"> <%= format_date(@user.convention.data_scadenza) %></span>
                    <br/> <%= l(:state_expired) %>
                <% elsif @user.convention.data_scadenza < (DateTime.now + Setting.renew_days.to_i.days) %>
                    <span class="scadenza-renewing"><%= format_date(@user.convention.data_scadenza) %> </span>
                    <br/> <%= l(:state_expiring) %>
                <% else %>
                    <span class="scadenza-ok"><%= format_date(@user.convention.data_scadenza) %> </span>
                    <br/> <%= l(:state_valid) %>
                <% end %>
            <% else %>
                <span class="scadenza-none">Senza data di scadenza </span>
            <% end %>
          </p>
        </div>
            <% end %>
        <br/>
      </fieldset>

      <style type="text/css">
        .nocolor{background-color: transparent!important;border: 0!important;}
        .divrole .user-role-icon-s{width: 20%!important; }
        .divrole{float:left; width: 33%;}
      </style>

      <fieldset class="box">
        <legend><%= l(:field_role) %> # <%= @user.role_id.to_s %></legend>
           <br />

            <% roles_fs.each do |role| %>
                <div class="divrole"><%= user_role_iconized( nil ,:size=> 's', :icon_for => iconized_name_byid(role.id), :text => nil) %>
                <%= radio_button_tag 'user[role_id]', role.id, (role.id == @user.role_id) %> <%= h get_abbonamento_name(role.id) %></div>
              <% end %>
        <br />
        <!--
           <hr>
        <p>In questo momento l'utente risulta:</p>
        <ul>
          <% if FeeConst::FEE_ROLES.include? @user.role_id %>
              <li>
                <div class="nocolor flash notice">Soggetto alla gestione abbonamento</div>
              </li>
          <% else %>
              <li>
                <div class="nocolor flash warning">Non soggetto alla gestione abbonamento</div>
              </li>
          <% end %>
          <li title="ha un ruolo che gli permette di accedere nell'area privata di gestione <%= Setting.app_title %>">Accede
            al backend?
            <div class="nocolor flash <%= (FeeConst::CAN_BACK_END_ROLES.include? @user.role_id) ? "notice" : "error" %>"><%= (FeeConst::CAN_BACK_END_ROLES.include? @user.role_id) ? "Accede al Fismine" : "Non ha accesso a Fismine" %></div>
          </li>
        </ul>



        <p>Il suo nome appare cosi:</p>
        <ul>
          <li>In chiaro: <%= @user.name %></li>
          <li>Protetto: <%= @user.hide_name %></li>
        </ul>
        <% if @user.privato? %>
            <p>E un
              <mark>privato</mark>
            </p>
        <% else %>
            <p>E un
              <mark>convenzionato:</mark>
            </p>
            <ul>
              <li><%= @user.convention.to_s %></li>
              <li><%= @user.convention.pact %></li>
            </ul>
        <% end %>
        <p>La sua data di scadenza risulta:</p>
        <ul>
          <li><%= format_date @user.scadenza %></li>
          <li><%= distance_of_date_in_words(@user.scadenza, Time.now) unless @user.scadenza.nil? %></li>
          <li><%= @user.scadenza_fra %></li>
        </ul> -->
      </fieldset>

      <p class="btn-footer"><%= submit_tag l(:button_save_abbonamento), :class => 'button-grey' %>
      <% if (FeeConst::RESEND_ROLES.include? @user.role_id) %>
      show me
      <% end %>
        <%= link_to_remote l(:button_resend_abbo),
             {:url => resend_user_path(:id => @user),
              :method => 'post',
              :complete => "Element.scrollTo('resend_result')",
              :title => l(:setting_emails_fee_proposal)
             }, {:accesskey => accesskey(:preview),
              :class => 'button-grey'
             }
      %>
      </p>
    </div> <!-- id="edit_dati_form">-->
    <div>
      <div style="clear:both;"></div>
      <fieldset class="htmldraft">
        <legend><%= l(:setting_emails_fee_proposal) %>:</legend>
        <div id="resend_result" class=""><%= l(:setting_emails_fee_proposal) %>
        </div>
      </fieldset>
    </div>
  </div> <!-- id="edit_dati_form">-->
  <div style="clear:left;"></div>
<% end %>
