<% roles_fs = Role.all_fs %>
<% remote_form_for(:user, :url => { :action => 'edit_abbonamento', :id => @user}, :builder => TabularFormBuilder, :html => {:method => :post}) do |f| %>

  <p><%= submit_tag l(:button_save_abbonamento) %></p>
  <div id="edit_dati_form">
    <!--[form:user]-->
    <div class="splitcontentleft">


      <fieldset class="box tabular">
        <legend><%=l(:label_gest_privato)%></legend>
          <div class="contextual">
            <%= gravatar_for(@user) unless !@user %>
          </div>
          <p class="">
            <label><%= l(:label_localizazzione) %></label>
            <span><%= @user.getLocalization() %></span>
          </p>

          <p class="">
            <label for="siglatipo"><%= l(:label_have_sigla_tipo) %></label>
            <span><% if @user.sigla_tipo() %>
                <%= link_to h(@user.sigla_tipo()), cross_organization_path (@user.sigla_tipo()) %>
              <% else %>
                <%= l(:label_no_sigla_tipo) %>
              <% end %>
            </span>
          </p>



      </fieldset>


      <fieldset class="box tabular">
        <legend><%=l(:label_gest_organismo)%></legend>

          <p class="">
            <label><%= l(:label_have_asso) %></label>
            <span>
              <% if @user.associazione_affiliata() %>
                  <%= link_to h(@user.associazione_affiliata()), asso_path(@user.associazione_affiliata()) %>
                <%# if @user.asso_id? %>
                  <%# link_to h(@user.asso.to_s), asso_path(@user.asso, :id => @user.asso_id) %>
                <%# end %>
              <% else %>
                <%= l(:label_no_asso) %>
              <% end %>
            </span>
          </p>

          <p class="">
            <label><%= l(:label_have_organization) %></label>
            <span>
              <% if @user.organization() %>
                  <%= link_to h(@user.organization()), organization_path(@user.organization()) %>
              <% else %>
                  <%= l(:label_no_organization) %>
              <% end %>
            </span>
          </p>


          <div class="asso-select"><%= f.select :asso_id, (Asso.all.collect {|c| [smart_truncate(c.name, 40), c.id]}), :include_blank => true, :required => false, :size => 60, :title => l(:label_asso) %></div>

<% if @user.associazione_affiliata() %>

          <p><%= f.check_box :power_user, :label => :field_power_user, :title => 'power user' %> </p>
          <p class="">
            <label for="refe"><%= l(:label_is_referente) %></label>
            <span class="<%= 'total' unless !@user.is_referente? %>">
            <%= check_box_tag 'refe', 1, @user.is_referente?, :disabled => 'disabled', :class => (@user.is_referente? ? 'total' : '') %></span>
          </p>

          <p class="">
            <label><%= l(:label_is_responsable) %></label>
            <span>
              <% if @user.responsable? && @user.responsable_of %>
                <small><%= l(:label_list_responsable_for)%></small>
                <% @user.responsable_of.each do |organismo| %>
                  <%= link_to h(organismo), organization_path(organismo) %>
              <% end
              else %>
                <%= l(:label_not_responsable) %>
              <% end %>
            </span>
          </p>

      </fieldset>

      <fieldset class="box tabular">
        <legend><%=l(:label_assos_users)%></legend>
        <% associati = @user.asso.users %>
        <% if associati.any? %>
          <%= l(:label_total) %>:<strong class="total center"><%= h associati.count %></strong>
          <table class="list users">
            <thead>
              <th style="text-align:left;"><%= l(:label_user) %></th>
              <th style="text-align:left;"><%= l(:field_due_date) %></th>
              <th style="text-align:left;"><i class="icon icon-man" title="Power user, responsabile"></i></th>
            </thead>
            <tbody>
            <% associati.sort_by(&:lastname).each do |user| %>
              <tr id="user-<%= user.id %>" class="<%= cycle 'odd', 'even' %>">
                <td class="user icon<%= user.icon() %>">
                  <%= link_to_user user unless User.current.admin? %>
                  <%= link_to h(user), edit_user_path(:id => user) unless !User.current.admin? %>
                </td>
                <td>
                  <%= format_date(user.scadenza) %>
                </td>
                <td>
                  <%= check_box_tag '', 0, user.power_user, :disabled => 'disabled'  %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
          <p class="nodata"><%= l(:label_no_soci) %></p>
        <% end %>
<% end %>

      </fieldset>

    </div>
    <div class="splitcontentright">

      <fieldset class="box tabular">
        <legend><%=l(:label_scadenza_ruolo)%></legend>

        <p><%= f.text_field :tariffa_precedente, :label => :field_tariffa_precedente, :required => false, :size => 5  %></p>
        <p><%=l(:field_data)%> <%= format_date @user.data %></p>
        <p>
          <%# f.date_select :data, :label => :field_data %>
          <%= f.text_field :data, :label => l(:field_data), :size => 10 %><%= calendar_for('user_data') %>
        </p>
        <p><%=l(:field_datascadenza)%> <%= format_date @user.datascadenza %></p>
        <p>
          <%# f.date_select :datascadenza, :label => :field_datascadenza %>
          <%= f.text_field :datascadenza, :label => l(:field_datascadenza), :size => 10 %><%= calendar_for('user_datascadenza') %>
        </p>

<p></p>
        <p><label><%= l(:label_role) %></label><strong>
        <% roles_fs.each do |role| %>
          <%= radio_button_tag 'user[role_id]', role.id, (role.id == @user.role_id) %> <%=h role %>
          <br />
        <% end %>
        </strong></p>
      </fieldset>

    </div>

  </div>
  <div style="clear:left;"></div>
  <!--[eoform:user]-->

  <p><%= submit_tag l(:button_save_abbonamento) %></p>
<% end %>


  belongs_to :cross_organization, :class_name => 'CrossOrganization', :foreign_key => 'cross_organization_id'
  #TODO: verificare ci potrebbe essere che alcuni associazione Sigla - Tipo non appare nella tabella CrossOrganization
  # prova per i banner (sandro)
  ##su cross_group.rb è :
  #  belongs_to :user
  #  belongs_to :group_banner
  has_many :cross_groups
  has_many :group_banners, :through => :cross_groups

  #l'utente può essere il referente di una (o più) organizzazione
  #2.7 Choosing Between belongs_to and has_one. La foreign key si trova sulla tabella che fa belongs_to
  #Puo anche essere il power_user di un organization
  #has_one :reference, :class_name => 'Organization', :dependent => :nullify
  has_many :references, :class_name => 'Organization', :dependent => :nullify



  has_many :invoices, :class_name => 'Invoice', :dependent => :destroy
