<div style="width: 98%">
  <div class="contextual" style="margin-top: 10px;">
    <%= link_to l(:label_invoice_new), new_invoice_path({:user_id => @user.id}), :class => 'icon icon-add' if User.current.admin? %>
  </div>
  <fieldset class="box tabular">
    <legend><%= l(:user_invoices, :num => @user.invoices.count.to_s) %></legend>
    <% if !@user.invoices.nil? && @user.invoices.count > 0 %>
        <div class="autoscroll">
          <table class="list invoices">
            <thead>
            <tr>
              <th style='width: 15%;text-align:left;'><%= l(:label_numero_fattura) %></th>
              <th style='width: 20%;text-align:left;'><%= l(:label_data_fattura) %></th>
              <th style='width: 15%;text-align:right;'><%= l(:label_sconto) %></th>
              <th style='width: 15%;text-align:right;'><%= l(:label_iva) %></th>
              <th style='width: 20%;text-align:right;'><%= l(:label_prezzo) %></th>
              <th style='width: 10%;text-align:left;'><%= l(:button_download) %></th>
              <th style='width: 5%;'></th>
            </tr>
            </thead>
            <tbody>
            <% @user.invoices.sort_by(&:data_fattura).reverse.each do |invoice| %>
                <tr class="<%= cycle 'odd', 'even' %>">
                  <td align="left">
                    <%= link_to(h(invoice.to_s), invoice_path(invoice), :class => 'icon icon-summary') if User.current.admin? %>
                    <%= h(invoice.to_s) if !User.current.admin? %>
                  </td>
                  <td><%= format_date(invoice.data_fattura) %></td>
                  <td align="right"><%= h invoice.sconto %>
                  <td align="right"><%= h invoice.iva %>
                  <td align="right"><%= h invoice.tariffa %>
                  <td align="left">
                    <%= link_to('PDF', invoice_path(invoice, :format => :pdf), :class => 'icon icon-pdf') %>
                  </td>
                  <%# h smart_truncate(invoice.msg, 100) </td %>
                  <td class="buttons"><%= link_to('', edit_invoice_path(invoice), :class => 'icon icon-edit') if User.current.admin? %>
                    <%= link_to('', invoice_path(invoice), :class => 'icon icon-show') if !User.current.admin? %>
                  </td>
                </tr>
            <% end %>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="total buttons"><%= number_with_precision(@user.invoices.sum(:tariffa).to_f || 0, :precision => 2) %></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
    <% else %>
        <p class="nodata"><%= l(:label_invoices_none) %></p>
    <% end %>
  </fieldset>
  <br/>
  <hr>
  <div>
    <% remote_form_for(:user, :url => {:action => 'edit_fatture', :id => @user}, :builder => TabularFormBuilder, :html => {:method => :post}) do |f| %>
        <p><%= f.text_area :annotazioni, :label => :field_annotazioni, :required => false %></p>
    <% end %>
  </div>
</div>
<div style="clear:left;"></div>
<%# wikitoolbar_for 'annotazioni' %>
<script type="text/javascript">
    CKEDITOR.replace('user_annotazioni', { toolbar: 'Save', height: '80', width: '88%'});
</script>

<style type="text/css">
    .total:before {
        content: "Totale: "
    }

    .total {
        border: solid 1px #b1c1c4;
    }
</style>