<% remote_form_for(:user, :url => { :action => 'edit_fatture', :id => @user}, :builder => TabularFormBuilder, :html => {:method => :post}) do |f| %>
<%# form_for @user, :url => { :action => 'edit_fatture', :id => @user}, :builder => TabularFormBuilder do |f| %>

  <div id="edit_dati_form">
       <h4 style="color:#c54d21">nb: al momento non implementato.</h4>
    <!--[form:user]-->
    <div class="splitcontentleft">
      <fieldset class="box tabular">

        <legend><%=l(:label_dati_pagamento)%></legend>
        <p><%= f.text_field :tariffa_precedente, :label => l(:field_tariffa_precedente), :required => false, :size => 5 %><p>

        <p><%= f.text_field :iva_precedente, :label => :field_iva_precedente, :required => false, :cols => 60, :rows => 15, :class => 'wiki-edit' %></p>

        <p><%= f.text_field :pagamento_precedente, :label => :field_pagamento_precedente, :required => false, :cols => 60, :rows => 15, :class => 'wiki-edit' %></p>

        <p>   <%= f.text_field :data_ultimo_pagamento, :label => l(:field_data_ultimo_pagamento), :size => 10 %><%= calendar_for('user_data_ultimo_pagamento') %>
        </p>
        <p>
          <%# f.date_select :data_accredito, :label => :field_data_accredito %>
          <%= f.text_field :data_accredito, :label => l(:field_data_accredito), :size => 10 %><%= calendar_for('user_data_accredito') %>
        </p>
        <p>
          <%# f.text_field :anno_competenza, :label => :field_anno_competenza, :required => false, :size => 3  %>
          <% dates = (Date.today.year-5)..(Date.today.year+5)  %>
          <%= f.select(:anno_competenza, dates.collect {|d| [d.to_s,d.to_s]}, {:include_blank => "Select", :selected => @user.anno_competenza.to_s }, {:class => "some_class"} )  %>
          <%# select_year :anno_competenza, {:label => :field_anno_competenza, :required => false, :size => 3, :include_blank => true, :default => nil}  %>
        </p><%= @user.anno_competenza %>
        <p><%= f.text_field :crediti, :label => :field_crediti, :required => false, :size => 3  %></p>

        <p><%= f.text_area :annotazioni, :label => :field_annotazioni, :required => false, :cols => 60, :rows => 15, :class => 'wiki-edit' %></p>

      </fieldset>

      <fieldset class="box tabular">
        <legend><%=l(:label_emetti_fattura)%></legend>

        emetti fattura
      </fieldset>

    </div>
    <div class="splitcontentright">

      <fieldset class="box">
        <legend><%=l(:label_storico_pagamento)%></legend>






        <% if @issue.is_convegno? %>
    <div class="box details convegno">
      <div id="convegno" style="margin-bottom:16px;">
        <div class="contextual">
          <%= link_to l(:label_reservation_new), new_reservation_path, :class => 'icon icon-add' %>
        </div>
        <%= "Stato del convegno: " + @issue.convegno_status_fs_text %>
      </div>
      <hr/>
      <div id="prenotazioni" style="margin-bottom:16px;">
        <h3 class="prenotazioni"><%= l(:convegno_prenotazioni, :num => @issue.reservations.count.to_s) %></h3>

        <% if !@issue.reservations.nil? && @issue.reservations.count > 0 %>
            <div class="autoscroll">
              <table class="list reservations">
                <thead>
                <tr>
                  <th style='width: 20%;text-align:left;'><%= l(:label_reservation) %></th>
                  <th style='width: 20%;text-align:left;'><%= l(:label_user) %></th>
                  <th><%= l(:label_date) %></th>
                  <th style='width: 10%;text-align:left;'><%= l(:label_num_persone) %></th>
                  <th style='width: 10%;text-align:left;'><%= l(:label_prezzo) %></th>
                  <th style='width: 30%;text-align:left;'><%= l(:label_msg) %></th>
                  <th style='width: 5%;'></th>
                  <th style='width: 5%;'></th>
                </tr>
                </thead>
                <tbody>
                <% @issue.reservations.each do |reservation| %>
                    <tr class="<%= cycle 'odd', 'even' %>">
                      <td class="buttons">
                        <%= link_to(h(reservation.to_s), reservation_path(reservation), :class => 'icon icon-summary') if User.current.admin? %>
                        <%= h(reservation.to_s) if !User.current.admin? %>
                      </td>
                      <td class="username"><%= avatar(reservation.user, {:size => "14", :class => "no-div"}) %><%= link_to h(reservation.user.login), edit_user_path(reservation.user) %></td>
                      <td><%= format_date(reservation.created_at) %></td>
                      <td align="center"><%= h reservation.num_persone %></td>
                      <td align="center"><%= h reservation.prezzo %></td>
                      <td><%= h smart_truncate(reservation.msg, 100) %></td>
                      <td class="buttons"><%= link_to('', edit_reservation_path(reservation), :class => 'icon icon-edit') if User.current.admin? %>
                        <%= link_to('', reservation_path(reservation), :class => 'icon icon-show') if !User.current.admin? %>
                      </td>
                      <td class="buttons"><%= link_to ('', reservation, :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del') if User.current.admin? %></td>
                    </tr>
                <% end %>
                <tr>
                  <td></td>
                  <td class="total center"><%= h @issue.reservations.count.to_s %></td>
                  <td></td>
                  <td class="total center"><%= h @issue.reservations.sum(:num_persone).to_s %></td>
                  <td class="total center"><%= @issue.reservations.sum(:prezzo).to_f %></td>
                  <td colspan="3">
                    <% other_formats_links do |f| %>
                        <%= f.link_to 'PDF' %>
                    <% end %>
                  </td>
                </tr>
              </table>
            </div>
        <% else %>
            <%= l(:label_prenotazioni_none) %>
        <% end %>
      </div>
    </div>
<% end %>









      </fieldset>

    </div>
  </div>
  <div style="clear:left;"></div>
  <!--[eoform:user]-->

  <p><%= submit_tag l(:button_save_fatture) %></p>
<% end %>

<%# wikitoolbar_for 'annotazioni' %>
<%# wikitoolbar_for 'sconto_precedente' %>
<%# wikitoolbar_for 'pagamento_precedente' %>
