<% form_for @user, :url => { :action => 'edit_fatture', :id => @user}, :builder => TabularFormBuilder do |f| %>

  <div id="edit_dati_form">
    <!--[form:user]-->
    <div class="splitcontentleft">
      <fieldset class="box tabular">
        <legend><%=l(:label_dati_pagamento)%></legend>

        <p><%= f.text_field :tariffa_precedente, :label => :field_tariffa_precedente, :required => false, :size => 5  %></p>
        <p><%= f.text_area :iva_precedente, :label => :field_iva_precedente, :required => false, :cols => 60, :rows => 15, :class => 'wiki-edit' %></p>

        <p><%= f.text_area :pagamento_precedente, :label => :field_pagamento_precedente, :required => false, :cols => 60, :rows => 15, :class => 'wiki-edit' %></p>

        <p><%= f.date_select :data_ultimo_pagamento, :label => :field_data_ultimo_pagamento %></p>
        <p><%= f.date_select :data_accredito, :label => :field_data_accredito %></p>
        <p><%= f.text_field :anno_competenza, :label => :field_anno_competenza, :required => false, :size => 3  %></p>
        <p><%= f.text_field :crediti, :label => :field_crediti, :required => false, :size => 3  %></p>

        <p><%= f.text_area :annotazioni, :label => :field_annotazioni, :required => false, :cols => 60, :rows => 15, :class => 'wiki-edit' %></p>

      </fieldset>

      <fieldset class="box tabular">
        <legend><%=l(:label_emetti_fattura)%></legend>

        emetti fattura
      </fieldset>

    </div>
    <div class="splitcontentright">

      <fieldset class="box">
        <legend><%=l(:label_storico_pagamento)%></legend>

        Lista delle fatture legate all'abbonato
      </fieldset>

    </div>
  </div>
  <div style="clear:left;"></div>
  <!--[eoform:user]-->

  <p><%= submit_tag l(:button_save_fatture) %></p>
<% end %>

<%= wikitoolbar_for 'annotazioni' %>
<%= wikitoolbar_for 'sconto_precedente' %>
<%= wikitoolbar_for 'pagamento_precedente' %>
