<% remote_form_for(
           :user,
           :url => {:action => 'send_newsletter', :id => @user},
           :builder => TabularFormBuilder,
           :html => {
                   :id => 'edit_newsletter_form',
                   :method => :put,
                   :multipart => true}
   ) do |f| %>

    <%#div id="edit_newsletter_form" %>

    <!--[form:user]-->
    <div class="splitcontentleft">
      <fieldset class="box">
        <legend><%= l(:label_newsletter) %></legend>

        <p>
          <%= select_tag('project[id]', options_for_select(Project.all_public_fs(
                                                                   :order => 'created_on DESC'
                                                           ).collect { |ed| [ed.name, ed.id.to_s] }), :include_blank => "Selezionare una newsletter", :class => "some_class") %>
        </p>


      </fieldset>

    </div>
    <div class="splitcontentright">

      <fieldset class="box">
        <legend><%= l(:label_user_list_newsletters) %></legend>
          <%# nl_user = NewsletterUser.scoped_by_user_id(@user.id) %>
          <%# nl_user = @user.newsletter_users %>
          <% nl_user = @user.newsletter_users.find(:all, :limit => 100, :order => "updated_at DESC") %>
          <% if nl_user.any? && (nl_user.count > 1)%>
            <%= l(:label_total) %>:<strong class="total center"><%= h(nl_user.count) %></strong>
            <table class="subtable list invii" width="100%">
              <tr>
                <th style="width:15%; text-align:left;"><%= l(:label_data) %></th>
                <th style="width:80%; text-align:left;"><%= l(:label_project) %></th>
                <th style="width:5%; text-align:left;"></th>
              </tr>
              <% nl_user.each do |invio| %>
                <tr>
                  <td><%= format_date(invio.updated_at) %></td>
                  <td>
                      <%= link_to(h(invio.newsletter.project.name), project_path(invio.newsletter.project), :class => 'icon icon-globe icon-adjust-min') if invio.have_project? %>
                  </td>
                  <td title="<%= invio.errore %>">
                    <%= check_box_tag '', 1, invio.sended, :disabled => 'disabled'  %>
                  </td>
                </tr>
              <% end %>
            </table>
          <% else %>
            <p class="nodata"><%= l(:label_newsletter_none) %></p>
          <% end %>


      </fieldset>

    </div>

    <div style="clear:left;"></div>
    <!--[eoform:user]-->

    <p><%= submit_tag l(:button_send_newsletter) %>
      <%= link_to_remote l(:label_preview),
                         {:url => preview_newsletter_path(:user_id => @user),
                          :method => 'post',
                          :update => 'news_preview',
                          :with => 'Form.serialize("edit_newsletter_form")',
                          :complete => "Element.scrollTo('news_preview')"
                         }, :accesskey => accesskey(:preview)
      %></p>

    <div>
      <fieldset class="htmldraft">
        <legend><%= l(:label_preview) %>:</legend>
        <div id="news_preview" class="">
          <p>
            Selezionare un Quindicinale ed cliccare su Anteprima

          <p>
          </p>
        </div>
      </fieldset>
    </div>

<% end %>
