<div id="fs-tramenu-blocco1">
<% if User.current && User.current.logged? %>
  <% if User.current.canbackend? %>
    <%= link_to '====Accesso al backend====',  { :controller => 'activities', :action => 'index' } %>
  <% else %>
          <p class="fs-tramenu-blockheader x-red fs-tramenu-bh1">La tua offerta riservata!</p>
           Qui si possono mettere offerte riservate all'utente loggato per il rinnovo abbonamento o altro <br />SCADENZA: <%# getdate(User.current.scadenza) %> <%= User.current.scadenza_fra  %>,  <%= due_date_distance_in_words(User.current.scadenza) %>
    <% if User.current.isregistered? %>
      Periodo di prova. fatto il ... scade il ... Verificare se ha confermato email?
    <% end %>
    <% if User.current.isabbonato? %>
      Il tuo abbonamento scade il <%= User.current.scadenza %>
    <% end %>
    <% if User.current.isrenewing? %>
      Sei normalmente abbonato. Il tuo abbonamento scade fra <%= User.current.scadenza_fra %>&nbsp;<%= link_to 'Rinnovalo', contatti_path %>
    <% end %>
    <% if User.current.isexpired? %>
      SIAMO SPIACENTI però il tuo abbonamento è scaduto.
      <%= link_to 'Rinnovalo', contatti_path %>
    <% end %>
    <% if User.current.isarchivied? %>
      SIAMO SPIACENTI però non hai più accesso a questo editoriale
      <%= link_to 'Contattaci', contatti_path %>
    <% end %>

  <% end %>

<% else %>
    <%= render :partial => 'tramenu_prova'  %>
<% end %>
</div>
<div id="fs-tramenu-blocco2" >
<% if User.current && User.current.logged? %>
    <!-- qui c'è la richiesta di MCristina per personalizzare i banners in base all'utente loggato -->
    <%= render :partial => 'tramenu_assos'  %>
<% else %>
    <%= render :partial => 'tramenu_assos'  %>
<% end %>
</div>
<div id="fs-tramenu-blocco3">
      <%= render :partial => 'tramenu_login'  %>

</div>
