<div class="fs-layout-cell fs-content clearfix" style="width: 100%; position:relative;">
  <article class="fs-post fs-article" style="width: 100%;">
    <div class="fs-postcontent clearfix">
      <div class="fs-content-layout">
        <div class="fs-content-layout-row">
          <div id="fs-abbo-top">

            <div class="fs-abbo-sx1">
              <h2><%= l(:label_abbo) %> <%= link_to l(:label_login_with_open_id_option), signin_url if Setting.openid? %></h2>
              <h3 style="">Il tuo abbonamento </h3>
            </div>
            <div class="fs-abbo-dx1">
              <div id="fs-photo-edit">
              <% if @user_profile.use_gravatar? %>
                  <%= '<div id="fs-photo-edit-i"></div><div id="fs-photo-edit-a" style="display:none;">' + image_tag(@user_profile.photo.url(:l)) + '</div>
          <div id="fs-photo-edit-g" style="display:block;">' + gravatar_for(@user_profile.user, :size => 120) + ' </div>' %>
              <% else %>
                  <%= '<div id="fs-photo-edit-i"></div><div id="fs-photo-edit-a" style="display:block;">' + image_tag(@user_profile.photo.url(:l)) + '</div>
          <div id="fs-photo-edit-g" style="display:none;">' + gravatar_for(@user_profile.user, :size => 120) + ' </div>' %>
              <% end %>
            </div>
              <div class="fs-vuoto-inline-button  fs-profiles-esx-btn">
                <label><%= radio_button_tag :use_gravatar, true, @user_profile.use_gravatar?, :onchange => "funct_avatar('g')" %> <%= 'Usa mail su Gravatar' %></label><br/>
                <label><%= radio_button_tag :use_gravatar, false, !@user_profile.use_gravatar?, :onchange => "funct_avatar('a')" %> <%= 'Usa tua immagine Avatar' %></label><br/>
                <%= file_field_tag :photo %>
              </div>
            </div>

          </div>
          <blockquote>
            I campi contrassegnati da <b style="color: red;"><strong>*</strong> sono obbligatori</b><br/>
             </blockquote>
          <br />
          <!------  inizio ------ -->
          <% labelled_form_for @user, :url => {:controller =>'mio_profilo', :action => 'account'}, :html => {:method => :post, :class => "register tabular", :class => "step"} do |f| %>
              <%= error_messages_for 'user' %>
              <fieldset class="fs-abbo-fields">
                <legend title="Anagrafica"> Dati personali e di accesso</legend>
                <div class="fs-abbo-sx1">
                  <!--[form:user]-->
                  <p style="margin-bottom: 7px;"><label><%= l(:field_nome) %></label></p>

                  <p><%= f.text_field :firstname, :label => l(:field_firstname) + " <span class='required'>*</span>", :style => 'width:60%;', :maxlength => 255 %></p>

                  <p><%= f.text_field :lastname, :label => l(:field_lastname) + " <span class='required'>*</span>", :style => 'width:60%;', :maxlength => 255 %></p>

                  <p><%= f.text_field :mail, :label => l(:field_mail) + " <span class='required'>*</span>", :style => 'width:60%;', :maxlength => 255 %>
                    <img id="si_user_mail" src="/images/true.png" alt="Anagrafica disponibile" title="Anagrafica disponibile" style="display: none;"/>

                  <div id="no_user_mail" style="display: none;">
                    <img src="/images/false.png" alt="Anagrafica non disponibile. Ci risulta già una registrazione con questa Anagrafica!" title="Anagrafica non disponibile. Ci risuta già una registrazione con questa Anagrafica!"/><br/>

                    <p class="fe-alert-in"> Informazione già presente nel server: Sei già registrato? Usi il <%= link_to l(:label_login), :signin %> per accedere di nuovo. Se hai problemi <%= link_to 'Contattaci', contattaci_path %>. </p>

                  </div>
                </div>
                <div class="fs-abbo-dx1">
                  <% if @user.auth_source_id.nil? %>
                      <p><%= f.text_field :login, :label => l(:field_login) + " <span class='required'>*</span>", :style => 'width:60%;', :maxlength => 255 %>
                        <img id="si_user_login" src="/images/true.png" alt="login disponibile" title="login disponibile" style="display: none;"/><img id="no_user_login" src="/images/false.png" title="login non disponibile. Ci risulta già una registrazione con questo login!" style="display: none;"/>
                      </p>

                      <p><%= f.password_field :password, {:style => 'width:60%;', :label => l(:field_password) + " <span class='required'>*</span>", :maxlength => 255} %>
                        <br/>
                        <em><%= l(:text_caracters_minimum, :count => Setting.password_min_length) %></em></p>

                      <p><%= f.password_field :password_confirmation, {:style => 'width:60%;', :label => l(:field_password_confirmation) + " <span class='required'>*</span>", :maxlength => 255} %></p>
                  <% end %>

                  <div style="width: 69%; margin: 7px 0 0 7px;">
                    <p><%= f.select :language, lang_options_for_select %></p>

                  </div>
                  <% if Setting.openid? %>
                      <p><label for="user_identity_url"><%= l(:field_identity_url) %></label>
                        <%= f.text_field :identity_url %></p>
                  <% end %>

                  <% @user.custom_field_values.select { |v| v.editable? || v.required? }.each do |value| %>
                      <p><%= custom_field_tag_with_label :user, value %></p>
                  <% end %>
                </div>
                <p class="notice-in fs-flash-in" style="width: 99%;"><%= l(:field_username_as_email) %></p>
                &nbsp;<br/>
              </fieldset>
              <!--[eoform:user]-->
              <div class="clearfix"></div>
              <br/>
              <!--INIZIO dv_societario -->

              <fieldset class="fs-abbo-fields">
                <legend title="Anagrafica Abbonamento"> Dati dell'abbonamento</legend>
                <div class="fs-abbo-sx1">
                  <p><%= f.select :titolo, options_for_select(["Altro", "Presidente", "Tesoriere", "Professionista", "Consigliere", "Segretario", "Delegato", "Dirigente", "Amministratore", "Operatore", "Libero professionista", "Tecnico/Dirigente", "Consigliere", "Socio", "Associato", "Studente", "Vice-presidente", "Responsabile Amministrativo", "Vice Presidente Regionale", "Impiegata", "Avvocato", "Consulente", "Responsabile"], "Responsabile") %></p>
                </div>

                <!--<h4>Cerca se la tua sigla, organismo, associazione è già affiliata a Fiscosport.</h4>   -->
                <div class="clearfix"></div>

                <p><%= f.text_area :soc, :label => l(:field_soc) + " <span class='required'>*</span>", :placeholder => "Indicare la ragione sociale dell' associazione, dello studio o il titolare dell'abbonamento ...", :style => "width:98%; height: 40px", :maxlength => 255 %></p>

                <div class="flash notice hide"><%= l(:field_soc) %></div>
                <div class="fs-abbo-sx1">

                  <p><%= f.text_field :codicefiscale, {:style => 'width:60%;', :label => l(:field_codicefiscale) + " <span class='required'>*</span>", :maxlength => 30} %></p>
                </div>
                <div class="fs-abbo-dx1">
                  <p><%= f.text_field :partitaiva, {:style => 'width:60%;', :label => l(:field_partitaiva), :maxlength => 30} %></p>
                </div>
                <div class="fs-abbo-sx1">
                  <p><%= f.text_area :indirizzo, :label => l(:field_indirizzo) + " <span class='required'>*</span>", :placeholder => "Indicare solo la via e il numero civico ...",:style => "width:94%; height: 80px" %></p> </div>
                <div class="fs-abbo-dx1">

                  <div style="margin-left: 7px;">
                    <label for="user_comune_id"><%= l(:field_comune) %><span class="required">*</span></label>
                    <%= f.hidden_field :comune_id, {:style => 'width:99%;'} %>
                    <%= text_field_tag "extra_town" %>
                    <p class="notice-in fs-flash-in" style="text-align: left; padding: 18px 40px;">Digitare almeno 2
                      caratteri per iniziare la ricerca. Usa la rotella per caricare altre risposte possibili
                    </p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="fs-abbo-sx1">
                  <p><%= f.text_field :telefono, {:style => 'width:60%;', :label => l(:field_telefono), :maxlength => 30} %></p>
                </div>
                <div class="fs-abbo-dx1">
                  <p><%= f.text_field :fax, {:style => 'width:60%;', :label => l(:field_fax), :maxlength => 30} %></p>
                </div>
                <br/>
              </fieldset>
              <!--FINE dv_dati societari -->
              <div class="clearfix"></div>
              <br />
              <!--INIZIO dv_verifica convenzioni -->
              <fieldset class="fs-abbo-fields">
                <legend title="Anagrafica Abbonamento">Convenzioni</legend>
                <div class="fs-abbo-sx1">
                  <h1>Convenzioni sportive </h1>
                  <div class="notice-in fs-flash-in"> Cerca la tua organizzazione sportiva qui sotto.       </div>
                  <div style="width:98%; margin-left: 7px;" >
                    <%= f.select :cross_organization_id, options_for_select(CrossOrganization.find(
                                                                                    :all,
                                                                                    :joins => [:type_organization],
                                                                                    :order => 'type_organizations.tipo, sigla').collect { |c| ["#{c.type_organization.tipo} :: #{c.sigla}", c.id] }),
                                 :include_blank => true,
                                 :required => false %>

                    <p style="padding: 1px 20px;">
                      <% TypeOrganization.all.each do |tipo| %>
                          <small><%= tipo.descrizione %></small>
                          &nbsp; &nbsp;&nbsp;&nbsp;
                      <% end %>
                    </p>
                  </div>


                </div>


                <div class="fs-abbo-dx1">
                  <h1>Altre convenzioni </h1>
                  <div class="notice-in fs-flash-in"> Se hai un codice di attivazione inseriscilo qui sotto.
                  </div>
                  <p><%= f.text_field :sez, {:style => 'width:89%;', :label => l(:label_codice_attivazione), :maxlength => 255} %></p>
                </div>
                <br />



              </fieldset>
              <!--FINE dv_convenzioni -->
              &nbsp;<br/>

              <div class="clearfix"></div>
              <div class="fs-abbo-bottom">
                <div class="fs-abbo-sx1">
                  <p>
                    <label><%= f.check_box :se_condition, :label => l(:field_language) + " <span class='required'>*</span>" %> <%= l(:field_se_condition_readed) %></label>
                  </p>

                  <p>Leggo le <a href='#' id='acondizioni' class='pri'><b>condizioni di utilizzo</b></a></p>

                  <div id="condizioni" title="Condizioni di utilizzo" class="hidden" style="overflow: hidden;"></div>
                </div>
                <div class="fs-abbo-dx1">
                  <p>
                    <label><%= f.check_box :se_privacy, :label => l(:field_se_privacy) + " <span class='required'>*</span>" %> <%= l(:field_se_privacy_accept) %></label>
                  </p>

                  <p>Acconsento al <a href='#' id='ainformativa' class='pri'><b>trattamento dei dati</b></a></p>
                </div>
                <div id="informativa" title="Informativa" class="hidden" style="overflow: hidden;">
                </div>
              </div>
              <div class="clearfix"></div>

              <div id="pops" title="" class="hidden" style="overflow: hidden;"></div>
              <%= submit_tag l(:button_submit), :class => "finish" %>
          <% end %>

        </div>
      </div>
    </div>
    <br/>
  </article>
  <div class="clearfix"></div>
  <br/>
</div>

<%# javascript_include_tag "jquery/jquery.stepy.min.js" %>
<%= javascript_include_tag "jquery/select2.min.js" %>
<%= stylesheet_link_tag 'jquery/select2.css' %>


<!--
  $( "#radio-jquery-ui" ).buttonset();
  $( "#radio-jquery-ui :input" ).each(function(){
    $label = $(this).next();
    $("table").append($("<tr/>").attr('id',$(this).attr('id'))
      .append($("<td/>").addClass('1').html($label.html()))
      .append($("<td align='center'/>").addClass('2').html( ($(this).attr('checked'))? 'checked' : 'no' ) )
      .append($("<td/>").addClass('3').html( ($label.hasClass('ui-state-active'))? 'ui-state-active' : 'not active' )));
  });
  $( "#radio-jquery-ui label" ).click(function(){
    $( "#radio-jquery-ui label" ).each(function(){
      $input = $(this).prev();
      $("tr [id='"+$(this).attr('for')+"'] td.2").html( ($input.attr('checked'))? 'checked' : 'no'  );
      $("tr[id='"+$(this).attr('for')+"'] td.3").html( ($(this).hasClass('ui-state-active'))? 'ui-state-active' : 'not active' );
    });
  });
-->

<script type="text/javascript">
    var pageSize = 10;
    $(document).ready(function () {
        //HideAvaibility("user_mail");
        //HideAvaibility("user_login");

        $('input:radio[name="rbt"]').change(function () {
            var sel = $('input:radio[name="rbt"]:checked').val();
            $("div.dvrbt").each(function () {
                if ($(this).attr('id') == sel) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });

        });
        //Initial set
        //var $radios = $('input:radio[name=rbt]');
        //if($radios.is(':checked') === false) {
        //    $radios.filter('[value=dv_associato]').prop('checked', true);
        //}
        $("input[name=rbt][value=dv_associato]").prop('checked', true);
        $("#dv_associato").show();

        $(document).tooltip();

        //  $('#steps').stepy({
        //      back:undefined, backLabel:'Indietro', block:false, description:false, errorImage:true, finish:undefined, finishButton:true, ignore:'', legend:true, nextLabel:'Avanti', next:undefined, titleClick:false, titleTarget:undefined, select:undefined, validate:false  //Kappao manca alcuni script? jquery validate TypeError: a is undefined
        //  });
        $('#user_language').select2({
            width:'90%',
            placeholder:"Seleziona il tuo linguagio",
            allowClear:true
        });
        $('#user_titolo').select2({
            width:'80%',
            placeholder:"Come rappresenti l'associazione nel quale appartieni. Se ti muovi per conto tuo lasci cosi.",
            allowClear:true
        });
        jQuery.ajaxSetup({
            'beforeSend':function (xhr) {
                xhr.setRequestHeader("Accept", "text/javascript")
            }
        });
        $("#user_mail").keyup(function () {
            if ($("#user_login").val().length <= 0) {
                $("#user_login").val($(this).val());
                HideAvaibility("user_login");
            }
        });
        $("#user_mail").blur(function () {
            if ((($(this).val() + "").length > 0) && ( isValidEmailAddress($(this).val()))) {
                controlfield($("#user_mail").attr("id"), $(this).val());
            }
            else
                HideAvaibility("user_mail");
        });
        //$("#user_login").keyup(function () {
        $("#user_login").blur(function () {
            if (($(this).val() + "").length > 1) {
                controlfield($("#user_login").attr("id"), $(this).val());
            }
            else
                HideAvaibility("user_login");
        });
        $('#user_cross_organization_id').select2({
            width:'98%',
            placeholder:"Seleziona ... ",
            allowClear:true
        });
        $("#user_cross_organization_id").on('change', function (ev) {
            //alert('changed usertiposigla --> TODO reload Associations?')
        });

        $("#extra_organismo_select").select2({
            width:'80%',
            placeholder:"Ricerca la tua associazione e la sua relativa federazione ed organismo",
            minimumInputLength:3,
            ajax:{
                url:'<%= organismi_path %>',
                dataType:'json', //'jsonp',
                quietMillis:500,
                data:function (term, page) { // page is the one-based page number tracked by Select2
                    return {
                        term:term, //search term
                        page_limit:pageSize, // page size
                        page:page//, // page number

                    };
                },
                results:function (data, page) {
                    //alert(data);
                    var more = (page * pageSize) < data.total; // whether or not there are more results available
                    //var data_jsonp = [];
                    //$.each(data.organismi, function (index, value) {
                    //    //alert(index + ': ' + value);
                    //    var elmt = {
                    //        id:value.id,
                    //        text:value.text
                    //    }
                    //    data_jsonp.push(elmt);
                    //});
                    // notice we return the value of more so Select2 knows if more results can be loaded
                    //data.organismi.replace('''text''', 'text').replace('''id''', 'id')
                    return {results:data.organismi, more:more};
                    //return {results: data_jsonp, more: more};
                }
            },
            formatResult:FormatOrga, // omitted for brevity, see the source of this page
            formatSelection:OrgaSelection, // omitted for brevity, see the source of this page
            dropdownCssClass:"bigdrop", // apply css that makes the dropdown taller
            escapeMarkup:function (m) {
                return m;
            } // we do not want to escape markup since we are displaying html in results
        });

        var urlzoneextend = '<%= zone_extend_path %>';
        $("#extra_town").select2({
            width:'98%',
            placeholder:"Cerca qui la città... ",
            minimumInputLength:2, //multiple: true,
            ajax:{
                url:urlzoneextend,
                quietMillis:400,
                dataType:'json',
                data:function (term, page) {
                    return {
                        term:term,
                        page_limit:pageSize,
                        page:page
                    };
                },
                results:function (data, page) {
                    var more = (page * pageSize) < data.total;
                    return {results:data.citta, more:more};
                }
            },
            formatResult:FormatCitta,
            formatSelection:CittaSelection,
            dropdownCssClass:"bigdrop",
            escapeMarkup:function (m) {
                return m;
            }
        });

        //privacy
        $("#ainformativa").click(function (e) {
            Inform(e);
            return false
        });
        $('#informativa').dialog({
            autoOpen:false,
            width:700,
            show:"blind",
            hide:"explode",
            height:550,
            resizable:true,
            draggable:true,
            title:'Informativa',
            bgiframe:true,
            modal:true,
            open:function (event, ui) {
                $(this).load(url_inf);
            },
            buttons:{
                "Acconsento":function () {
                    $('#user_se_privacy').prop('checked', true);
                    $(this).dialog("close");
                },
                "Chiudi":function () {
                    $(this).dialog("close");
                }
            }
        });
        //Condition
        $("#acondizioni").click(function (e) {
            Leggi(e);
            return false
        });
        $('#condizioni').dialog({
            autoOpen:false,
            width:700,
            height:550,
            resizable:true,
            draggable:true,
            title:'Condizioni di utilizzo',
            bgiframe:true,
            modal:true,
            open:function (event, ui) {
                $(this).load(url_cond);
                $('.ui-widget-overlay').bind('click', function () {
                    $('#condizioni').dialog('close');
                })
            },
            buttons:{
                "Ho letto":function (ev, ui) {
                    $('#user_se_condition').prop('checked', true);
                    $(this).dialog("close");
                },
                "Chiudi":function () {
                    $(this).dialog("close");
                }
            }
        });

    }); //end hquery document ready

    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i);
        return pattern.test(emailAddress);
    }
    function HideAvaibility(id) {
        $("#no_" + id).hide();
        $("#si_" + id).hide();
    }
    var urlctrl = '<%= emailctrl_path %>';
    function controlfield(id, val) {
        $.post(urlctrl, { field:id, term:val },
                function (data) {
                    data = data || {};
                    if (data.success) {
                        //OnSuccess
                        if (data.available) {
                            js_flash("notice", "Controllo del campo " + id + " per il valore (" + val + ") disponibile");
                            $("#no_" + id).hide('explode', {}, 450);
                            var obj = $("#si_" + id);
                            setTimeout(function () {
                                obj.show('fade', {}, 'slow');
                            }, 500);
                        }
                        if (data.unavailable) {
                            js_flash("alert", "Controllo del campo " + id + " per il valore (" + val + ") NON disponibile");
                            $("#si_" + id).hide('puff', {}, 450);  //'fast'
                            var obj = $("#no_" + id);
                            setTimeout(function () {
                                obj.show('fade', {}, 'slow');
                            }, 500);
                        }
                    } else if (data.errors) {
                        data.errors += "Controllo del campo " + id + " per il valore (" + val + ")";
                        js_flash("error", data.errors);
                    }
                }
        );
    }
    var url_cond = '<%= condition_path %>';
    function Leggi(e) {
        $("#condizioni").dialog('open');
        return false;
    }
    var url_inf = '<%= privacy_path %>';
    function Inform(e) {
        $("#informativa").dialog("open");
        return false;
    }
    function FormatOrga(organismi) {
        return '<div>' + organismi.label + '</div>';
    }
    function OrgaSelection(data) {
        $('#extra_cross_select').val(data.hiddenvalue_cross);
        return data.value;
    }
    function FormatCitta(Citta) {
        return '<div>' + Citta.label + '</div>';
    }
    function CittaSelection(Citta) {
        $('#user_comune_id').val(Citta.id);
        return Citta.value;
    }
</script>
<hr>
<div class="clearfix"></div>


<h2><%=l(:label_my_account)%></h2>
<%= error_messages_for 'user' %>

<% form_for :user, @user, :url => { :action => "account" },
                          :builder => TabularFormBuilder,
                          :lang => current_language,
                          :html => { :id => 'my_account_form' } do |f| %>
<div class="splitcontentleft">
<fieldset class="box tabular">
  <legend><%=l(:label_information_plural)%></legend>
  <p><%= f.text_field :firstname, :required => true %></p>
  <p><%= f.text_field :lastname, :required => true %></p>
  <p><%= f.text_field :mail, :required => true %></p>
  <p><%= f.select :language, lang_options_for_select %></p>
  <% if Setting.openid? %>
  <p><%= f.text_field :identity_url  %></p>
  <% end %>

  <% @user.custom_field_values.select(&:editable?).each do |value| %>
    <p><%= custom_field_tag_with_label :user, value %></p>
  <% end %>
  <%= call_hook(:view_my_account, :user => @user, :form => f) %>
</fieldset>

<%= submit_tag l(:button_save) %>
</div>

<div class="splitcontentright hide">
<fieldset class="box">
  <legend><%=l(:field_mail_notification)%></legend>
  <%= render :partial => 'users/mail_notifications' %>
</fieldset>

<fieldset class="box tabular hide">
  <legend><%=l(:label_preferences)%></legend>
  <%= render :partial => 'users/preferences' %>
</fieldset>


<fieldset class="box tabular">
  <legend><%=l(:label_convention)%></legend>
  <div class="fs-logged2 fs-blockcontent ">
    <ul>
      <% if User.current.convention %>
          <li>
            Coperto dalla convenzione: <br /> <%= link_to h(User.current.convention), convention_path(User.current.convention) %>
          </li>
      <% else %>
          <% if User.current.cross_organization %>
              <li>
                Federato a:<br /> <%= link_to h(User.current.cross_organization), cross_organization_path(User.current.cross_organization) %>
              </li>
          <% end %>
      <% end %>
      <% if User.current.responsable? && User.current.responsable_of
           User.current.responsable_of.each do |conv| %>
              <li>
                  Responsabile della convenzione: <%= link_to h(conv), convention_path(conv) %>
              </li>
          <% end
      end %>
      <li>
        <%= link_to l(:label_logout), :signout %>
      </li>
    </ul>

    <div class="fs-logged2-ico">
      <% if User.current.convention %>
          <%= image_tag "/images/commons/assos/#{ User.current.convention.logo}", :width => 50, :height => 50, :border => 0 %>
      <% else %>
          <%= image_tag "/images/ico/fs.png", :width => 50, :height => 50, :border => 0 %>
      <% end %>
    </div>
  </div>
</fieldset>


</div>
<% end %>

<% content_for :sidebar do %>
<%= render :partial => 'sidebar' %>
<% end %>

<% html_title(l(:label_my_account)) -%>
