<style>
    .thumb {
        height: 200px;
    }
</style>
<div class="fs-layout-cell fs-content clearfix" style="width: 100%; position:relative;">
  <article class="fs-post fs-article" style="width: 100%;">
    <div class="fs-postcontent clearfix">
      <div class="fs-content-layout">
        <div class="fs-content-layout-row">
          <div>
            <h2><%= l(:label_abbo) %> <%= link_to l(:label_login_with_open_id_option), signin_url if Setting.openid? %></h2>
            <blockquote>
              <strong>Il tuo profilo personale</strong> <br/>
              <%= get_status_role(User.current) %>
              <br/>Validità: <strong> <%= User.current.scadenza_fra %></strong>
            </blockquote>
            <br/>
          </div>
          <p style="width: 100%;">
            <% if User.current == @user || User.current.admin? %>
                <%= link_to l(:button_edit_profile), my_profile_edit_url, :class => 'fs-rosso-button' %>
            <% end %>
            <% if User.current == @user %>
                <span style="float: right;"><%= link_to(l(:button_change_password), url_for({:controller => "account", :action => "lost_password"}), :class => 'fs-blu-button') %> </span>
            <% end %>
          </p>

          <div style="width: 98%">
            <fieldset class="box tabular">
              <legend><%= l(:user_invoices, :num => @user.invoices.count.to_s) %></legend>
              <% if !@user.invoices.nil? && @user.invoices.count > 0 %>
                  <div class="autoscroll">
                    <table class="list invoices">
                      <thead>
                      <tr>
                        <th style='width: 33%;text-align:left;'><%= l(:label_numero_fattura) %></th>
                        <th style='width: 33%;text-align:left;'><%= l(:label_data_fattura) %></th>
                        <th style='width: 33%;text-align:left;'><%= l(:button_download) %>
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <% @user.invoices.sort_by(&:data_fattura).reverse.each do |invoice| %>
                          <tr class="<%= cycle 'odd', 'even' %>">
                            <td align="left">
                              <%= h(invoice.to_s) %>
                            </td>
                            <td><%= format_date(invoice.data_fattura) %></td>
                            <td align="left">
                              <%= link_to('PDF', invoice.attached_invoice, :target => '_blank', :class => 'icon icon-pdf') %>
                               <br />
                              <%= link_to('inviami', send_me_invoice_fs_path(invoice), :class => 'icon icon-pdf') %>


                                                     </tr>
                      <% end %>
                      </table>
                  </div>
              <% else %>
                  <p class="nodata"><%= l(:label_invoices_none) %></p>
              <% end %>
            </fieldset>
            <br/>
          </div>

          <!------  inizio ------ -->
          <div class="fs-layout-cell fs-content clearfix">
            <% if !@user.nil? %>
                <div class="fs-content-layout post-layout-item-0" style="width: 99%">
                  <div class="fs-content-layout-row">
                    <div class="fs-layout-cell post-layout-item-3" style="width: 100%">
                      <article class="fs-post-profile fs-article">
                        <div class="fs-profiles-sx">
                          <%= @user.my_avatar(:l) %>
                        </div>


                        <h3><%= (@user.firstname unless !@user.firstname) + ' ' + (@user.lastname unless !@user.lastname) %></h3>

                        <p><%= h @user.login %></p>

                        <p><%= h @user.mail %></p>

                        <p>&nbsp;</p>

                        <div class="fs-profiles-cx">
                          <% unless @user.telefono.blank? %>
                              <p><span> telefono </span>&nbsp;
                                <%= h @user.telefono %></p>
                          <% end %>

                          <% unless @user.mail.blank? %>
                              <p><span> e-mail </span>&nbsp;
                                <%= h @user.mail %></p>
                          <% end %>

                          <% unless @user.fax.blank? %>
                              <p><span> fax </span>&nbsp;
                                <%= h @user.fax %></p>
                          <% end %>

                          <% unless @user.comune.blank? %>
                              <p><span> fax </span>&nbsp;
                                <%= h @user.comune %></p>
                          <% end %>

                        </div>
                        <div class="cleared"></div>
                        <div class="fs-profiles-bt">

                        </div>

                      </article>
                      <br/>&nbsp; <br/>

                      <% if (User.current.admin? || User.current.ismanager?) && @profiles_hidden.count > 0 %>
                          <article class="fs-post-profile fs-article">
                            <div id="fs-profiles-all">

                            </div>
                          </article>
                      <% end %>
                    </div>
                  </div>
                </div>

            <% else %>
                <!--  <div id="fs-flash-notice">Informazione del profilo non trovata</div> -->
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </article>
</div>
