<div class="contextual">
<%= link_to(l(:button_edit), edit_section_path(@section), :class => 'icon icon-edit') if User.current.admin? %>
<%= link_to(l(:button_delete),
      section_path(@section),
      :confirm => l(:text_are_you_sure),
      :method => :delete,
      :class => 'icon icon-del') if User.current.admin? %>
</div>
<h2><%= link_to l(:label_section_plural), sections_path %> &#187; <%=h @section %></h2>

<div class="splitcontentleft">
  <fieldset class="box tabular">
    <legend><%=l(:label_section)%></legend>
    <p>
    <% unless @section.sezione.blank? %>
        <em><%=h @section.sezione %></em>
        <br />
    <% end %>
    </p>
    <p>
        <%= l(:label_top_section) %>: <%= link_to h(@section.top_section), top_section_path(@section.top_section, :id => @section.top_section_id) %>
    </p>
    <p>
        <%= l(:label_ordinamento) %>: <%=h @section.ordinamento %>
    </p>
    <p>
        <%= check_box_tag l(:label_protetto), 1, @section.protetto, :disabled => 'disabled'  %> <%= l(:label_protetto) %>  
    </p>
  </fieldset>
</div>
