<% remote_form_for(:news, :url => {:action => 'assegna_js'}, :builder => TabularFormBuilder, :html => {:method => :post}) do |f_a| %>
    <%= f_a.error_messages %>
    <%= f_a.hidden_field :project_id, :value => @news.project.id %>
    <%= f_a.hidden_field :news_id, :value => @news.id %>
    <div id="watchers_form"><label><b><%= l(:label_newmembers) %></b></label> <br/>
      <% @news.project.users.sort.each do |user| %>
          <div class="floating-items3"><%= check_box_tag 'watcher_user_ids[]', user.id, false %> <%= h user %></div>
      <% end %>
    </div>
    <hr style="height: 5px; background-color: transparent;" />
    <p style="text-align: center; width: 100%; padding: 3% 0;">
    <%= submit_tag('Assegna uno o più collaboratori per rispondere', :class => 'button-blu') unless (!User.current.admin? || !User.current.ismanager?) %>
    </p><% end %>

