<div id="div_issues_responses" xmlns="http://www.w3.org/1999/html">
  <% if @news.is_quesito? %>
      <div>
        <%= @news.get_state_icons_fe %>
        <div class="domand_box">
          <%= @news.quesito_status_fs_text_be %></div>
        <% if @news.is_issue_reply? %>
            <h3 class="noborder gradient-dx-blu "><%= l(:label_reply_with_issue_again) %></h3>
        <% else %>
            <h3 class="noborder gradient-dx-blu "><%= l(:label_reply_with_issue) %></h3>
        <% end %>
        <div class="box">
          <% if User.current.allowed_to?(:add_issue_watchers, @news.project) %>
              <%= render :partial => 'form_assign_to', :locals => {:news => @news} %>
          <% end %>
        </div>

     </div>
  <% end %>

</div> <!-- div_issues_responses -->
