<div class="contextual">
<%= watcher_tag(@news, User.current) %>
<% if !@news.is_quesito? %>
<%= link_to(l(:button_edit),
      edit_news_path(@news),
      :class => 'icon icon-edit',
      :accesskey => accesskey(:edit),
      :onclick => 'Element.show("edit-news"); return false;') if User.current.allowed_to?(:manage_news, @project) %>
<% end %>
<%= link_to(l(:button_delete),
      news_path(@news),
      :confirm => l(:text_are_you_sure),
      :method => :delete,
      :class => 'icon icon-del') if User.current.allowed_to?(:manage_news, @project) %>
</div>

<h2><%= avatar(@news.author, { :size => "24", :class => "no-div" }) %><%=h @news.title %></h2>

<% if authorize_for('news', 'edit') %>
<div id="edit-news" style="display:none;">
<% labelled_tabular_form_for :news, @news, :url => news_path(@news),
                                           :html => { :id => 'news-form', :method => :put } do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<%= submit_tag l(:button_save) %>
<%= link_to_remote l(:label_preview),
                   { :url => preview_news_path(:project_id => @project),
                     :method => 'get',
                     :update => 'preview',
                     :with => "Form.serialize('news-form')"
                   }, :accesskey => accesskey(:preview) %> |
<%= link_to l(:button_cancel), "#", :onclick => 'Element.hide("edit-news"); return false;' %>
<% end %>
<div id="preview" class="wiki"></div>
</div>
<% end %>

<div class="splitcontentleft">
<%#           CONTENUTO NEWS          %>
  <p><% unless @news.summary.blank? %><em><%=h @news.summary %></em><br /><% end %>
  <span class="author"><%= authoring @news.created_on, @news.author %></span></p>
  <div class="wiki">
  <%= textilizable(@news.description) %>
  </div>
  <br />

<%#           COMMENTI LEGALTI ALLA NEWS          %>
  <div id="comments" style="margin-bottom:16px;">
  <h3 class="comments"><%= l(:label_comment_plural) %></h3>
  <% @comments.each do |comment| %>
      <% next if comment.new_record? %>
      <div class="contextual">
      <%= link_to_if_authorized image_tag('delete.png'), {:controller => 'comments', :action => 'destroy', :id => @news, :comment_id => comment},
                                                         :confirm => l(:text_are_you_sure), :method => :delete, :title => l(:button_delete) %>
      </div>
      <h4><%= avatar(comment.author, { :size => "24", :class => "no-div" }) %><%= authoring comment.created_on, comment.author %></h4>
      <%= textilizable(comment.comments) %>
  <% end if @comments.any? %>
  </div>

  <% if authorize_for 'comments', 'create' %>
  <p><%= toggle_link l(:label_comment_add), "add_comment_form", :focus => "comment_comments" %></p>
  <% form_tag({:controller => 'comments', :action => 'create', :id => @news}, :id => "add_comment_form", :style => "display:none;") do %>
  <div class="box">
      <%= text_area 'comment', 'comments', :cols => 80, :rows => 15, :class => 'wiki-edit' %>
      <%= wikitoolbar_for 'comment_comments' %>
  </div>
  <p><%= submit_tag l(:button_add) %></p>
  <% end %>
  <% end %>

  <% html_title @news.title -%>

  <% content_for :header_tags do %>
    <%= stylesheet_link_tag 'scm' %>
  <% end %>

</div>

<% if @news.is_quesito? %>
<div class="splitcontentright">
  <%= @news.get_state_icons_fe %>
  <%= @news.quesito_status_fs_text %>
  <% if @news.is_fast_reply? %>
    <div id="question" style="margin-bottom:16px;" class="box">
      <b><label><%= l(:label_reply) %><label></b>
      <br />
      <p style="color: red;"><%= textilizable(@news.reply) %></p>
    </div>
  <% else %>
  <div class="box">
    <% if !@news.new_record? && User.current.allowed_to?(:add_issue_watchers, @news.project) %>
      <%# form_for @news, :url => assign_collaboratore_path do |f_a| %>
      <%# form_for @news, :controller => 'news', :action => 'assegna' :controller => 'news', :action => 'assegna' , :conditions => {:method => :put} do |f_a| %>
      <% remote_form_for(:news, :url => { :action => 'assegna_js'}, :builder => TabularFormBuilder, :html => {:method => :post}) do |f_a| %>
        <%= f_a.error_messages %>
        <%= f_a.hidden_field :project_id, :value => @news.project.id %>
        <%= f_a.hidden_field :news_id, :value => @news.id %>
        <p id="watchers_form"><label><b><%= l(:label_newmembers) %></label></b>
        <% @news.project.users.sort.each do |user| %>
          <label class="floating"><%= check_box_tag 'watcher_user_ids[]', user.id, false %> <%=h user %></label>
        <% end %>
        </p>
        <%# f_a.submit 'Assegna uno o più collaboratori per rispondere' unless (!User.current.admin? ||  !User.current.ismanager?) %>
        <p><%= submit_tag 'Assegna uno o più collaboratori per rispondere' unless (!User.current.admin? ||  !User.current.ismanager?) %></p>

      <% end %>
      <div class="informa" id="tab-content-dati"> </div>
    <% end %>
  </div>

  <div class="box tabular">
    <div id="responses" style="margin-bottom:16px;">
      <h3 class="responses"><%= l(:list_quesiti_response, :num => @news.issues.count) %></h3>
      <% @news.issues.each do |issue| %>
        <div class="risposta">
        <div class="contextual">
        <% if !issue.description? %>
          <%= link_to_if_authorized(l(:button_reply), {:controller => 'issues', :action => 'news_fast_reply', :id => issue}, :class => 'icon icon-reply') %>
          <%= link_to_if_authorized l(:button_move), {:controller => 'issue_moves', :action => 'new', :id => issue}, :class => 'icon icon-move' %>
        <% end %>
        <%= link_to_if_authorized l(:button_delete), {:controller => 'issues', :action => 'destroy', :id => issue}, :confirm => issues_destroy_confirmation_message(issue), :method => :post, :class => 'icon icon-del' %>
        </div>
          <b><%= link_to_issue(issue, :project => true) %></b>
          <br /><%= l(:field_assigned_to) %> ==> <%= link_to_user(issue.author) %>
          <br /><% if issue.description? %>
            <%= issue.description %>
          <% else %>
            <%= l(:no_reply_actualy) %>
          <% end %>
        </div>
      <% end if @news.issues.any? %>
    </div>
  </div>
  <% end %>
</div>
<% end %>
