<% if Setting.fee %>
    <% form_tag({:action => 'edit', :tab => 'fee'}) do %>
        <div class="box" id="settings-fee">
          <fieldset>
            <legend><%= l(:label_settings_fee_gratis) %></legend>
            <div class="box tabular settings">
              <p style="font-size: 0.8em; font-style: italic;"> Attenzione: controllo a scorrimento righe non supoerare
                i 40 caratteri per riga.<br/> per separare le righe mettere un tag html di paragrafo: &lt;p&gt;&lt;/p&gt;
                o di blocco: &lt;div&gt;&lt;/div&gt; </p>

              <p><%= setting_text_area :home_banner_sx_gratis_msg %></p>
              <br/>

              <p><%= setting_text_field :home_banner_sx_logged_txt, :size => 40 %></p>

              <p><%= setting_text_field :home_banner_sx_gratis_txt, :size => 40 %></p>    <br/>


            </div>
          </fieldset>
          <fieldset>
            <legend><%= l(:label_settings_fee_set) %></legend>
            <div class="box tabular settings">
              <p><%= setting_text_field :register_days, :size => 6, :title => l(:label_register_days) %> <%= l(:label_day_plural) %></p>

              <p style="font-size: 0.8em; font-style: italic;"><%= l(:label_register_days) %></p>
              <p><%= setting_text_field :renew_days, :size => 6, :title => l(:label_renew_days) %> <%= l(:label_day_plural) %>
              </p>

              <p style="font-size: 0.8em; font-style: italic;"><%= l(:label_renew_days) %></p>

              <p><%= setting_text_field :fee_bcc_recipients, :size => 60, :title => l(:setting_fee_bcc_recipients) %></p>

              <p style="font-size: 0.8em; font-style: italic;"><%= l(:label_fee_bcc_recipients) %></p>

              <p><%= setting_text_field :fee_email, :size => 60, :title => l(:setting_fee_email) %></p>

              <p style="font-size: 1em; font-style: italic;"><%= l(:label_fee_email) %></p>
            </div>
          </fieldset>

          <br/>

          <fieldset>
            <legend><%= l(:label_settings_fee_info_msg) %></legend>
            <p style="font-size: 0.8em; font-style: italic;"><%= l(:label_settings_fee_info_mail) %></p>
            <% conv = Convention.find(:first, :conditions => "#{Convention.table_name}.user_id IS NOT NULL", :order => "#{Convention.table_name}.data_scadenza DESC", :include => [:user]) %>
            <% usr = (conv && conv.users.any?) ? conv.users.first : User.current %>
            <% referee = (conv && conv.user) ? conv.user : User.find(:first, :conditions => {:power_user => 1}) %>
            <ul>
              <li> Utente loggato</li>
              <li>
                <mark>@@logged_username@@</mark>
                ==> <%= h User.current.name %></li>
              <li title="lo stato riporta un messaggio solo se l'utente è sottoposto alla gestione dell'abbonamento e si trova in stato di rinnovamento, scaduto,  ">
                <mark>@@logged_state@@</mark>
                ==> <%= h User.current.state %></li>
              <li> Utente selezionato</li>
              <li>
                <mark>@@user_username@@</mark>
                ==> <%= h usr.name %></li>
              <li>
                <mark>@@user_password@@</mark>
                ==> <%= h usr.password %></li>
              <li>
                <mark>@@user_scadenza@@</mark>
                ==> <%= h usr.scadenza %></li>
              <li>
                <mark>@@distance_of_date_in_words@@</mark>
                ==> <%= h usr.scadenza_fra %></li>
              <li> Convenzione</li>
              <li>
                <mark>@@user_codice@@</mark>
                ==> <%= h usr.id.to_s %></li>
              <li>
                <mark>@@user_convention@@</mark>
                ==> <%= h conv.name %></li>
              <li>
                <mark>@@poweruser_username@@</mark>
                ==> <%= h referee.name %></li>
              <li>
                <mark>@@poweruser_codice@@</mark>
                ==> <%= h referee.id.to_s %></li>
              <li> Setting</li>
              <li>
                <mark>@@settings_host_name@@</mark>
                ==> <%= h 'http://' + Setting.host_name %></li>
              <li>
                <mark>@@settings_register_days@@</mark>
                ==> <%= h Setting.register_days.to_s %></li>
              <li>
                <mark>@@settings_renew_days@@</mark>
                ==> <%= h Setting.renew_days.to_s %></li>
              <li>
                <mark>@@settings_fee_bcc_recipients@@</mark>
                ==> <%= h Setting.fee_bcc_recipients %></li>
              <li>
                <mark>@@settings_fee_email@@</mark>
                ==> <%= h Setting.fee_email %></li>
              <li>
                <mark>@@settings_app_title@@</mark>
                ==> <%= h Setting.app_title %></li>
              <li>
                <mark>@@settings_welcome_text_fs@@</mark>
                ==> <%= h Setting.welcome_text_fs %></li>
              <li>
                <mark>@@settings_welcome_text@@</mark>
                ==> <%= h Setting.welcome_text %></li>

            </ul>


          </fieldset>

          <hr/>
          <fieldset>
            <legend><%= l(:setting_emails_fee_proposal) %></legend>
            <%= setting_text_area :template_fee_proposal, :label => false, :rows => 5 %>
            <%= l(:label_emails_fee_proposal) %>
            <div style="float:right;">
              <%= link_to l(:label_send_test_email_fee_confirm), :controller => 'fees', :action => 'email_fee', :params => {:type => 'proposal'} %>
            </div>
          </fieldset>
          &nbsp; <br/>
          <fieldset>
            <legend><%= l(:setting_emails_fee_register_convention) %></legend>
            <%= setting_text_area :template_fee_register_asso, :label => false, :rows => 5 %>
            <%= l(:label_emails_fee_register_convention) %>
            <div style="float:right;">
              <%= link_to l(:label_send_test_email_fee_convention), :controller => 'fees', :action => 'email_fee', :params => {:type => 'asso'} %>
            </div>
          </fieldset>
          &nbsp; <br/>
          <fieldset>
            <legend><%= l(:setting_emails_fee_renew) %></legend>
            <%= setting_text_area :template_fee_renew, :label => false, :rows => 5 %>
            <%= l(:label_emails_fee_renew) %>
            <div style="float:right;">
              <%= link_to l(:label_send_test_email_fee_renew), :controller => 'fees', :action => 'email_fee', :params => {:type => 'renew'} %>
            </div>
          </fieldset>
          &nbsp; <br/>
          <fieldset>
            <legend><%= l(:setting_fee_thanks) %></legend>
            <%= setting_text_area :template_fee_thanks, :label => false, :rows => 5 %>
            <%= l(:label_fee_thanks) %>
            <div style="float:right;">
              <%= link_to l(:label_send_test_email_fee_thanks), :controller => 'fees', :action => 'email_fee', :params => {:type => 'thanks'} %>
            </div>
          </fieldset>
          &nbsp; <br/>
          <fieldset>
            <legend><%= l(:setting_privacy) %></legend>
            <%= setting_text_area :template_privacy, :label => false, :rows => 5 %>
            <%= l(:label_privacy) %>
            <div style="float:right;">
            </div>
          </fieldset>
          &nbsp; <br/>
          <fieldset>
            <legend><%= l(:setting_condition) %></legend>
            <%= setting_text_area :template_condition, :label => false, :rows => 5 %>
            <%= l(:label_condition) %>
            <div style="float:right;">
            </div>
          </fieldset>
          &nbsp; <br/>
          <div class="btn-footer"><%= submit_tag l(:button_save), :class => 'button-grey' %></div>
          <div  style="width: 99%; text-align: left; padding: 1% 3%;  font-weight: bold;" >
          <p style="font-size: 1.3em;"> Sotto i
            messaggi all'utente sulla scadenza del suo abbonamento </p>
            <p style="font-size:1em; font-style: normal;">Il parametro <span style="background-color: yellow;">@@distance_of_date_in_words@@</span> verrà sostituito con i giorni restanti. </span>
          </p></div>
          <fieldset>
            <legend><%= l(:role_archivied) %></legend>
            <%= setting_text_area :webmsg_isarchivied, :label => false %>
            <%# l(:label_isarchivied) %>
            <div style="float:right;">
            </div>
          </fieldset>
          <fieldset>
            <legend><%= l(:role_expired) %></legend>
            <%= setting_text_area :webmsg_isexpired, :label => false %>
            <%# l(:label_isexpired) %>
            <div style="float:right;">
            </div>
          </fieldset>
          <fieldset>
            <legend><%= l(:role_renew) %></legend>
            <%= setting_text_area :webmsg_isrenewing, :label => false %>
            <%# l(:label_isrenewing) %>
            <div style="float:right;">
            </div>
          </fieldset>
          <fieldset>
            <legend><%= l(:role_registered) %></legend>
            <%= setting_text_area :webmsg_isregistered, :label => false %>
            <%# l(:label_condition) %>
            <div style="float:right;">
            </div>
          </fieldset>
          &nbsp; <br/>
          <div class="btn-footer"><%= submit_tag l(:button_save), :class => 'button-grey', :tab => 'fee' %></div>
          &nbsp; <br/>

          <div  style="width: 99%; text-align: left; padding: 1% 3%;  font-weight: bold;" >
            <p style="font-size: 1.3em;"> Sotto i predefiniti per le sezioni della fattura </p>
            <p style="font-size:1em; font-style: normal;">La costruzione della fattura  in 3 parti: testata logo e mittente, descrizione : un testo per il servizio offerto , footer : piè di pagina della fattura. </span>
            </p></div>
          <fieldset>
            <legend><%= l(:default_invoices_header) %></legend>
            <%= setting_text_area :default_invoices_header, :label => false %>
            <div style="float:right;">
            </div>
          </fieldset>
          <fieldset>
            <legend><%= l(:default_invoices_description) %></legend>
            <%= setting_text_area :default_invoices_description, :label => false %>
            <div style="float:right;">
            </div>
          </fieldset>
          <fieldset>
            <legend><%= l(:default_invoices_footer) %></legend>
            <span class="mini-legend" style="color:firebrick;"> *Attenzione alle modifiche nel footer, lasciarlo più semplice possibile perchè verrà visualizzato su tutti i files pdf del sito </span>

            <%= setting_text_area :default_invoices_footer, :label => false %>
            <div style="float:right;">
            </div>
          </fieldset>
              &nbsp; <br/>
          <div class="btn-footer"><%= submit_tag l(:button_save), :class => 'button-grey', :tab => 'fee'%></div>
        </div>
    <% end %>

<% else %>
    <div class="nodata">
      <%= simple_format(l(:fee_not_abilitated)) %>
    </div>
<% end %>
<script type="text/javascript">
    CKEDITOR.replace('settings_template_fee_proposal', { toolbar:'Basic'});
    CKEDITOR.replace('settings_template_fee_register_asso', { toolbar:'Basic'});
    CKEDITOR.replace('settings_template_fee_renew', { toolbar:'Basic'});
    CKEDITOR.replace('settings_template_fee_thanks', { toolbar:'Basic'});
    CKEDITOR.replace('settings_template_privacy', { toolbar:'Light', height:'500' });
    CKEDITOR.replace('settings_template_condition', { toolbar:'Light', height:'500' });
    CKEDITOR.replace('settings_webmsg_isarchivied', { toolbar:'Basic', height:'250'});
    CKEDITOR.replace('settings_webmsg_isexpired', { toolbar:'Basic', height:'250'});
    CKEDITOR.replace('settings_webmsg_isrenewing', { toolbar:'Basic', height:'250'});
    CKEDITOR.replace('settings_webmsg_isregistered', { toolbar:'Basic', height:'250'});
    CKEDITOR.replace('settings_default_invoices_header', { toolbar:'Light', height:'350' });
    CKEDITOR.replace('settings_default_invoices_description', { toolbar:'Light', height:'350' });
    CKEDITOR.replace('settings_default_invoices_footer', { toolbar:'Light', height:'250' });
</script>
