<% if Setting.fee %>
    <% form_tag({:action => 'edit', :tab => 'notifications'}) do %>

        <div class="box tabular settings">

          <p><%= setting_text_field :register_days, :size => 6, :title => l(:label_register_days) %> <%= l(:label_day_plural) %>
            <br/><em><%= l(:label_register_days) %></em></p>

          <p><%= setting_text_field :renew_days, :size => 6, :title => l(:label_renew_days) %> <%= l(:label_day_plural) %>
            <br/><em><%= l(:label_renew_days) %></em></p>

          <p><%= setting_text_field :fee_bcc_recipients, :size => 60, :title => l(:setting_fee_bcc_recipients) %><br/>
            <em><%= l(:label_fee_bcc_recipients) %></em></p>

          <p><%= setting_text_field :fee_email, :size => 60, :title => l(:setting_fee_email) %><br/>
            <em><%= l(:label_fee_email) %></em></p>
        </div>
        <br/>
        <div class="box" id="settings-fee">
          <fieldset>
            <legend><%= l(:setting_emails_fee_proposal) %></legend>
            <%= setting_text_area :template_fee_proposal, :label => false, :rows => 5 %>
            <%= l(:label_emails_fee_proposal) %>
            <div style="float:right;">
              <%= link_to l(:label_send_test_email_fee_confirm), :controller => 'fees', :action => 'email_fee', :params => {:type => 'proposal'} %>
            </div>
          </fieldset>
          &nbsp; <br/>
          <fieldset>
            <legend><%= l(:setting_emails_fee_register__convention) %></legend>
            <%= setting_text_area :template_fee_register_asso, :label => false, :rows => 5 %>
            <%= l(:label_emails_fee_register_asso) %>
            <div style="float:right;">
              <%= link_to l(:label_send_test_email_fee__convention), :controller => 'fees', :action => 'email_fee', :params => {:type => 'asso'} %>
            </div>
          </fieldset>
          &nbsp; <br/>
          <fieldset>
            <legend><%= l(:setting_emails_fee_renew) %></legend>
            <%= setting_text_area :template_fee_renew, :label => false, :rows => 5 %>
            <%= l(:label_emails_fee_renew) %>
            <div style="float:right;">
              <%= link_to l(:label_send_test_email_fee_renew), :controller => 'fees', :action => 'email_fee', :params => {:type => 'renew'} %>
            </div>
          </fieldset>
          &nbsp; <br/>
          <fieldset>
            <legend><%= l(:setting_fee_thanks) %></legend>
            <%= setting_text_area :template_fee_thanks, :label => false, :rows => 5 %>
            <%= l(:label_fee_thanks) %>
            <div style="float:right;">
              <%= link_to l(:label_send_test_email_fee_thanks), :controller => 'fees', :action => 'email_fee', :params => {:type => 'thanks'} %>
            </div>
          </fieldset>
          &nbsp; <br/>
          <fieldset>
            <legend><%= l(:setting_privacy) %></legend>
            <%= setting_text_area :template_privacy, :label => false, :rows => 5 %>
            <%= l(:label_privacy) %>
            <div style="float:right;">
            </div>
          </fieldset>
          &nbsp; <br/>
          <fieldset>
            <legend><%= l(:setting_condition) %></legend>
            <%= setting_text_area :template_condition, :label => false, :rows => 5 %>
            <%= l(:label_condition) %>
            <div style="float:right;">
            </div>
          </fieldset>
          &nbsp; <br/>
          <p style="color:#2C4056; width: 99%; text-align: center; font-size: 1.3em; font-style: italic;"> Sotto i messaggi all'utente sulla scadenza del suo abbonamento <br/>
            <span style="font-size: 0.6em;">Il parametro @@distance_of_date_in_words@@ verrà sostituito con i giorni restanti. </span> </p>
          <fieldset>
            <legend><%= l(:role_archivied) %></legend>
            <%= setting_text_area :webmsg_isarchivied, :label => false %>
            <%# l(:label_isarchivied) %>
            <div style="float:right;">
            </div>
          </fieldset>
          <fieldset>
            <legend><%= l(:role_expired) %></legend>
            <%= setting_text_area :webmsg_isexpired, :label => false %>
            <%# l(:label_isexpired) %>
            <div style="float:right;">
            </div>
          </fieldset>
          <fieldset>
            <legend><%= l(:role_renew) %></legend>
            <%= setting_text_area :webmsg_isrenewing, :label => false %>
            <%# l(:label_isrenewing) %>
            <div style="float:right;">
            </div>
          </fieldset>
          <fieldset>
            <legend><%= l(:role_registered) %></legend>
            <%= setting_text_area :webmsg_isregistered, :label => false %>
            <%# l(:label_condition) %>
            <div style="float:right;">
            </div>
          </fieldset>
          &nbsp; <br/>
          <div class="btn-footer"><%= submit_tag l(:button_save), :class => 'button-grey' %></div>
        </div>
    <% end %>

<% else %>
    <div class="nodata">
      <%= simple_format(l(:fee_not_abilitated)) %>
    </div>
<% end %>
<script type="text/javascript">
    CKEDITOR.replace('settings_template_fee_proposal', { toolbar:'Basic'});
    CKEDITOR.replace('settings_template_fee_register_asso', { toolbar:'Basic'});
    CKEDITOR.replace('settings_template_fee_renew', { toolbar:'Basic'});
    CKEDITOR.replace('settings_template_fee_thanks', { toolbar:'Basic'});
    CKEDITOR.replace('settings_template_privacy', { toolbar:'Light', height:'500' });
    CKEDITOR.replace('settings_template_condition', { toolbar:'Light', height:'500' });
    CKEDITOR.replace('settings_webmsg_isarchivied', { toolbar:'Basic', height:'250'});
    CKEDITOR.replace('settings_webmsg_isexpired', { toolbar:'Basic', height:'250'});
    CKEDITOR.replace('settings_webmsg_isrenewing', { toolbar:'Basic', height:'250'});
    CKEDITOR.replace('settings_webmsg_isregistered', { toolbar:'Basic', height:'250'});
</script>