<% if Setting.fee %>
    <% form_tag({:action => 'edit', :tab => 'notifications'}) do %>

        <div class="box tabular settings">

          <p><%= setting_text_field :register_days, :size => 6, :title => l(:label_register_days) %> <%= l(:label_day_plural) %>
            <br/><em><%= l(:label_register_days) %></em></p>

          <p><%= setting_text_field :renew_days, :size => 6, :title => l(:label_renew_days) %> <%= l(:label_day_plural) %>
            <br/><em><%= l(:label_renew_days) %></em></p>

          <p><%= setting_text_field :fee_bcc_recipients, :size => 60, :title => l(:setting_fee_bcc_recipients) %><br/>
            <em><%= l(:label_fee_bcc_recipients) %></em></p>

          <p><%= setting_text_field :fee_email, :size => 60, :title => l(:setting_fee_email) %><br/>
            <em><%= l(:label_fee_email) %></em></p>
        </div>
        <br/>
        <div class="box" id="settings-fee">
          <fieldset>
            <legend><%= l(:setting_emails_fee_proposal) %></legend>
            <%= setting_text_area :template_fee_proposal, :label => false, :rows => 5 %>
            <%= l(:label_emails_fee_proposal) %>
            <div style="float:right;">
              <%= link_to l(:label_send_test_email_fee_confirm), :controller => 'fees', :action => 'email_fee', :params => {:type => 'proposal'} %>
            </div>
          </fieldset>
          &nbsp; <br/>
          <fieldset>
            <legend><%= l(:setting_emails_fee_register_asso) %></legend>
            <%= setting_text_area :template_fee_register_asso, :label => false, :rows => 5 %>
            <%= l(:label_emails_fee_register_asso) %>
            <div style="float:right;">
              <%= link_to l(:label_send_test_email_fee_asso), :controller => 'fees', :action => 'email_fee', :params => {:type => 'asso'} %>
            </div>
          </fieldset>
          &nbsp; <br/>
          <fieldset>
            <legend><%= l(:setting_emails_fee_renew) %></legend>
            <%= setting_text_area :template_fee_renew, :label => false, :rows => 5 %>
            <%= l(:label_emails_fee_renew) %>
            <div style="float:right;">
              <%= link_to l(:label_send_test_email_fee_renew), :controller => 'fees', :action => 'email_fee', :params => {:type => 'renew'} %>
            </div>
          </fieldset>
          &nbsp; <br/>
          <fieldset>
            <legend><%= l(:setting_fee_thanks) %></legend>
            <%= setting_text_area :template_fee_thanks, :label => false, :rows => 5 %>
            <%= l(:label_fee_thanks) %>
            <div style="float:right;">
              <%= link_to l(:label_send_test_email_fee_thanks), :controller => 'fees', :action => 'email_fee', :params => {:type => 'thanks'} %>
            </div>
          </fieldset>
          &nbsp; <br/>
          <fieldset>
            <legend><%= l(:setting_privacy) %></legend>
            <%= setting_text_area :template_privacy, :label => false, :rows => 5 %>
            <%= l(:label_privacy) %>
            <div style="float:right;">
            </div>
          </fieldset>
          &nbsp; <br/>
          <fieldset>
            <legend><%= l(:setting_condition) %></legend>
            <%= setting_text_area :template_condition, :label => false, :rows => 5 %>
            <%= l(:label_condition) %>
            <div style="float:right;">
            </div>
          </fieldset>
          &nbsp; <br/>
          <%= submit_tag l(:button_save) %>
        </div>
    <% end %>

<% else %>
    <div class="nodata">
      <%= simple_format(l(:fee_not_abilitated)) %>
    </div>
<% end %>
<script type="text/javascript">
    CKEDITOR.replace('settings_template_fee_proposal', { toolbar:'Basic'});
    CKEDITOR.replace('settings_template_fee_register_asso', { toolbar:'Basic'});
    CKEDITOR.replace('settings_template_fee_renew', { toolbar:'Basic'});
    CKEDITOR.replace('settings_template_fee_thanks', { toolbar:'Basic'});
    CKEDITOR.replace('settings_template_privacy', { toolbar:'Light', height:'500' });
    CKEDITOR.replace('settings_template_condition', { toolbar:'Light', height:'500' });
</script>