<% form_tag({:action => 'edit'}) do %>

<div class="box tabular settings">
<p><%= setting_text_field :app_title, :size => 30 %></p>

<p class="yui-skin-sam"><%= setting_text_area :welcome_text, :cols => 60, :rows => 5  %></p>
<%# wikitoolbar_for 'settings_welcome_text' %>

<p class="yui-skin-sam"><%= setting_text_area :welcome_text_fs, :cols => 60, :rows => 5 %></p>
<%# wikitoolbar_for 'settings_welcome_text_fs' %>
</div>

<div class="box tabular settings">
<p class="yui-skin-sam"><%= setting_text_area :info_fs, :cols => 60, :rows => 5 %></p>
<%# wikitoolbar_for 'settings_info_fs' %>

<p><%= setting_check_box :info_promoted_fs %></p>
</div>

<div class="box tabular settings">
<p><%= setting_text_field :attachment_max_size, :size => 6 %> <%= l(:"number.human.storage_units.units.kb") %></p>

<p><%= setting_text_field :per_page_options, :size => 20 %><br />
<em><%= l(:text_comma_separated) %></em></p>

<p><%= setting_text_field :per_page_options_fs, :size => 20 %><br />
<em><%= l(:text_comma_separated) %></em></p>


<p><%= setting_text_field :activity_days_default, :size => 6 %> <%= l(:label_day_plural) %></p>

<p><%= setting_text_field :host_name, :size => 60 %><br />
<em><%= l(:label_example) %>: <%= @guessed_host_and_path %></em></p>

<p><%= setting_select :protocol, [['HTTP', 'http'], ['HTTPS', 'https']] %></p>

<p><%= setting_select :text_formatting, Redmine::WikiFormatting.format_names.collect{|name| [name, name.to_s]}, :blank => :label_none %></p>

<p><%= setting_check_box :cache_formatted_text %></p>

<p><%= setting_select :wiki_compression, [['Gzip', 'gzip']], :blank => :label_none %></p>

<p><%= setting_text_field :feeds_limit, :size => 6 %></p>

<p><%= setting_text_field :file_max_size_displayed, :size => 6 %> <%= l(:"number.human.storage_units.units.kb") %></p>

<p><%= setting_text_field :diff_max_lines_displayed, :size => 6 %></p>

<p><%= setting_text_field :repositories_encodings, :size => 60 %><br />
<em><%= l(:text_comma_separated) %></em></p>

<%= call_hook(:view_settings_general_form) %>
</div>

<%= submit_tag l(:button_save) %>
<% end %>

<% content_for :header_yui do %>
    <%= stylesheet_link_tag 'yui/skin.css', :media => 'all' %>
    <%= javascript_include_tag "yui/yahoo-dom-event.js" %>
    <%= javascript_include_tag "yui/element-min.js" %>
    <%= javascript_include_tag "yui/container_core-min.js" %>
    <%= javascript_include_tag "yui/menu-min.js" %>
    <%= javascript_include_tag "yui/button-min.js" %>
    <%= javascript_include_tag "yui/editor-min.js" %>
    <%= javascript_include_tag "yui/yui_fs.js" %>
<% end %>
<script type="text/javascript" charset="utf-8">
    (function () {
        var myConfig1 = {
            handleSubmit:true,
            width:'100%',
            resize:true,
            animate:true,
            dompath:true,
            focusAtStart:false,
            nodeChangeDelay:false,
            removeLineBreaks:true,
            drag:true
        };
        init_yui_editor_fs('settings_welcome_text', myConfig1);

        var myConfig2 = {
            handleSubmit:true,
            width:'100%',
            resize:true,
            animate:true,
            dompath:true,
            focusAtStart:false,
            nodeChangeDelay:false,
            removeLineBreaks:true,
            drag:true
        };
        init_yui_editor_fs('settings_info_fs', myConfig2);

        var myConfig3 = {
            handleSubmit:true,
            width:'100%',
            resize:true,
            animate:true,
            dompath:true,
            focusAtStart:false,
            nodeChangeDelay:false,
            removeLineBreaks:true,
            drag:true
        };
        init_yui_editor_fs('settings_welcome_text_fs', myConfig3);

    })
            ();

</script>
