<% form_tag({:action => 'edit', :tab => 'projects'}) do %>
    <div class="box tabular settings">
      <p><%= setting_check_box :default_projects_public %></p>

      <p><%= setting_multiselect(:default_projects_modules,
                                 Redmine::AccessControl.available_project_modules.collect { |m| [l_or_humanize(m, :prefix => "project_module_"), m.to_s] }) %></p>

      <p><%= setting_check_box :sequential_project_identifiers %></p>

      <p><%= setting_select :new_project_user_role_id,
                            Role.find_all_givable.collect { |r| [r.name, r.id.to_s] },
                            :blank => "--- #{l(:actionview_instancetag_blank_option)} ---" %></p>

    <br />

    <p><span style="font-size: 0.8em; font-style: italic;">Scrivi per comunicare con i collaboratori, ogni tag di paragrafo &lt;p&gt;&lt;/p&gt; crea uno sticky nuovo</span>
      <%= setting_text_area :info_staff %></p>
    <div class="btn-footer"><%= submit_tag l(:button_save), :class => 'button-grey' %></div>
    </div>
<% end %>
<script type="text/javascript">
    CKEDITOR.replace('settings_info_staff', { toolbar:'Light', height:'300' });
</script>
