

<p>
  <strong>Title:</strong>
  <%=raw @page.title %>
</p>

<%= raw @page.content %>

<p>
  <%= link_to "Edit", edit_page_path(@page) %> |
  <%= link_to "Destroy", @page, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", pages_path %>
</p>
