<h1>Editing user_profile</h1>

<% form_for(@user_profile) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :titoli %><br />
    <%= f.text_area :titoli %>
  </p>
  <p>
    <%= f.label :curriculum %><br />
    <%= f.text_area :curriculum %>
  </p>
  <p>
    <%= f.label :immagine_url %><br />
    <%= f.text_field :immagine_url %>
  </p>
  <p>
    <%= f.label :external_url %><br />
    <%= f.text_field :external_url %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user_profile %> |
<%= link_to 'Back', user_profiles_path %>