<%= f.error_messages %>
<div class="box tabular">
  <p><%= f.select :top_menu_id, (TopMenu.all.collect { |c| [c.description, c.id] }), :include_blank => false, :required => true, :size => 60, :title => l(:label_top_menu) %></p>

  <p><%= f.text_field :sezione_top, :label => :field_top_section, :required => true, :size => 60 %></p>

  <p><%= f.text_field :key, :label => :field_key %>
    <span style="font-size: 0.8em;"> * solo caratteri minuscoli separati da trattino </span></p>

  <p><%= f.check_box :se_visibile, :label => :field_se_visibile %></p>

  <p><%= f.text_field :ordinamento, :label => :field_ordinamento, :size => 3 %></p>

  <p><%= f.file_field :image, :label => :field_immagine %> </p>
  <p id="prev" style="max-height: 300px;"> <%= image_tag @top_section.image.url(:l) %>   </p>
  <p>
    <ul style="font-size: 0.8em; color: #aeaeae; margin: 5px 0 5px  11%;">
      <li>
        Immagini stili e misure:

      </li>
      <li>
        blocco grande a sinistra: :block_l => "256x216#"
      </li>
      <li>
        blocco piccolo come dentro un articolo: :block_s => "194x154#"
      </li>
      <li>
        blocco tra i menu a destra :tramenu => "290x94#"
      </li>
      <li>
        l'immagine verrà non deve superare i 200kb e di formato jpg/png/gif/bmp
      </li>
    </ul>
  </p>

</div>
<script type="text/javascript">
    (function () {
      document.getElementById('top_section_image').addEventListener('change', function(event) {
              if (!event) // i.e. the argument is undefined or null
                event = window.event;
                handleFileSelect(event, 'prev', '')
      }, false);

    })
            ();
</script>
