<h1>New top_section</h1>

<% form_for(@top_section) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :sezione_top %><br />
    <%= f.text_field :sezione_top %>
  </p>
  <p>
    <%= f.label :ordinamento %><br />
    <%= f.text_field :ordinamento %>
  </p>
  <p>
    <%= f.label :se_visibile %><br />
    <%= f.check_box :se_visibile %>
  </p>
  <p>
    <%= f.label :immagine %><br />
    <%= f.text_field :immagine %>
  </p>
  <p>
    <%= f.label :style %><br />
    <%= f.text_field :style %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', top_sections_path %>