<p>
  <b>sezione_top:</b>
  <%=h @top_section.sezione_top %>
</p>

<p>
  <b>ordinamento:</b>
  <%=h @top_section.ordinamento %>
</p>

<p>
  <b>se_visibile:</b>
  <%=h @top_section.se_visibile %>
</p>

<p>
  <b>immagine:</b>
  <%=h @top_section.immagine %>
</p>

<p>
  <b>style:</b>
  <%=h @top_section.style %>
</p>


<%= link_to 'Edit', edit_top_section_path(@top_section) %> |
<%= link_to 'Back', top_sections_path %>