<div class="contextual">
  <% if User.current.allowed_to?(:add_subprojects, @project) %>
    <%= link_to l(:label_subproject_new), {:controller => 'projects', :action => 'new', :parent_id => @project}, :class => 'icon icon-add' %>
    <%= link_to(l(:button_send_newsletter), newsletter_invii_path(:project_id => @project.id), :class => 'icon icon-newsletter') if User.current.admin? && @project.is_public_fs? %>

    <%= link_to(l(:button_send_emails, :jobs => @project.newsletter.emails_pending), newsletter_massmailer_path(@project.newsletter.id), :class => 'icon icon-mails-to-send' ) if (User.current.admin? && @project.newsletter.have_emails_to_send?) %>
  <% end %>
</div>

<h2><%=l(:label_overview)%></h2>

<div class="splitcontentleft">
  <div class="wiki">
    <%= textilizable @project.description %>
  </div>
  <ul>
   <li><%=l(:field_is_public)%>: <%= checked_image @project.is_public? %></li>
   <li><%=l(:label_date_from)%> <%= format_date @project.data_dal %> <%=l(:label_date_to)%> <%= format_date @project.data_al %> </li>
   <li style="display:none"><%=l(:label_titolo)%> <%= @project.titolo %></li>
   <li><%=l(:label_search_key)%> <%= @project.search_key %></li>

  <% unless @project.homepage.blank? %><li><%=l(:field_homepage)%>: <%= auto_link(h(@project.homepage)) %></li><% end %>
  <% if @subprojects.any? %>
   <li><%=l(:label_subproject_plural)%>:
      <%= @subprojects.collect{|p| link_to(h(p), :action => 'show', :id => p)}.join(", ").html_safe %></li>
  <% end %>
  <% @project.visible_custom_field_values.each do |custom_value| %>
  <% if !custom_value.value.blank? %>
     <li><%=h custom_value.custom_field.name %>: <%=h show_value(custom_value) %></li>
  <% end %>
  <% end %>
  </ul>

  <% if User.current.allowed_to?(:view_issues, @project) %>
  <div class="issues box">
    <h3><%=l(:label_issue_tracking)%></h3>
    <ul>
    <% for tracker in @trackers %>
      <li><%= link_to h(tracker.name), :controller => 'issues', :action => 'index', :project_id => @project,
                                                :set_filter => 1,
                                                "tracker_id" => tracker.id %>:
          <%= l(:label_x_open_issues_abbr_on_total, :count => @open_issues_by_tracker[tracker].to_i,
                                                    :total => @total_issues_by_tracker[tracker].to_i) %>
      </li>
    <% end %>
    </ul>
    <p>
      <%= link_to l(:label_issue_view_all), :controller => 'issues', :action => 'index', :project_id => @project, :set_filter => 1 %>
      <% if User.current.allowed_to?(:view_calendar, @project, :global => true) %>
        | <%= link_to(l(:label_calendar), :controller => 'calendars', :action => 'show', :project_id => @project) %>
      <% end %>
      <% if User.current.allowed_to?(:view_gantt, @project, :global => true) %>
        | <%= link_to(l(:label_gantt), :controller => 'gantts', :action => 'show', :project_id => @project) %>
      <% end %>
    </p>
  </div>
  <% end %>
  <%= call_hook(:view_projects_show_left, :project => @project) %>

  <div class="issues box">
    <h3><%=l(:list_articoli)%></h3>
    <% arts = @project.issues %>
    <% if arts.empty? %>
      <p><i><%= l(:label_no_data) %></i></p>
    <% else %>
      <ul>
        <% arts.each do |art| %>
          <li><%= link_to_issue art, :truncate => 100 %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

</div>

<div class="splitcontentright">
  <%= render :partial => 'members_box' %>

  <%= render :partial => 'news_box' %>

  <%= render :partial => 'convegni_box' %>

  <%= render :partial => 'quesiti_box' %>

  <%= call_hook(:view_projects_show_right, :project => @project) %>
</div>

<% content_for :sidebar do %>
    <% if @total_hours.present? %>
    <h3><%= l(:label_spent_time) %></h3>
    <p><span class="icon icon-time"><%= l_hours(@total_hours) %></span></p>
    <p><%= link_to(l(:label_details), {:controller => 'timelog', :action => 'index', :project_id => @project}) %> |
    <%= link_to(l(:label_report), {:controller => 'time_entry_reports', :action => 'report', :project_id => @project}) %></p>
    <% end %>
    <%= call_hook(:view_projects_show_sidebar_bottom, :project => @project) %>
<% end %>

<% content_for :header_tags do %>
<%= auto_discovery_link_tag(:atom, {:controller => 'activities', :action => 'index', :id => @project, :format => 'atom', :key => User.current.rss_key}) %>
<% end %>

<% html_title(l(:label_overview)) -%>
