<div class="contextual">
  <%= link_to l(:label_type_organization_new), new_type_organization_path, :class => 'icon icon-add' %>
</div>

<h2><%= l(:label_type_organization_plural_long) %></h2>
<% if @type_organizations.any? %>
    <table class="list type_organizations">
      <thead><tr>
        <%= sort_header_tag('tipo', :title => l(:label_tipo), :style => 'width: 70%;text-align:left;')%>
        <%= sort_header_tag('se_sportivo', :title => l(:field_type_organization_sport), :style => 'width: 20%;text-align:left;')%>
        <th style='width: 5%;'></th>
        <th style='width: 5%;'></th>
      </tr></thead>
      <tbody>
      <% @type_organizations.each do |type_organization| %>
          <tr class="<%= cycle 'odd', 'even' %>">
            <td><%= link_to h(type_organization.tipo), type_organization_path(type_organization) %></td>
            <td align="left"><%= check_box_tag '','type_sport',type_organization.type_sport, :disabled => 'disabled' %></td>
            <td class="buttons"><%= link_to('', edit_type_organization_path(type_organization), :class => 'icon icon-edit') if User.current.admin? %></td>
            <td class="buttons"><%= link_to ('', type_organization, :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del') if User.current.admin? %></td>
          </tr>
      <% end %>
      </table>

    <p class="pagination"><%= pagination_links_full @type_organization_pages, @type_organization_count %></p>

<% else %>
    <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
