<p>
  <b>tipo:</b>
  <%=h @type_organization.tipo %>
</p>

<p>
  <b>descrizione:</b>
  <%=h @type_organization.descrizione %>
</p>

<p>
  <b>priorita:</b>
  <%=h @type_organization.priorita %>
</p>


<%= link_to 'Edit', edit_type_organization_path(@type_organization) %> |
<%= link_to 'Back', type_organizations_path %>