<div class="contextual">
<%= link_to(l(:button_edit), edit_type_organization_path(@type_organization), :class => 'icon icon-edit') if User.current.admin? %>
<%= link_to(l(:button_delete),
      type_organization_path(@type_organization),
      :confirm => l(:text_are_you_sure),
      :method => :delete,
      :class => 'icon icon-del') if User.current.admin? %>
</div>
<h2><%= link_to l(:label_type_organization_plural), type_organizations_path %> &#187; <%=h @type_organization %></h2>

<div class="splitcontentleft">

<fieldset class="box tabular">
  <legend><%=l(:label_type_organization)%></legend>

        <p>
        <% unless @type_organization.tipo.blank? %>
            <em><%=h @type_organization.tipo %></em>
            <br />
        <% end %>
        </p>
        <p>
            <%= l(:label_descrizione) %>: <%=h @type_organization.descrizione %>
        </p>
        <p>
            <%= check_box_tag l(:label_priorita), 1, @type_organization.priorita, :disabled => 'disabled'  %> <%= l(:label_priorita) %>  

        </p>
</fieldset>
</div>
