<% if @articolo %>
    <div class="fs-postmetadataheader">
      <div class="fs-art-sezione-full">&nbsp;<%= @articolo.top_section %>&nbsp;::&nbsp;<%= @articolo.section %></div>
      <div class="fs-postheader-full">      <%= @articolo.subject %>  </div>
    </div>
    <div style="width:100%;">
      <div class="fs-image-caption-wrapper-full">
        <%= image_tag art_image(articolo, :l) %>
      </div>
      <div class="fs-postmetadata-full">
        <div class="fs-author">
          <div>  <%= gravatar_for(@articolo.author) unless !@articolo.author %><%= h @articolo.author %>
          </div>
          <%# @articolo.due_date %> <%= I18n.localize(@articolo.due_date.to_date, :format => :mese_anno) %>
        </div>
        <div class='fs-social'>
          <div class='fs-social-fb '>
            <script src="http://connect.facebook.net/it_IT/all.js#xfbml=1"></script>
            <fb:like href="" layout="button_count" show_faces="false" width="450" font=""></fb:like>
          </div>
          <div class='fs-social-tw '>
            <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="fiscosport">Tweet</a>
            <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
          </div>
          <div class='fs-social-gp '>
            <!-- Place this tag where you want the +1 button to render. -->
            <div class="g-plusone" data-size="medium" data-recommendations="false">
            </div>
          </div>
          <div class="fs-resize-box">
            <%=  link_to_function( image_tag('ico/printer-icon.png'), "javascript:print()") %>
          </div>
        </div>
        <%# link_to image_tag('/images/ico/facebook64.png'), 'http://www.facebook.com/sharer.php?u='+request.fullpath, :target => :blank %>
      </div>
      <div class="fs-riassunto-full"><p>
        <%= textilizable(smart_truncate(@articolo.summary, 250)) %></p></div>

    </div>
    <div class="clearfix">&nbsp; <br/></div>
    <div class="fs-layout-cell layout-item-1">
      <div id="fs-articolo-full">
        <% if @description %>
          <%= raw(@description) %>
        <% else %>
          <%= raw(@articolo.description) %>
        <% end %>

        <br/>
      </div>
    </div>
    <div style="padding: 14px; text-align:center; border-top: solid 1px #bfbfbf;">

      <%= link_to "Ritorna...", :back, :class => "fs-vuoto-inline-button", :style => "float:none;" %>
    </div>
    <% if  !@quesito.nil? %>
        <h4>L'articolo è stato ispirato da...</h4>
        <%= render :partial => 'quesito', :locals => {:q => @quesito} %>
    <% end %>
<% else %>
    <br/>
    <p class="nodata"><%= l(:label_no_data) %></p>
    <br/>
<% end %>

<% if @notes %>
  <fieldset class="preview"><legend><%= l(:field_notes) %></legend>
    <%= yuizable_fs @notes, :attachments => @attachements, :object => @issue %>
  </fieldset>
<% end %>
