<div class="contextual">
<%= link_to(l(:button_edit), edit_cross_organization_path(@cross_organization), :class => 'icon icon-edit') if User.current.admin? %>
<%= link_to(l(:button_delete),
      cross_organization_path(@cross_organization),
      :confirm => l(:text_are_you_sure),
      :method => :delete,
      :class => 'icon icon-del') if User.current.admin? %>
</div>
<h2><%= link_to l(:label_cross_organization_plural), cross_organizations_path %> &#187; <%=h @cross_organization %></h2>

<div class="splitcontentleft">

  <fieldset class="box tabular">
    <legend><%=l(:label_cross_organization)%></legend>

          <p><label><%= l(:label_type_organization) %></label>
          <span><%= link_to h(@cross_organization.type_organization), type_organization_path(@cross_organization.type_organization, :id => @cross_organization.type_organization_id) %></span>
          </p>
          <p><label><%= l(:label_sigla) %></label>
          <span><%=h @cross_organization.sigla %></span>
          </p>
          <p><label><%= l(:label_se_visibile) %></label>
          <span><%= check_box_tag '', 1, @cross_organization.se_visibile, :disabled => 'disabled'  %></span></p>
        <p>       <%= image_tag @cross_organization.image.url(:m) %></p>

  </fieldset>

  <fieldset class="box">
    <legend><%=l(:label_cross_organization_user_convention)%></legend>
      <% if @cross_organization.users.any? %>
        <%= l(:label_total) %>:<strong class="total center"><%= h @cross_organization.users.count %></strong>
        <table class="subtable users" width="100%">
          <tr>
            <th style="text-align:left;"><%= l(:label_users) %></th>
            <th style="text-align:left;"><%= l(:label_data_scadenza) %></th>
            <th style="text-align:left;"><%= l(:label_convention) %>?</th>
          </tr>
          <% @cross_organization.users.sort_by(&:lastname).each do |user| %>
              <tr>
                <td class="buttons">
                    <%= link_to(h(user.to_s), user_path(user), :class => 'icon ' + user.icon()) if User.current.admin? %>
                </td>
                <td><%= format_date(user.datascadenza) %></td>
                <td><% if defined?(user.cross_organization) && !user.cross_organization.blank? %>
                      <%= h(user.cross_organization.to_s) %>
                    <% else %>
                      <i class="icon icon-padlock_close"></i>
                    <% end %>
                </td>
              </tr>
            <% end %>
        </table>
      <% else %>
        <p class="nodata"><%= l(:label_cross_organization_user_convention_none) %></p>
      <% end %>
  </fieldset>

</div>

<div class="splitcontentright">
  <fieldset class="box">
    <legend><%=l(:label_other_convention_sametype)%></legend>
      <% if @cross_organization.conventions.any? %>
        <%= l(:label_total) %>:<strong class="total center"><%= h @cross_organization.conventions.count %></strong>
        <table class="subtable users" width="100%">
          <tr>
            <th><%= l(:label_power_user) %></th>
            <th><%= l(:label_data_scadenza) %></th>
            <th style="text-align:left;"><%= l(:label_convention) %></th>
          </tr>

          <% @cross_organization.conventions.each do |conv| %>
            <tr>
              <td><% if conv.user && !conv.user.nil?  && !conv.user.blank?  %>
                  <%= link_to(h(conv.user.name), user_path(conv.user), :class => 'icon' + conv.user.icon()) if User.current.admin? %>
                  <%= h(conv.user.name) if !User.current.admin? %>
                <% else %>
                  <div class="flash error">?<%= h(conv.user_id.to_s) %>?</div>
                <% end %>
              </td>
              <td><%= format_date(conv.data_scadenza) %></td>
              <td class="buttons">
                  <%= link_to(h(conv.to_s), convention_path(conv), :class => 'icon icon-summary') if User.current.admin? %>
                  <%= h(conv.to_s) if !User.current.admin? %>
              </td>
            </tr>
          <% end %>

        </table>
      <% else %>
        <p class="nodata"><%= l(:label_other_convention_none) %></p>
      <% end %>
  </fieldset>

  <fieldset class="box">
    <legend><%=l(:label_other_cross_organization_sametype)%></legend>
      <% if @cross_organization.type_organization.cross_organizations.any? && (@cross_organization.type_organization.cross_organizations.count > 1)%>
        <%= l(:label_total) %>:<strong class="total center"><%= h(@cross_organization.type_organization.cross_organizations.count - 1) %></strong>
      <table class="subtable users" width="100%">
        <tr>
          <th style="width:40%; text-align:left;"><%= l(:label_type_organization) %></th>
          <th style="width:40%; text-align:left;"><%= l(:label_sigla) %></th>
          <th style="width:20%; text-align:left;"></th>
        </tr>
        <% @cross_organization.type_organization.cross_organizations.each do |type_related_cross|
              if (type_related_cross != @cross_organization) %>
                <tr>
                  <td><%=h type_related_cross.type_organization %></td>
                  <td class="buttons" style="width:20%; text-align:left;">
                      <%= link_to(h(type_related_cross.sigla), cross_organization_path(type_related_cross), :class => 'icon icon-globe icon-adjust-min') if User.current.admin? %>
                  </td>
                  <td><%= check_box_tag '', 1, type_related_cross.se_visibile, :disabled => 'disabled'  %></td>
                </tr>
              <% end
        end %>
      </table>
      <% else %>
      <p class="nodata"><%= l(:label_other_cross_organization_none) %></p>
      <% end %>
  </fieldset>
</div>
