<h2><%= l(:label_pagamento_metodo_plural) %></h2>
<br/>
<div class="box tabular">
  <% form_for(@payment) do |f| %>
      <%= f.error_messages %>
      <br/>

      <p>
        <%= f.label :abbrev %>
        <%= f.text_field :abbrev, :label => :field_abbrev, :size => 3 %>
      </p>

      <p>
        <%= f.label :pagamento %>
        <%= f.text_field :pagamento, :label => :field_pagamento, :size => 100 %>
      </p>
      <br/>

      <p>
        <%= f.submit l(:button_update), :class => "button-blu" %>
      </p>
  <% end %>
</div>
<p class="btn-footer">
  <%= link_to l(:button_index), payments_path, :class => "button-grey" %>

</p>
