<h1>New payment</h1>

<% form_for(@payment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :abbrev %><br />
    <%= f.text_field :abbrev, :label => :field_abbrev, :size => 3 %>

  </p>
  <p>
    <%= f.label :pagamento %><br />
    <%= f.text_field :pagamento, :label => :field_pagamento, :size => 100 %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', payments_path %>
