<div class="contextual">
<%= link_to l(:label_top_menu_new), new_top_menu_path, :class => 'icon icon-add' %>
</div>

<h2><%= l(:label_top_menu_plural) %></h2>

<% if @top_menus.any? %>
<table class="list top_menus">
  <thead><tr>
  <%= sort_header_tag('descrizione', :title => l(:label_top_menu), :style => 'width: 80%;text-align:left;')%>
  <%= sort_header_tag('ordinamento', :title => l(:label_ordinamento), :style => 'color:red; width: 10%;')%>
  <%= sort_header_tag('key', :title => l(:label_key), :style => 'color:red; width: 10%;')%>
  <th style='width: 5%;'></th>
  <th style='width: 5%;'></th>
  </tr></thead>
  <tbody>
<% @top_menus.each do |top_menu| %>
  <tr class="<%= cycle 'odd', 'even' %>">
    <td><%= link_to h(top_menu), top_menu_path(top_menu) %></td>
    <td align="center"><%=h top_menu.order %></td>
    <td ><%=h top_menu.key %></td>
    <td class="buttons"><%= link_to('', edit_top_menu_path(top_menu), :class => 'icon icon-edit') if User.current.admin? %></td>
    <td class="buttons"><%= link_to ('', top_menu, :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del') if User.current.admin? %></td>
  </tr>
<% end %>
</table>

<p class="pagination"><%= pagination_links_full @top_menu_pages, @top_menu_count %></p>

<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
