<h1>Listing newsletter_users</h1>

<table>
  <tr>
    <th>Tipo</th>
    <th>User</th>
    <th>Associazione</th>
    <th>Newsletter</th>
    <th style="color: red;">Errore</th>
    <th>Sended?</th>
    <th>Data</th>
  </tr>

<% @newsletter_users.each do |newsletter_user| %>
  <tr>
    <td><%=h newsletter_user.email_type %></td>
    <td><%=h newsletter_user.user %></td>
    <td><%=h newsletter_user.convention_id %></td>
    <td><%=h newsletter_user.newsletter_id %></td>
    <td><%=h newsletter_user.errore_abbrv %></td>
    <td><%=h newsletter_user.sended %></td>
    <td><%=h newsletter_user.created_at %></td>
    <td><%= link_to 'Show', newsletter_user %></td>
    <td><%= link_to 'Edit', edit_newsletter_user_path(newsletter_user) %></td>
    <td><%= link_to 'Destroy', newsletter_user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New newsletter_user', new_newsletter_user_path %>
