<p>
  <b>email_type:</b>
  <%=h @newsletter_user.email_type %>
</p>

<p>
  <b>User:</b>
  <%=h @newsletter_user.user_id %>
</p>

<p>
  <b>Associazione:</b>
  <%=h @newsletter_user.asso_id %>
</p>

<p>
  <b>Data scadenza:</b>
  <%=h @newsletter_user.data_scadenza %>
</p>

<p>
  <b>html:</b>
  <%=h @newsletter_user.html %>
</p>

<p>
  <b>newsletter_id:</b>
  <%=h @newsletter_user.newsletter_id %>
</p>

<p>
  <b>errore:</b>
  <%=h @newsletter_user.errore %>
</p>

<p>
  <b>sended:</b>
  <%=h @newsletter_user.sended %>
</p>


<%= link_to 'Edit', edit_newsletter_user_path(@newsletter_user) %> |
<%= link_to 'Back', newsletter_users_path %>