<p>
  <b>Tipo:</b>
  <%=h @newsletter_user.email_type.description %>
</p>

<p>
  <b>User:</b>
  <%=h @newsletter_user.user_id %>
</p>

<p>
  <b>Associazione:</b>
  <%=h @newsletter_user.convention_id %>
</p>

<p>
  <b>newsletter_id:</b>
  <%=h @newsletter_user.newsletter_id %>
</p>

<p>
  <b>errore:</b>
  <%=h @newsletter_user.errore %>
</p>

<p>
  <b>sended:</b>
  <%=h @newsletter_user.sended %>
</p>

<p>
  <b>Data:</b>
  <%=h @newsletter_user.created_at %>
</p>

<%= link_to 'Edit', edit_newsletter_user_path(@newsletter_user) %> |
<%= link_to 'Back', newsletter_users_path %>
