<h2><%=l(:list_paganti)%></h2>

<% form_tag({}, :method => :get) do %>
<fieldset><legend><%= l(:label_filter_plural) %></legend>

<label for='abbo'><%= l(:field_abbonamento_type) %>:</label>
<%= select_tag 'abbo', fee_roles_options_for_select(@abbo), :onchange => "this.form.submit(); return false;"  %>

<label for='name'><%= l(:label_user) %>:</label>
<%= text_field_tag 'name', params[:name], :size => 30 %>
<%= submit_tag l(:button_apply), :class => "small", :name => nil %>
<%= link_to l(:button_clear), paganti_path(), :class => 'icon icon-reload' %>
</fieldset>
<% end %>
&nbsp;

<div class="autoscroll">
<table class="table-fix list">
  <thead><tr>
    <%= sort_header_tag('id', :caption => l(:field_id), :style => 'width: 5%; text-align:left;') %>
  <%= sort_header_tag('lastname', :caption => l(:field_user_fee),:style => 'width:30%;'  ) %>
  <%# sort_header_tag('firstname', :caption => l(:field_firstname)) %>
  <%# sort_header_tag('lastname', :caption => l(:field_lastname)) %>
  <%= sort_header_tag('mail', :caption => l(:field_mail), :style => 'width:30%')  %>
  <%= sort_header_tag('datascadenza', :caption => l(:field_data_scadenza), :default_order => 'desc', :style => 'width:20%') %>
  <%= sort_header_tag('role_id', :caption => '', :default_order => 'desc' , :style => 'width:15%') %>
    <th style="text-align:left; width: 40px;"><i class="icon icon-email" title="Imposta per l'invio email"></i><input id="checkbox_selector" type="checkbox" name="invia" class="selectall" checked="checked" /></th>
  </tr></thead>
  <tbody>
<% for user in @users -%>
  <tr class='user <%= cycle("odd", "even") %> <%= %w(anon active registered locked)[user.status] %>'>
    <td class="id"><%= h(user.id.to_s) %></td>
    <%# user.login user.firstname user.lastname %>
  <td class="username"><%= avatar(user, { :size => "14", :class => "no-div" }) %><%= link_to h(user.name), edit_user_path(user) %></td>
  <td class="email"><%= mail_to(h(user.mail)) %></td>
  <td style="text-align: center;"><%= format_date(user.scadenza) %></td>
  <td><%= get_status_role(user) %></td>
  <td><%= check_box_tag 'ids[]', user.id, {:name => "invia"} %></td>

    <td>
      <%# user.scoped_by_newsletter_users(@).nil? %>
    </td>
  </tr>
<% end -%>
  </tbody>
</table>
<script type="text/javascript" charset="utf-8">

  </script>
</div>
<p class="pagination"><%# pagination_links_full @user_pages, @user_count %></p>

<% html_title(l(:label_user_plural)) -%>
