<% if User.current && User.current.logged? %>
    <div class="fs-tramenu-blockheader x-granata" style="overflow: hidden;"> <%= User.current.name() %></div>
    <div class="fs-blockcontentz fs-login-logged">
      <div id='fs-login-avatar'>
        <div class="fs-login">
              <%= User.current.my_avatar(:xs) %>
        </div>
        <% if User.current.canbackend? %>
            <div class="fs-login" id="fs-login-txt">
              <%= link_to "Accesso FISMINE", url_for(:controller => 'activities', :action => 'index', :id => nil), :target => '_blank', :class => 'fs-vuoto-inline3-button' %>
              <br/>
              <% @uid = User.current.user_profile %>
              <% if !@uid.nil? %>
                  <%= link_to "Profilo Pubblico", url_for(:controller => 'editorial', :action => 'profilo_show', :id => @uid), :class => 'fs-vuoto-inline3-button' %>
              <% else %>
                  <%= link_to "Nuovo Profilo", url_for(:controller => 'editorial', :action => 'profilo_new', :id => User.current.id), :class => 'fs-vuoto-inline3-button' %>
              <% end %>
            </div>
        <% else %>
            <div class="fs-login" id="fs-login-txt">

                  <%= link_to "Profilo Utente", url_for( :controller => 'mio_profilo', :action => 'page' , :id => @uid), :class => 'fs-vuoto-inline3-button', :style=> 'line-height:28px; font-size:1em; '   %>
            </div>
        <% end %>
        <div class="fs-login">
          <%= link_to l(:label_logout), :signout, :class => 'fs-vuoto-inline3-button', :id => "fs-login-exit" %>
        </div>
        <div class="clearfix"></div>
        <div class="fs-logged2"><span>  <%= user_myasso_text(User.current) %></span> <div class="fs-logged2-img" >
          <%= image_tag(user_myasso_icon(User.current, :s), :width => 48, :height => 48) %></div>
          <%# link_to(User.current.user_myasso_icon , asso_path(User.current.user_myasso_text)) %>
        </div>
      </div>
    </div>
<% else %>
    <p class="fs-tramenu-blockheader x-granata">Accesso Utenti Abbonati</p>
    <div class="fs-blockcontentz">
      <% form_tag({:controller => 'account', :action => 'login'}, :method => 'post') do %>
          <%= back_url_hidden_field_tag %>
          <fieldset class="input" style="border:none; margin-top:-7px; ">
            <div id="fs-form-login">
              <span><%= l(:field_login)+ ':' %></span>
              <%= text_field_tag 'username', nil, :tabindex => '1' %>

              <span><%= l(:field_password)+ ':' %></span>
              <%= password_field_tag 'password', nil, :tabindex => '2' %>
              <br/>
            </div>
            <div class="fs-form-login-remember">
              <label class="fs-checkbox">
                <input type="checkbox" name="remember" value="yes" alt="Remember Me"/>Memorizza!
              </label>
            </div>
            <input type="submit" value="Accedi" name="login" id="fs-form-login-btn" class="fs-button"/>
          </fieldset>
      <% end %>
      <%= javascript_tag "$('#username').focus();" %>
      <% if Setting.lost_password? %>
          <div class='fs-pass'>
            <%= link_to l(:label_access_lost), :controller => 'account', :action => 'lost_password' %>
          </div>
      <% end %>
    </div>
<% end %>
