<% if User.current && User.current.logged? %>
  <p class="fs-tramenu-blockheader x-granata">Utente:&nbsp; <%= User.current.name() %></p>
  <div class="fs-login-logged">
    <div id='fs-login-avatar'>
      <div class="fs-login">
        <% if User.current.user_profile %>
          <%= User.current.user_profile.my_avatar(:xs) %>
        <% else %>
          <%= image_tag "/images/commons/xs-no_avatar.jpg", :class => 'fs-vuoto-inline3-button'  %>
        <% end  %>
      </div>
      <% if User.current.canbackend? %>
        <div class="fs-login" id="fs-login-txt">
            <%= link_to "Accesso FISMINE", url_for(:controller => 'activities', :action => 'index' , :id => nil), :class => 'fs-vuoto-inline3-button' %>
                <br/>
            <% @uid = User.current.user_profile %>
            <% if !@uid.nil? %>
                <%= link_to "Profilo Pubblico", url_for(:controller => 'editorial', :action => 'profilo_show', :id => @uid), :class => 'fs-vuoto-inline3-button' %>
            <% else %>
                <%= link_to "Nuovo Profilo", url_for(:controller => 'editorial', :action => 'profilo_new', :id => @uid), :class => 'fs-vuoto-inline3-button' %>
            <% end %>
        </div>
      <% else %>
         <div class="fs-login">
            <%= link_to l(:label_my_page), :controller => 'mio_profilo', :action => 'account' %>
         </div>
      <% end %>
<%# link_to "Lavora con FISMINE",:controller=> 'mio_profilo', :action=>'page', :class=> 'fs-button'  %>
<%# link_to l(:label_my_page), :controller => 'my', :action => 'page' %>
<%# link_to l(:label_my_account), :controller => 'my', :action => 'account' %>
      <div class="fs-login">
        <%= link_to l(:label_logout), :signout, :class => 'fs-vuoto-inline3-button', :id => "fs-login-exit" %>
      </div>
      <div class="fs-logged2">
      <% if User.current.associazione_affiliata %>
          <div class="fs-login" id="fs-login2-txt">
            <span> Associato a:</span>
            <br/> <%= link_to h(User.current.associazione_affiliata), asso_path(User.current.associazione_affiliata) %>
          </div>
      <% else %>
          <% if User.current.sigla_tipo() %>
              <div class="fs-login" id="fs-login2-txt">
                <span> Affilato a:</span><br/>
                <%= link_to h(User.current.sigla_tipo()), cross_organization_path(User.current.sigla_tipo()) %>
              </div>
          <% end %>
      <% end %>
      <!--
      <% if User.current.responsable? && User.current.responsable_of
              User.current.responsable_of.each do |organismo| %>
            <div class="fs-login" id="fs-login2-txt">
              <span> Responsabile di:</span>
                <%= link_to h(organismo), organismo_path(organismo) %>
              <% end
       end %>
    </ul>
      <div class="fs-logged2-ico"> -->
      <% if User.current.organization() %>
        <div class="fs-login" id="fs-login2-asso">
          <%= image_tag "/images/banners/assos/#{ User.current.asso.logo}", :width => 50, :height => 50, :border => 0 %>
        </div>
    <% else %>
        <div class="fs-login" id="fs-login2-asso">
          <%= image_tag "/images/ico/fs.png", :width => 50, :height => 50, :border => 0 %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
<% else %>
  <p class="fs-tramenu-blockheader x-granata">Accesso Utenti Abbonati</p>
  <div class="fs-blockcontent">
      <% form_tag({:controller => 'account', :action => 'login'}, :method => 'post') do %>
        <%= back_url_hidden_field_tag %>
        <fieldset class="input" style="border:none; margin-top:-7px; ">
          <div id="fs-form-login">
            <span><%= l(:field_login)+ ':' %></span>
            <%= text_field_tag 'username', nil, :tabindex => '1' %>

            <span><%= l(:field_password)+ ':' %></span>
            <%= password_field_tag 'password', nil, :tabindex => '2' %>
            <br/>
          </div>

          <div class="fs-form-login-remember">
            <label class="fs-checkbox">
              <input type="checkbox" name="remember" value="yes" alt="Remember Me"/>Memorizza!
            </label>
          </div>
          <input type="submit" value="Accedi" name="login" id="fs-form-login-btn" class="fs-button"/>
        </fieldset>
      <% end %>
      <%= javascript_tag "$('#username').focus();" %>
      <% if Setting.lost_password? %>
        <div class='fs-pass'>
          <%= link_to l(:label_password_lost), :controller => 'account', :action => 'lost_password' %>
        </div>
      <% end %>
  </div>
<% end %>
