<% if User.current && User.current.logged? %>
    <p class="fs-tramenu-blockheader x-granata">Utente:&nbsp; <%= User.current.name() %></p>
    <%= gravatar_for(User.current) unless !User.current %>
    <p>
    <div class="fs-blockcontent">
      <ul>
        <% if User.current && User.current.canbackend? %>
            <li>
              <%= link_to "==Panello di controllo (BE)==", root_path %>
            </li>
            <li>
              <%= link_to l(:label_my_page), :controller => 'my', :action => 'page' %>
            </li>
            <li>
              <%= link_to l(:label_my_account), :controller => 'my', :action => 'account' %>
            </li>
        <% else %>
            <li>
              <%= link_to "==Pagina principale (FE)==", editorial_path %>
            </li>
            <li>
              <%= link_to l(:label_my_page), :controller => 'mio_profilo', :action => 'account' %>
            </li>
        <% end %>
        <% if User.current && User.current.associazione_affiliata() %>
          <li>
            ASSOCIAZIONE: <%= link_to h(User.current.associazione_affiliata()), asso_path(User.current.associazione_affiliata()) %>
          </li>
        <% end %>
        <% if User.current && User.current.sigla_tipo() %>
          <li>
            CROSS ORGANIZATION: <%= link_to h(User.current.sigla_tipo()), cross_organization_path (User.current.sigla_tipo()) %>
          </li>
        <% end %>
        <% if User.current && User.current.organization() %>
          <li>
            ORGANISMO: <%= link_to h(User.current.organization()), organization_path(User.current.organization()) %>
          </li>
        <% end %>
        <% if User.current && User.current.responsable? && User.current.responsable_of
          User.current.responsable_of.each do |organismo| %>
          <li>
            <%= link_to h(organismo), organization_path(organismo) %>
          </li>
        <% end
        end %>
        <li>
          <%= link_to l(:label_logout), :signout %>
        </li>
      </ul>

    </div>
<% else %>
    <p class="fs-tramenu-blockheader x-granata">Accesso Utenti Abbonati</p>

    <div class="fs-blockcontent">
      <% form_tag({:controller => 'account', :action => 'login'}, :method => 'post') do %>
          <%= back_url_hidden_field_tag %>
          <fieldset class="input" style="border:none; margin-top:-7px; ">
            <div id="fs-form-login">
              <span><%= l(:field_login)+ ':' %></span>
              <%= text_field_tag 'username', nil, :tabindex => '1' %>

              <span><%= l(:field_password)+ ':' %></span>
              <%= password_field_tag 'password', nil, :tabindex => '2' %>
              <br/>
            </div>

            <div class="fs-form-login-remember">
              <label class="fs-checkbox">
                <input type="checkbox" name="remember" value="yes" alt="Remember Me"/>Memorizza!
              </label>
            </div>
            <input type="submit" value="Accedi" name="login" id="fs-form-login-btn" class="fs-button"/>
          </fieldset>
      <% end %>
      <%= javascript_tag "$('#username').focus();" %>
      <% if Setting.lost_password? %>
          <div class='fs-pass'>
            <%= link_to l(:label_password_lost), :controller => 'account', :action => 'password_recovery' %> &nbsp;||&nbsp;
            <%= link_to l(:label_username_lost), :controller => 'account', :action => 'lost_password' %>
          </div>
      <% end %>
    </div>
<% end %>
