<div class="fs-layout-cell fs-content clearfix" style="width: 100%; position:relative;">
<article class="fs-post fs-article" style="width: 100%;">
<div class="fs-postcontent clearfix">
<div class="fs-content-layout">
<div class="fs-content-layout-row" style=" position:relative; border: solid 1px #e3f8ff;">
<div id="fs-abbo-top">
  <h2><%= l(:label_register) %> <%= link_to l(:label_login_with_open_id_option), signin_url if Setting.openid? %></h2>

  <h3 style="">Modulo di registrazione abbonamento </h3>
</div>
<blockquote>
  I campi contrassegnati da <b style="color: red;"><strong>*</strong> sono obbligatori</b><br/>
  La corretta indicazione del campo “affiliato a” permette di usufruire dell’eventuale periodo gratuito
  concesso per effetto dell’adesione del CONI o della Fsn/Dsa/Eps al progetto globale. <br/> Il sistema
  riconoscerà l’utente affiliato anche in caso di successiva adesione dell’organismo.
</blockquote>

<!------  inizio ------ -->
<!-- STEP 1 -->
<% labelled_form_for @user, :url => {:action => 'register'}, :html => {:method => :post, :class => "register tabular", :id => "steps"} do |f| %>
    <%= error_messages_for 'user' %>

    <fieldset class="fs-abbo-fields">


      <legend title="Anagrafica"> Dati personali e di accesso</legend>
      <div class="fs-abbo-sx1">
        <p><label><%= l(:field_nome) %></label></p>

        <p><%= f.text_field :firstname, :label => l(:field_firstname) + " <span class='required'>*</span>", :style => 'width:60%;', :maxlength => 255 %></p>

        <p><%= f.text_field :lastname, :label => l(:field_lastname) + " <span class='required'>*</span>", :style => 'width:60%;', :maxlength => 255 %></p>

        <p><%= f.text_field :mail, :label => l(:field_mail) + " <span class='required'>*</span>", :style => 'width:60%;', :maxlength => 255 %>
          <img id="si_user_mail" src="/images/true.png" alt="Anagrafica disponibile" title="Anagrafica disponibile" style="display: none;"/>

        <div id="no_user_mail" style="display: none;">
          <img src="/images/false.png" alt="Anagrafica non disponibile. Ci risulta già una registrazione con questa Anagrafica!" title="Anagrafica non disponibile. Ci risuta già una registrazione con questa Anagrafica!"/><br/>

          <p class="fs-abbo-tips"> Informazione già presente nel server: Sei già registrato? Usi
            il <%= link_to l(:label_login), :signin %> per
            accedere di nuovo. Se hai problemi <%= link_to 'Contattaci', contattaci_path %>. </p>
        </div>

        <!--[form:user]-->
        <% if @user.auth_source_id.nil? %>
            <p class="fs-abbo-tips" style="width: 70%;"><%= l(:field_username_as_email) %></p>
            </div>
            <div class="fs-abbo-dx1">

              <p><%= f.text_field :login, :label => l(:field_login) + " <span class='required'>*</span>", :style => 'width:60%;', :maxlength => 255 %>
                <img id="si_user_login" src="/images/true.png" alt="login disponibile" title="login disponibile" style="display: none;"/><img id="no_user_login" src="/images/false.png" title="login non disponibile. Ci risulta già una registrazione con questo login!" style="display: none;"/>
              </p>

              <p><%= f.password_field :password, {:style => 'width:60%;', :label => l(:field_password) + " <span class='required'>*</span>", :maxlength => 255} %>
                <br/>
                <em><%= l(:text_caracters_minimum, :count => Setting.password_min_length) %></em></p>

              <p><%= f.password_field :password_confirmation, {:style => 'width:60%;', :label => l(:field_password_confirmation) + " <span class='required'>*</span>", :maxlength => 255} %></p>
        <% end %>

        <p><span style='margin-left:7px;'>
                  <%= f.select(:language, lang_options_for_select, :label => l(:field_language) + " <span class='required'>*</span>") %></span>
        </p>
        <% if Setting.openid? %>
            <p><label for="user_identity_url"><%= l(:field_identity_url) %></label>
              <%= f.text_field :identity_url %></p>
        <% end %>

        <% @user.custom_field_values.select { |v| v.editable? || v.required? }.each do |value| %>
            <p><%= custom_field_tag_with_label :user, value %></p>
        <% end %>
        <!--[eoform:user]-->
        </div>
        <div class="clearfix"></div>
        &nbsp;<br/>


        <div class="step" id="register-switch">
          <h4 title="Anagrafica"> Specifica il tipo di abbonamento...</h4>
          &nbsp;<br/>

          <div class="register-switch-item">
            <span class="fe-notice" title="Non dipendo da nessun associazione mi voglio registrare personalmente."></span>
            <input id="radio1" name="rbt" type="radio" value="dv_privato"/>

            <p><label for="radio1">Sono un privato<br/> &nbsp; </label></p>
          </div>
          <div class="register-switch-item">
            <span class="fe-notice" title="Selezionerò l'associazione nella lista delle associazioni registrate in Fiscosport"></span>
            <input id="radio2" name="rbt" type="radio" value="dv_associato"/>

            <p><label for="radio2">Sono membro di una associazione</label></p>
          </div>
          <div class="register-switch-item">
            <span class="fe-notice" title="Vedo se la mia associazione esiste già nella lista. Altrimenti registrerò il mio gruppo o associazione a Fiscosport"></span>
            <input id="radio3" name="rbt" type="radio" value="dv_responsabile"/>

            <p><label for="radio3">Sono il responsabile di una associazione o un gruppo </label></p>
          </div>
        </div>
        &nbsp;<br/>

        <div class="clearfix"></div>
        <div class="fs-abbo-bottom">
          <div class="fs-abbo-sx1">
            <p>
              <label><%= f.check_box :se_condition, :label => l(:field_language) + " <span class='required'>*</span>" %> <%= l(:field_se_condition_readed) %></label>
            </p>

            <p>Leggo le <a href='#' id='acondizioni' class='pri'><b>condizioni di utilizzo</b></a></p>

            <div id="condizioni" title="Condizioni di utilizzo" class="hidden" style="overflow: hidden;"></div>
          </div>
          <div class="fs-abbo-dx1">
            <p>
              <label><%= f.check_box :se_privacy, :label => l(:field_se_privacy) + " <span class='required'>*</span>" %> <%= l(:field_se_privacy_accept) %></label>
            </p>

            <p>Acconsento al <a href='#' id='ainformativa' class='pri'><b>trattamento dei dati</b></a></p>
          </div>
          <div id="informativa" title="Informativa" class="hidden" style="overflow: hidden;">
          </div>
        </div>
        <div class="clearfix"></div>

        </fieldset>

    <!--STEP 2 -->
    <fieldset class="" style="display: none;">
      <legend title="Privato o Affiliato ad un associazione Sigla :: Organismo :: Associazione">Privato o associato o
        responsabile
      </legend>
<!--INIZIO dv_privato -->
      <div id="dv_privato" class="dvrbt" style="display: none;">
        <h1>Privato: </h1>
          <p> pagina in lavorazione: da completare con i dati utente </p>
      </div>
<!--FINE dv_privato -->
<!--INIZIO dv_associato -->

      <div id="dv_associato" class="dvrbt" style="display: none;">
        <h1>Socio: </h1>

        <div class="fs-register">
          <div class="fs-abbo-sx1">
            <p style="text-align:center;"><%= f.select :titolo, options_for_select(["Abbonamento Personale", "Presidente", "Tesoriere", "Professionista", "Consigliere", "Segretario", "Delegato", "Altro", "Segretaria", "Dirigente", "Amministratore unico", "Operatore", "Libero professionista", "Amministratore", "Tecnico/Dirigente", "Professionista-consigliere", "Socio", "Associato", "Studente", "Vice-presidente", "Responsabile Amministrativo", "Vice Presidente Regionale", "Impiegata", "Avvocato", "Consulente", "Responsabile"], "Altro") %></p>
          </div>
          <div class="fs-abbo-dx1">
            <p style="text-align:center;"><%= f.text_field :num_reg_coni, :label => l(:field_coni_number), :style => 'width:70%' %></p>
          </div>
          <br/>
        </div>
        <div class="fs-register"><br/> <br/><h4><%= l(:field_sigla_organismo) %></h4>
        </div>
        <div class="fs-register">
          <p style="text-align:center;"><label for="user_cross_organization_id"></label>
            <%= f.select :cross_organization_id, options_for_select(CrossOrganization.find(
                                                                            :all,
                                                                            :joins => [:type_organization],
                                                                            :order => 'type_organizations.tipo, sigla'
                                                                    ).collect { |c| ["#{c.type_organization.tipo} :: #{c.sigla}", c.id] }), :include_blank => true, :required => false, :title => l(:field_sigla_organismo) %>
          </p>
          <%# TypeOrganization.all.sort.each do |tipo|  missing method sort %>
          <p>
            <% TypeOrganization.all.each do |tipo| %>
                <small><%= tipo.descrizione %></small>
                &nbsp; &nbsp;&nbsp;&nbsp;
            <% end %>
          </p>
        </div>
        <div class="fs-register">
          <%#{e.organization.cross_organization.type_organization.tipo} :: #{e.organization.cross_organization.sigla}   %>
          <p style="text-align:center;"><label for="user_asso_id"></label>
            <%= f.select :asso_id, options_for_select(Asso.find(
                                                              :all,
                                                              :include => [:users, {:organization => {:cross_organization => :type_organization}}],
                                                              :order => 'ragione_sociale'
                                                      ).collect { |e| [smart_truncate("Organismo #{e.ragione_sociale}", 100) + " (#{e.users.count()})", e.id] }), :include_blank => true, :required => false, :title => l(:field_asso_title) %>
          </p>
          <br/> <br/>
        </div>
      </div>

<!--FINE dv_associato -->
<!--INIZIO dv_responsabile -->

      <div id="dv_responsabile" class="dvrbt" style="display: none;">
        <h1>Responsabile associazione: </h1>
        <!--<h4>Cerca se la tua sigla, organismo, associazione è già affiliata a Fiscosport.</h4>   -->
        <div class="fe-notice"> Sei certo che l'associazione che stai per iscrivere non è già presente? Fai una ricerca per verificare le associazione già registrate in Fiscosport. </div>
        <p style="text-align:center;"><label><%= l(:field_affiliato) %>  </label>
          <%= hidden_field_tag "extra", "cross_select" %>
          <%= hidden_field_tag "extra", "asso_select" %>
          <%= text_field_tag "extra_organismo_select" %>
        </p>
        <br/>
        <hr class="dotted"/>
        <br/>

        <p class="fe-notice">Se non hai trovato la tua associazione compila i campi qui sotto, il team di FISCOSPORT   provederà a contattarti in un secondo momento per la validazione dei dati. </p>

        <p><%= f.text_field :soc, :label => l(:field_asso_title), :style => 'width:98%;', :maxlength => 255 %></p>

        <div class="flash notice hide"><%= l(:field_asso_title) %></div>

        <p><%= f.text_field :indirizzo, :label => l(:field_indirizzo), :style => 'width:60%;' %></p>

        <p><%= f.text_field :telefono, {:style => 'width:60%;', :label => l(:field_telefono), :maxlength => 255} %></p>

        <p><%= f.text_field :fax, {:style => 'width:60%;', :label => l(:field_fax), :maxlength => 255} %></p>

        <br/>
        <br/>


      </div>
      <!-- FINE dv_responsabile -->
      <div class="fs-register">
        <div class="fs-abbo-sx1">
          <label for="user_comune_id"><%= l(:field_comune) %><span class="required">*</span></label>
          <%= f.hidden_field :comune_id, {:style => 'width:99%;'} %>
          <%= text_field_tag "extra_town"%>
          <div class="fe-notice" style="text-align: left; padding: 0 40px;">Digitare almeno 3 caratteri per iniziare
            la ricerca. Usa la rotella per caricare altre risposte possibili
          </div>
        </div>
        <div class="fs-abbo-dx1">
          <p><%= f.text_field :codice, {:style => 'width:89%;', :label => l(:field_codice_segnalatore), :maxlength => 255} %></p>

          <div class="fe-notice" style="text-align: left; padding: 0 40px;">La tua associazione o qualcun'altro ti ha
            dato un codice promozionale? inserilo qui.
          </div>
        </div>
      <p> <br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br /></p>
    </div>
        <p><%= f.text_area :note, {:style=>"width:98%; height: 100px", :label => l(:field_com)} %>  </p>
      <br/>
    </fieldset>

    <div id="pops" title="" class="hidden" style="overflow: hidden;"></div>
    <%= submit_tag l(:button_submit), :class => "finish" %>
<% end %>

</div>
</div>
</div>
<br/>
</article>
<div class="clearfix"></div>
<br/>
</div>

<%= javascript_include_tag "jquery/jquery.stepy.min.js" %>
<%= javascript_include_tag "jquery/select2.min.js" %>
<%= stylesheet_link_tag 'jquery/select2.css' %>


<!--
  $( "#radio-jquery-ui" ).buttonset();
  $( "#radio-jquery-ui :input" ).each(function(){
    $label = $(this).next();
    $("table").append($("<tr/>").attr('id',$(this).attr('id'))
      .append($("<td/>").addClass('1').html($label.html()))
      .append($("<td align='center'/>").addClass('2').html( ($(this).attr('checked'))? 'checked' : 'no' ) )
      .append($("<td/>").addClass('3').html( ($label.hasClass('ui-state-active'))? 'ui-state-active' : 'not active' )));
  });
  $( "#radio-jquery-ui label" ).click(function(){
    $( "#radio-jquery-ui label" ).each(function(){
      $input = $(this).prev();
      $("tr [id='"+$(this).attr('for')+"'] td.2").html( ($input.attr('checked'))? 'checked' : 'no'  );
      $("tr[id='"+$(this).attr('for')+"'] td.3").html( ($(this).hasClass('ui-state-active'))? 'ui-state-active' : 'not active' );
    });
  });
-->

<script type="text/javascript">
    var pageSize = 10;
    $(document).ready(function () {
        //HideAvaibility("user_mail");
        //HideAvaibility("user_login");

        $('input:radio[name="rbt"]').change(function () {
            var sel = $('input:radio[name="rbt"]:checked').val();
            $("div.dvrbt").each(function () {
                if ($(this).attr('id') == sel) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });

        });
        //Initial set
        //var $radios = $('input:radio[name=rbt]');
        //if($radios.is(':checked') === false) {
        //    $radios.filter('[value=dv_associato]').prop('checked', true);
        //}
        $("input[name=rbt][value=dv_associato]").prop('checked', true);
        $("#dv_associato").show();

        $(document).tooltip();

        $('#steps').stepy({
            back:undefined, backLabel:'Indietro', block:false, description:false, errorImage:true, finish:undefined, finishButton:true, ignore:'', legend:true, nextLabel:'Avanti', next:undefined, titleClick:false, titleTarget:undefined, select:undefined, validate:false  //Kappao manca alcuni script? jquery validate TypeError: a is undefined
        });
        $('#user_language').select2({
            width:'90%',
            placeholder:"Seleziona il tuo linguagio",
            allowClear:true
        });
        $('#user_titolo').select2({
            width:'80%',
            placeholder:"Come rappresenti l'associazione nel quale appartieni. Se ti muovi per conto tuo lasci cosi.",
            allowClear:true
        });
        jQuery.ajaxSetup({
            'beforeSend':function (xhr) {
                xhr.setRequestHeader("Accept", "text/javascript")
            }
        });
        $("#user_mail").keyup(function () {
            if ($("#user_login").val().length <= 0) {
                $("#user_login").val($(this).val());
                HideAvaibility("user_login");
            }
        });
        $("#user_mail").blur(function () {
            if ((($(this).val() + "").length > 0) && ( isValidEmailAddress($(this).val()))) {
                controlfield($("#user_mail").attr("id"), $(this).val());
            }
            else
                HideAvaibility("user_mail");
        });
        //$("#user_login").keyup(function () {
        $("#user_login").blur(function () {
            if (($(this).val() + "").length > 1) {
                controlfield($("#user_login").attr("id"), $(this).val());
            }
            else
                HideAvaibility("user_login");
        });
        $('#user_cross_organization_id').select2({
            width:'80%',
            placeholder:"Selezionare la tua federazione e il tuo organismo",
            allowClear:true
        });
        $("#user_cross_organization_id").on('change', function (ev) {
            //alert('changed usertiposigla --> TODO reload Associations?')
        });
        $('#user_asso_id').select2({
            width:'80%',
            placeholder:"Ricerca la tua associazione. Se non trovi, ci sentiamo via mail.",
            allowClear:true
        });
        $("#extra_organismo_select").select2({
            width:'80%',
            placeholder:"Ricerca la tua associazione e la sua relativa federazione ed organismo",
            minimumInputLength:3,
            ajax:{
                url:'<%= organismi_path %>',
                dataType:'json', //'jsonp',
                quietMillis:500,
                data:function (term, page) { // page is the one-based page number tracked by Select2
                    return {
                        term:term, //search term
                        page_limit:pageSize, // page size
                        page:page//, // page number

                    };
                },
                results:function (data, page) {
                    //alert(data);
                    var more = (page * pageSize) < data.total; // whether or not there are more results available
                    //var data_jsonp = [];
                    //$.each(data.organismi, function (index, value) {
                    //    //alert(index + ': ' + value);
                    //    var elmt = {
                    //        id:value.id,
                    //        text:value.text
                    //    }
                    //    data_jsonp.push(elmt);
                    //});
                    // notice we return the value of more so Select2 knows if more results can be loaded
                    //data.organismi.replace('''text''', 'text').replace('''id''', 'id')
                    return {results:data.organismi, more:more};
                    //return {results: data_jsonp, more: more};
                }
            },
            formatResult:FormatOrga, // omitted for brevity, see the source of this page
            formatSelection:OrgaSelection, // omitted for brevity, see the source of this page
            dropdownCssClass:"bigdrop", // apply css that makes the dropdown taller
            escapeMarkup:function (m) {
                return m;
            } // we do not want to escape markup since we are displaying html in results
        });

        var urlzoneextend = '<%= zone_extend_path %>';
        $("#extra_town").select2({
            width:'87%',
            placeholder:"Ricerca la tua città. Digita almeno 3 carateri per iniziare la ricerca",
            minimumInputLength:3, //multiple: true,
            ajax:{
                url:urlzoneextend,
                quietMillis:400,
                dataType:'json',
                data:function (term, page) {
                    return {
                        term:term,
                        page_limit:pageSize,
                        page:page
                    };
                },
                results:function (data, page) {
                    var more = (page * pageSize) < data.total;
                    return {results:data.citta, more:more};
                }
            },
            formatResult:FormatCitta,
            formatSelection:CittaSelection,
            dropdownCssClass:"bigdrop",
            escapeMarkup:function (m) {
                return m;
            }
        });

        //privacy
        $("#ainformativa").click(function (e) {
            Inform(e);
            return false
        });
        $('#informativa').dialog({
            autoOpen:false,
            width:700,
            show:"blind",
            hide:"explode",
            height:550,
            resizable:true,
            draggable:true,
            title:'Informativa',
            bgiframe:true,
            modal:true,
            open:function (event, ui) {
                $(this).load(url_inf);
            },
            buttons:{
                "Acconsento":function () {
                    $('#user_se_privacy').prop('checked', true);
                    $(this).dialog("close");
                },
                "Chiudi":function () {
                    $(this).dialog("close");
                }
            }
        });
        //Condition
        $("#acondizioni").click(function (e) {
            Leggi(e);
            return false
        });
        $('#condizioni').dialog({
            autoOpen:false,
            width:700,
            height:550,
            resizable:true,
            draggable:true,
            title:'Condizioni di utilizzo',
            bgiframe:true,
            modal:true,
            open:function (event, ui) {
                $(this).load(url_cond);
                $('.ui-widget-overlay').bind('click', function () {
                    $('#condizioni').dialog('close');
                })
            },
            buttons:{
                "Ho letto":function (ev, ui) {
                    $('#user_se_condition').prop('checked', true);
                    $(this).dialog("close");
                },
                "Chiudi":function () {
                    $(this).dialog("close");
                }
            }
        });

    }); //end hquery document ready

    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i);
        return pattern.test(emailAddress);
    }
    function HideAvaibility(id) {
        $("#no_" + id).hide();
        $("#si_" + id).hide();
    }
    var urlctrl = '<%= emailctrl_path %>';
    function controlfield(id, val) {
        $.post(urlctrl, { field:id, term:val },
                function (data) {
                    data = data || {};
                    if (data.success) {
                        $("#flash_notice").html("Controllo del campo " + id + " per il valore (" + val + ")");
                        //OnSuccess
                        if (data.available) {
                            $("#no_" + id).hide('explode', {}, 450);
                            var obj = $("#si_" + id);
                            setTimeout(function () {
                                obj.show('fade', {}, 'slow');
                            }, 500);
                        }
                        if (data.unavailable) {
                            $("#si_" + id).hide('puff', {}, 450);  //'fast'
                            var obj = $("#no_" + id);
                            setTimeout(function () {
                                obj.show('fade', {}, 'slow');
                            }, 500);
                        }
                    } else if (data.errors) {
                        $("#flash_error").html("Controllo del campo " + id + " per il valore (" + val + ")");
                        $("#flash_error").html(data.errors);
                        //showerrmsg(data.errors);
                    }
                }
        );
    }
    var url_cond = '<%= condition_path %>';
    function Leggi(e) {
        $("#condizioni").dialog('open');
        return false;
    }
    var url_inf = '<%= privacy_path %>';
    function Inform(e) {
        $("#informativa").dialog("open");
        return false;
    }
    function FormatOrga(organismi) {
        return '<div>' + organismi.label + '</div>';
    }
    function OrgaSelection(data) {
        $('#extra_cross_select').val(data.hiddenvalue_cross);
        $('#extra_asso_select').val(data.hiddenvalue_asso);
        return data.value;
    }
    function FormatCitta(Citta) {
        return '<div>' + Citta.label + '</div>';
    }
    function CittaSelection(Citta) {
        $('#comune_id').val(Citta.id);
        return Citta.value;
    }
</script>
