<%= javascript_include_tag "jquery/jquery.validate.min.js"%>
<%= javascript_include_tag "jquery/jquery.validate.unobtrusive.min.js"%>
<%= javascript_include_tag "jquery/jquery.stepy.min.js"%>
<%= stylesheet_link_tag 'jquery/jquery.stepy.css', :media => 'all' %>
<%= javascript_include_tag "jquery/select2.min.js"%>
<%= stylesheet_link_tag 'jquery/select2.css' %>
<script type="text/javascript">
 $(document).ready(function() {
    HideAvaibility("user_mail");
    HideAvaibility("user_login");

    $('#steps').stepy({
        back:           undefined
        ,backLabel:      '< Indietro'
        ,block:          false
        ,description:    true
        ,errorImage:     true
        ,finish:         undefined
        ,finishButton:   true
        ,ignore:         ''
        ,legend:         true
        ,nextLabel:      'Prossimo >'
        ,next:           undefined
        ,titleClick:     true
        ,titleTarget:    undefined
        , select: undefined
        , validate: false  //Kappao manca alcuni script? jquery validate TypeError: a is undefined
    });

    var Titoli = ["pippo", "Presidente", "Tesoriere", "Professionista", "Consigliere", "Segretario", "Delegato", "Altro", "Segretaria", "Dirigente", "Amministratore unico", "Operatore", "Libero professionista", "Amministratore", "Tecnico/Dirigente", "Professionista-consigliere", "Socio", "Associato", "Studente", "Vice-presidente", "Responsabile Amministrativo", "Vice Presidente Regionale", "Impiegata", "Avvocato", "Consulente", "Responsabile"
        ];
    $( "#user_titolo" ).autocomplete({
            source: Titoli
        });
    jQuery.ajaxSetup({
    'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")}
    });
    var urldata = '<%= usertitle_path %>';
    $("#userrole").autocomplete({
            minLength: 2,
            source: urldata,
            focus: function(event, ui) {
                $('#userrole').val(ui.value);
                return false;
            },
            select: function(event, ui) {
                $('#info').val(ui.item ?
                    "Selected: " + ui.item.value + " aka " + ui.item.label :
                    "Nessuna selezione, la ricerca era -" + this.value + "-");
                if (ui.item && ui.item.value == "0") {
                  //$("#userrole").val(this.value);
                  $('#user_role_id').val("");
                  return false;
                }
            },
        })
        .data( "autocomplete" )._renderItem = function( ul, item ) {
            return $( "<li></li>" )
                .data( "item.autocomplete", item )
                .append( "<a>" + item.value + "</a>" )
                .appendTo( ul );
        };

        //control uniqueness of email and login
        $("#user_mail").keyup(function () {
            if ((($(this).val() + "").length > 0) && ( isValidEmailAddress( $(this).val() ))) {
                controlfield($("#user_mail").attr("id"), $(this).val());
            }
            else
                HideAvaibility("user_mail");
            $("#user_login").val(this.val());
        });
        $("#user_login").keyup(function () {
            if (($(this).val() + "").length > 1) {
                controlfield($("#user_login").attr("id"), $(this).val());
            }
            else
                HideAvaibility("user_login");
        });
        var urlzone = '<%= zone_path %>';
        $('#user_Town').autocomplete({
            source: urlzone,
            select: function (event, ui) {
                if (ui.item) {
                    //$('#user_Town').val(ui.item.Text);
                    //$('#user_comune_id').val(ui.item.Value);
                    $('#user_comune_id').val(ui.item.hiddenvalue);
                }
                return true;
            },
            minLength: 2
        }).data("autocomplete")._renderItem = function (ul, item) {
            return $("<li></li>")
				    .data("item.autocomplete", item)
				    //.append("<a id='" + item.Value + "'>" + item.Text + "</a>")
				    .append("<a>" + item.label + "</a>")
				    .appendTo(ul);
        };
    });
    function isValidEmailAddress(emailAddress) {
      var pattern = new RegExp(/^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i);
        return pattern.test(emailAddress);
    };
    function HideAvaibility(id){
        $("#no_" + id).hide();
        $("#si_" + id).hide();
    }
    var urlctrl = '<%= emailctrl_path %>';
    function controlfield(id, val){
      $.post(urlctrl, { field: id, term: val },
        function (data) {
          data = data || {};
          if (data.success) {
              //OnSuccess
              if (data.available) {
                  $("#no_" + id).hide('explode', {}, 450);
                  var obj = $("#si_" + id);
                  setTimeout(function () { obj.show('fade', {}, 'slow');}, 500);
              }
              if (data.unavailable) {
                  $("#si_" + id).hide('puff', {}, 450);  //'fast'
                  var obj = $("#no_" + id);
                  setTimeout(function () { obj.show('fade', {}, 'slow'); }, 500);
              }

          } else if (data.errors) {
              showerrmsg(data.errors);
          }
        }
      );
    }
</script>
<h2><%=l(:label_register)%> <%=link_to l(:label_login_with_open_id_option), signin_url if Setting.openid? %></h2>
<br/>
<b>Modulo di registrazione gratuita</b>
<br/>
<p class="raccomendazione">
I campi contrassegnati da <b style="color: red;">* sono obbligatori</b><br />
La corretta indicazione del campo “affiliato a” permette di usufruire dell’eventuale periodo gratuito concesso per effetto dell’adesione del CONI o della Fsn/Dsa/Eps al progetto globale. >br /> Il sistema riconoscerà l’utente affiliato anche in caso di successiva adesione dell’organismo.
</p>
<%= error_messages_for 'user' %>
<% form_tag({:action => 'register'}, :class => "tabular", :id => "steps") do %>

<fieldset class="" title="Anagrafica">
  <legend>Step1: Dati personali</legend>
  <div class="box">
    <p><label><%=l(:field_nome)%></label>
    <p><label for="user_firstname"><%=l(:field_firstname)%> <span class="required">*</span></label>
    <%= text_field 'user', 'firstname'  %></p>

    <p><label for="user_lastname"><%=l(:field_lastname)%> <span class="required">*</span></label>
    <%= text_field 'user', 'lastname'  %></p>

    <p><label for="user_mail"><%=l(:field_mail)%> <span class="required">*</span></label>
    <%= text_field 'user', 'mail'  %>
    <img id="si_user_mail" src="/images/SI.jpg" alt="Anagrafica disponibile" title="Anagrafica disponibile" />
    <div id="no_user_mail">
        <img src="/images/NO.jpg" alt="Anagrafica non disponibile. Ci risulta già una registrazione con questa Anagrafica!"  title="Anagrafica non disponibile. Ci risuta già una registrazione con questa Anagrafica!"/><br />
    Informazione già presente nel server: Sei già registrato? Usi il <%= link_to l(:label_login), :signin %> per accedere di nuovo. Se hai problemi <%= link_to 'Contattaci', contatti_path %>.
    </div></p>
    <p><label for="user_titolo" title="Presidente, Tesoriere, Professionista, Consigliere, Segretario, Delegato, Altro, Segretaria, Dirigente, Amministratore unico, Operatore, Libero professionista, Amministratore, Tecnico/Dirigente, Professionista-consigliere, Socio, Associato, Studente, Vice-presidente, Responsabile Amministrativo, Vice Presidente Regionale, Impiegata, Avvocato, Consulente, Responsabile" ><%=l(:field_titolo)%> <span class="required">*</span></label>
    <%= text_field 'user', 'titolo'  %></p>

    <p><label for="user_role_id"><%=l(:field_role)%> <span class="required">*</span></label>
    <%= hidden_field :user, :role_id %>
    <%= text_field_tag('userrole')  %></p>

    <p><label for="user_comune_id"><%=l(:field_comune)%><span class="required">*</span></label>
    <%= hidden_field :user, :comune_id %>
    <%= text_field_tag('user_Town')  %>
    <small>Digitare almeno 2 caratteri per iniziare la ricerca</small></p>

  <p><label for="user_indirizzo"><%=l(:field_indirizzo)%></label>
  <%= text_field_tag('user_indirizzo')  %></p>

  <p><label for="user_telefono"><%=l(:field_telefono)%></label>
  <%= text_field_tag('user_telefono')  %></p>

  <p><label for="user_fax"><%=l(:field_fax)%></label>
  <%= text_field_tag('user_fax')  %></p>

    </div>

</fieldset>

<fieldset class="" title="Credenziali" style="display: none;">
  <legend>Step2: SìDati di accesso</legend>
  <div class="box">
  <!--[form:user]-->
  <% if @user.auth_source_id.nil? %>
  <p><label for=""><%=l(:field_username_as_email)%></label>
  <p><label for="user_login"><%=l(:field_login)%> <span class="required">*</span></label>
  <%= text_field 'user', 'login', :size => 60 %>
  <img id="si_user_login" src="/images/true.png" alt="login disponibile" title="login disponibile" /><img id="no_user_login" src="/images/false.png" title="login non disponibile. Ci risulta già una registrazione con questo login!"/>
  </p>

  <p><label for="password"><%=l(:field_password)%> <span class="required">*</span></label>
  <%= password_field_tag 'password', nil, :size => 25  %><br />
  <em><%= l(:text_caracters_minimum, :count => Setting.password_min_length) %></em></p>

  <p><label for="password_confirmation"><%=l(:field_password_confirmation)%> <span class="required">*</span></label>
  <%= password_field_tag 'password_confirmation', nil, :size => 25  %></p>
  <% end %>

  <p><label for="user_language"><%=l(:field_language)%></label>
  <%= select("user", "language", lang_options_for_select) %></p>

  <% if Setting.openid? %>
  <p><label for="user_identity_url"><%=l(:field_identity_url)%></label>
  <%= text_field 'user', 'identity_url'  %></p>
  <% end %>

  <% @user.custom_field_values.select {|v| v.editable? || v.required?}.each do |value| %>
    <p><%= custom_field_tag_with_label :user, value %></p>
  <% end %>
  <!--[eoform:user]-->
  </div>

  <div class="box">
    <p><label for="user_condition"><%=l(:field_condition)%> <span class="required">*</span></label>
    <p><label><%= check_box_tag 'user_condition', 1, false %> <%=l(:field_condition_readed)%></label></p>
    <p>
    Leggo le <a href='#' id='acondizioni'
        class='pri' onclick='Leggi(); return false;'><b>condizioni di utilizzo</b></a>
    </p>
<div id="condizioni" title="Condizioni di utilizzo" class="hidden" style="overflow: hidden;">
</div>
<script type="text/javascript" language="javascript">
    var that;
    function Leggi() {
        //clean it
        //$("#condizioni").dialog("destroy")
        //set new

        $('#condizioni').dialog({
            autoOpen: true,
            width: 700,
            height: 550,
            resizable: true,
            draggable: true,
            title: 'Condizioni di utilizzo',
            bgiframe: true,
            modal: false,
            open: function (event, ui) {
                var url = '<%= condition_path %>';
                $(this).load(url);
                $('.ui-widget-overlay').bind('click', function() {
                  $('#condizioni').dialog('close');
                })
            },
            buttons: {
              //close: function(ev, ui) {
              //  //$(this).remove();
              //  $('#condizioni').dialog("close");
              //},
              "Ho letto": function (ev, ui) {
                  $('#user_condition').prop('checked', true);
                  //$('#condizioni').dialog("close");
                  //$(this).dialog("close");
                  //$(this).dialog('close').remove();
                  //$(that).dialog("close");
                  //if ($( this ).is( ":ui-dialog" ) || $( this ).is( ":data(dialog)" ))
                  //   $(this).dialog("close");
                  //$(".ui-dialog-page").dialog("close");
                  //$('#pops').dialog("close");
                  //$("#condizioni").dialog().remove();
                  //if( $("#condizioni").dialog("isOpen")===true ) {
                  //  $("#condizioni").dialog("close");
                  //}
                  //$(this).dialog('destroy').remove()
                  //that.hide();
              }
            }
        });

        that = $("#condizioni").dialog();
    }
</script>
  </div>


  <div class="box">
    <p><label for=""><%=l(:field_privacy)%> <span class="required">*</span></label>
    <p><label><%= check_box_tag 'user_Consensus', 1, false %> <%=l(:field_privacy_accept)%></label></p>
    <p>
    Acconsento al <a href='#' id='ainformativa'
        class='pri' onclick='Inform(); return false;'><b>trattamento dei dati</b></a>
    </p>

<div id="informativa" title="Informativa" class="hidden" style="overflow: hidden;">
</div>
<script type="text/javascript" language="javascript">
    function Inform() {
        //$("#informativa").dialog("open");

        //clean it
        //$("#informativa").dialog("destroy")
        //set new
        $('#informativa').dialog({
            autoOpen: true,
            width: 700,
            show: "blind",
            hide: "explode",
            height: 550,
            resizable: true,
            draggable: true,
            title: 'Informativa',
            bgiframe: true,
            modal: true,
            open: function (event, ui) {
                var url = '<%= privacy_path %>';
                $(this).load(url);
            },
            buttons: {
              "Acconsento": function () {
                  //var that = this;
                  $('#user_Consensus').prop('checked', true);
                  //$('#informativa').dialog("close");
                  //$(this).dialog("close");
                  //$(that).dialog("close");
                  //if( $("#informativa").dialog("isOpen")===true ) {
                  //  $("#informativa").dialog("close");
                  //}
                  $(this).dialog('destroy').remove()
                }
            }
        });
    }
</script>
  </div>

</fieldset>

<fieldset class="" title="Affiliazione" style="display: none;">
  <legend>Step3: Associato</legend>
  <div class="box">
    <p><label for=""><%=l(:field_asso)%> <span class="required">*</span></label>
    <p><label for=""><%=l(:field_asso_title)%> <span class="required">*</span></label>
    <p><label for=""><%=l(:field_affiliato)%> <span class="required">*</span></label>
    <p><label for=""><%=l(:field_sigla_organismo)%> <span class="required">*</span></label>
    <p><label for=""><%=l(:field_sigla_sede)%> <span class="required">*</span></label>
    <p><label for=""><%=l(:field_coni_number)%> <span class="required">*</span></label>
    <p><label for=""><%=l(:field_codice_segnalatore)%> <span class="required">*</span></label>
    <p><label for=""><%=l(:field_com)%> <span class="required">*</span></label>
  </div>
</fieldset>

<div id="pops" title="" class="hidden" style="overflow: hidden;"></div>
<%= submit_tag l(:button_submit), :class => "finish" %>
<% end %>
