<div class="contextual">
<%= link_to l(:label_organization_new), new_organization_path, :class => 'icon icon-add' %>
</div>

<h2><%= l(:label_organization_plural) %></h2>

<% if @organizations.any? %>
<table class="list organizations">
  <thead><tr>
  <th style='width: 5%;'></th>
  <%= sort_header_tag('asso_name', :title => l(:label_organization), :style => 'width: 20%;text-align:left;')%>
  <%= sort_header_tag('cross_org_name', :title => l(:label_cross_organization), :style => 'width: 20%;text-align:left;')%>
  <%= sort_header_tag('user_name', :title => l(:label_user), :style => 'width: 20%;text-align:left;')%>
  <%= sort_header_tag('comune_name', :title => l(:label_comune), :style => 'width: 15%;')%>
  <%= sort_header_tag('data_scadenza', :title => l(:label_data_scadenza), :style => 'width: 15%;')%>
  <%= sort_header_tag('richiedinumeroregistrazione', :title => l(:label_richiedinumeroregistrazione), :style => 'width: 5%;')%>
  <th style='width: 5%;'></th>
  <th style='width: 5%;'></th>
  </tr></thead>
  <tbody>
<% @organizations.each do |organization| %>
  <tr class="<%= cycle 'odd', 'even' %>">
    <td class="buttons"><%= link_to('', organization_path(organization), :class => 'icon icon-summary') %></td>
    <td><%= link_to h(organization.asso), asso_path(organization.asso, :id => organization.asso_id) %></td>
    <td><%= link_to h(organization.cross_organization), cross_organization_path(organization.cross_organization, :id => organization.cross_organization_id) %></td>
    <td><%= link_to h(organization.user), user_path(organization.user, :id => organization.user_id) %></td>
    <td align="left"><%=h organization.comune %></td>
    <td align="left"><%= format_date(organization.data_scadenza) %></td>
    <td align="center"><%= check_box_tag '', 1, organization.richiedinumeroregistrazione, :disabled => 'disabled' %></td>
    <td class="buttons"><%= link_to('', edit_organization_path(organization), :class => 'icon icon-edit') if User.current.admin? %></td>
    <td class="buttons"><%= link_to ('', organization, :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del') if User.current.admin? %></td>
  </tr>
<% end %>
</table>

<p class="pagination"><%= pagination_links_full @organization_pages, @organization_count %></p>

<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

