<p>
  <b>region_id:</b>
  <%=h @organization.region_id %>
</p>

<p>
  <b>province_id:</b>
  <%=h @organization.province_id %>
</p>

<p>
  <b>data_scadenza:</b>
  <%=h @organization.data_scadenza %>
</p>

<p>
  <b>User:</b>
  <%=h @organization.user_id %>
</p>

<p>
  <b>nota:</b>
  <%=h @organization.nota %>
</p>

<p>
  <b>testo2:</b>
  <%=h @organization.testo2 %>
</p>

<p>
  <b>testo3:</b>
  <%=h @organization.testo3 %>
</p>

<p>
  <b>numero1:</b>
  <%=h @organization.numero1 %>
</p>

<p>
  <b>numero2:</b>
  <%=h @organization.numero2 %>
</p>

<p>
  <b>numero3:</b>
  <%=h @organization.numero3 %>
</p>

<p>
  <b>data1:</b>
  <%=h @organization.data1 %>
</p>

<p>
  <b>data2:</b>
  <%=h @organization.data2 %>
</p>

<p>
  <b>data3:</b>
  <%=h @organization.data3 %>
</p>

<p>
  <b>flag1:</b>
  <%=h @organization.flag1 %>
</p>

<p>
  <b>flag2:</b>
  <%=h @organization.flag2 %>
</p>

<p>
  <b>flag3:</b>
  <%=h @organization.flag3 %>
</p>

<p>
  <b>richiedinumeroregistrazione:</b>
  <%=h @organization.richiedinumeroregistrazione %>
</p>

<p>
  <b>asso_id:</b>
  <%=h @organization.asso_id %>
</p>

<p>
  <b>cross_organization_id:</b>
  <%=h @organization.cross_organization_id %>
</p>

<p>
  <b>comune_id:</b>
  <%=h @organization.comune_id %>
</p>


<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>