<div class="contextual">
<%= link_to l(:label_asso_new), new_asso_path, :class => 'icon icon-add' %>
</div>

<h2><%= l(:label_asso_plural) %></h2>

<% if @assos.any? %>
<div style="max-width: 960px; overflow: auto;">
<table class="list assos">
  <thead><tr>
  <%= sort_header_tag('ragione_sociale', :title => l(:label_ragione_sociale), :style => 'width: 10%;text-align:left;')%>
  <%= sort_header_tag('email', :title => l(:label_email), :style => 'width: 10%;text-align:left;')%>
  <%= sort_header_tag('indirizzo', :title => l(:label_indirizzo), :style => 'width: 10%;text-align:left;')%>
  <%= sort_header_tag('presidente', :title => l(:label_presidente), :style => 'width: 10%;text-align:left;')%>
  <%= sort_header_tag('referente', :title => l(:label_referente), :style => 'width: 10%;text-align:left;')%>
  <%= sort_header_tag('consulente', :title => l(:label_consulente), :style => 'width: 10%;text-align:left;')%>
  <%= sort_header_tag('logo', :title => l(:label_logo), :style => 'width: 10%;text-align:left;')%>
  <%= sort_header_tag('telefono', :title => l(:label_telefono), :style => 'width: 10%;text-align:left;')%>
  <%= sort_header_tag('fax', :title => l(:label_fax), :style => 'width: 10%;text-align:left;')%>
  <th style='width: 5%;'></th>
  <th style='width: 5%;'></th>
  </tr></thead>
  <tbody>
<% @assos.each do |asso| %>
  <tr class="<%= cycle 'odd', 'even' %>">
    <td><%= link_to asso, asso_path(asso) %></td>
    <td><%=h asso.email %></td>
    <td><%=h asso.indirizzo %></td>
    <td><%=h asso.presidente %></td>
    <td><%=h asso.referente %></td>
    <td><%=h asso.consulente %></td>
    <td><%=h asso.logo %></td>
    <td><%=h asso.telefono %></td>
    <td><%=h asso.fax %></td>
    <td class="buttons"><%= link_to('', edit_asso_path(asso), :class => 'icon icon-edit') if User.current.admin? %></td>
    <td class="buttons"><%= link_to ('', asso, :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del') if User.current.admin? %></td>
  </tr>
<% end %>
</table>
</div>

<p class="pagination"><%= pagination_links_full @asso_pages, @asso_count %></p>

<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
