<p>
  <b>ragione_sociale:</b>
  <%=h @asso.ragione_sociale %>
</p>

<p>
  <b>indirizzo:</b>
  <%=h @asso.indirizzo %>
</p>

<p>
  <b>email:</b>
  <%=h @asso.email %>
</p>

<p>
  <b>presidente:</b>
  <%=h @asso.presidente %>
</p>

<p>
  <b>referente:</b>
  <%=h @asso.referente %>
</p>

<p>
  <b>consulente:</b>
  <%=h @asso.consulente %>
</p>

<p>
  <b>logo:</b>
  <%=h @asso.logo %>
</p>

<p>
  <b>telefono:</b>
  <%=h @asso.telefono %>
</p>

<p>
  <b>telefono_alt:</b>
  <%=h @asso.telefono_alt %>
</p>

<p>
  <b>fax:</b>
  <%=h @asso.fax %>
</p>

<p>
  <b>comunicazioni:</b>
  <%=h @asso.comunicazioni %>
</p>

<p>
  <b>email_alt:</b>
  <%=h @asso.email_alt %>
</p>


<%= link_to 'Edit', edit_asso_path(@asso) %> |
<%= link_to 'Back', assos_path %>