<div class="contextual">
<%= link_to(l(:button_edit), edit_asso_path(@asso), :class => 'icon icon-edit') if User.current.admin? %>
<%= link_to(l(:button_delete),
      asso_path(@asso),
      :confirm => l(:text_are_you_sure),
      :method => :delete,
      :class => 'icon icon-del') if User.current.admin? %>
</div>
<h2><%= link_to l(:label_asso_plural), assos_path %> &#187; <%=h @asso %></h2>

<div class="splitcontentleft">
  <fieldset class="box tabular">
    <legend><%=l(:label_asso_full)%></legend>
    <p>
        <em><%= l(:label_ragione_sociale) %>: <%=h @asso.ragione_sociale %></em>
    </p>
    <p>
    <% unless @asso.organization.blank? %>
      <%= link_to(h(@asso.organization.to_s), organization_path(@asso.organization), :class => 'icon icon-summary') %>
    <% end %>
    </p>
    <p>
        <%= l(:label_indirizzo) %>: <%=h @asso.indirizzo %>
    </p>
    <p>
        <%= l(:label_email) %>: <%=h @asso.email %>
    </p>
    <p>
        <%= l(:label_presidente) %>: <%=h @asso.presidente %>
    </p>
    <p>
        <%= l(:label_referente) %>: <%=h @asso.referente %>
    </p>
    <p>
        <%= l(:label_consulente) %>: <%=h @asso.consulente %>
    </p>
    <p>
        <%= l(:label_logo) %>: <%=h @asso.logo %>
    </p>
    <p>
        <%= l(:label_telefono) %>: <%=h @asso.telefono %>
    </p>
    <p>
        <%= l(:label_telefono_alt) %>: <%=h @asso.telefono_alt %>
    </p>
    <p>
        <%= l(:label_fax) %>: <%=h @asso.fax %>
    </p>
    <p>
      <%= l(:label_comunicazioni) %>:
      <div class="html">
        <% unless @asso.comunicazioni.nil? %>
          <%= @asso.comunicazioni.html_safe %>
        <% end %>
      </div>
<--html safe----------------------------------------------------------------------textilizable-->
      <div class="wiki">
        <%= textilizable(@asso.comunicazioni) %>
      </div>
    </p>
    <p>
        <%= l(:label_email_alt) %>: <%=h @asso.email_alt %>
    </p>
  </fieldset>
</div>

<div class="splitcontentright">
    <fieldset class="box tabular">
      <legend><%=l(:label_asso_associated_group_banner)%></legend>
        <% if @asso.group_banners.any? %>
        <table>
          <tr>
            <th><%=l(:label_group_banner)%></th>
          </tr>
          <% @asso.group_banners.each do |related_banner| %>
            <tr>
              <td class="buttons">
                <%= link_to(h(related_banner.espositore), group_banner_path(related_banner), :class => 'icon icon-summary') if User.current.admin?   %>
                <%= h(related_banner.espositore) if !User.current.admin?   %>
            </tr>
          <% end %>
        </table>
        <% else %>
          <%=l(:label_asso_associated_group_banner_none)%>
        <% end %>
    </fieldset>
</div>

<div class="splitcontentright">
    <fieldset class="box tabular">
      <legend><%=l(:label_asso_organization)%></legend>
        <% unless @asso.organization.nil? %>
          <%= link_to(h(@asso.organization.name), organization_path(@asso.organization), :class => 'icon icon-summary') if User.current.admin?   %>
          <%= h(@asso.organization.to_s) if !User.current.admin?   %>
        <% else %>
          <%=l(:label_asso_organization_none)%>
        <% end %>
    </fieldset>
</div>
