<div class="contextual">
<%= link_to l(:label_convention_new), new_convention_path, :class => 'icon icon-add' %>
</div>

<h2><%= l(:label_convention_plural) %></h2>
<div id="footer-menu" class="box">
  <%= render_menu :menu_table_fs %>
</div>

<% if @convs.any? %>
<div style="max-width: 960px; overflow: auto;">
<table class="list conventions">
  <thead><tr>
  <%= sort_header_tag('ragione_sociale', :title => l(:label_ragione_sociale), :style => 'width: 15%;text-align:left;')%>
  <%= sort_header_tag('Tipo_Sigla', :title => l(:label_convention_pact), :style => 'width: 15%;text-align:left;')%>
  <%= sort_header_tag('data_scadenza', :title => l(:label_convention_ref), :style => 'width: 15%;')%>
  <%= sort_header_tag('presidente', :title => l(:label_convention_people), :style => 'width: 15%;text-align:left;')%>
  <%= sort_header_tag('indirizzo', :title => l(:label_convention_address), :style => 'width: 15%;text-align:left;')%>
  <%= sort_header_tag('telefono', :title => l(:label_convention_contact), :style => 'width: 15%;text-align:left;')%>

  <th style='width: 5%;'></th>
  <th style='width: 5%;'></th>
  </tr></thead>
  <tbody>
<% @convs.each do |conv| %>
  <tr class="<%= cycle 'odd', 'even' %>">
    <td><%= link_to(conv, convention_path(conv), :class => 'icon icon-summary') %></td>
    <td>
      <% if conv.cross_organization %>
        <%= link_to h(conv.cross_organization), cross_organization_path(conv.cross_organization, :id => conv.cross_organization_id) %>
      <% end %>
      <br /><%=h conv.get_zone() %></td>
    <td align="left">
      <%= format_date(conv.data_scadenza) %>
      <br />
      <% if conv.user %>
        <%= link_to(h(conv.user), user_path(conv.user, :id => conv.user_id), :class => "icon " + conv.user_icon() ) %>
      <% end %>
    </td>

    <td>Pre: <%=h conv.presidente %><br />Ref: <%=h conv.referente %><br /></td>

    <td><%=h conv.indirizzo %><br /><%=h conv.comune %></td>

    <td>Mail: <%=h conv.email %><br />Tel: <%=h conv.telefono %><br />Fax: <%=h conv.fax %></td>
    <td class="buttons"><%= link_to('', edit_convention_path(conv), :class => 'icon icon-edit') if User.current.admin? %></td>
    <td class="buttons"><%= link_to ('', conv, :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del') if User.current.admin? %></td>
  </tr>
<% end %>
</table>
</div>

<p class="pagination"><%= pagination_links_full @conv_pages, @conv_count %></p>

<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
