<div class="contextual">
  <%= link_to l(:label_convention_new), new_convention_path, :class => 'icon icon-add' %>
</div>
<h2><%= l(:label_convention_plural) %></h2>

<% if @convs.any? %>
<div style="max-width: 960px; overflow: auto;">
<table class="list conventions">
  <thead><tr>
    <th style='width: 5%; color: #2A5685;'>Logo</th>
  <%= sort_header_tag('ragione_sociale', :title => l(:label_ragione_sociale), :style => 'width: 35%;text-align:left;')%>
  <%= sort_header_tag('Tipo_Sigla', :title => l(:label_convention_pact), :style => 'width: 20%;text-align:left;')%>
  <%= sort_header_tag('scadenza', :title => l(:label_condisabledvention_ref), :style => 'width: 20%;')%>
  <%#sort_header_tag('presidente', :title => l(:label_convention_people), :style => 'width: 15%;text-align:left;')%>
  <%= sort_header_tag('contatti', :title => l(:label_convention_contact), :style => 'width: 15%;text-align:left;')%>

  <th style='width: 2%;'></th>
  <th style='width: 2%;'></th>
  </tr></thead>
  <tbody>
<% @convs.each do |conv| %>
  <tr class="<%= cycle 'odd', 'even' %>">
    <td  style='width: 50px;'> <%= image_tag conv.image.url(:xs)%> <div style='margin-left:6px;'> <%= conv.logo_in_fe? ?  (image_tag '/images/eye.gif'):(image_tag '/images/eye-no.gif')%></div></td>
    <td><%= link_to(conv.index, convention_path(conv)) %></td>
    <td>
      <% if conv.cross_organization %>
        <%= link_to h(conv.cross_organization), cross_organization_path(conv.cross_organization, :id => conv.cross_organization_id) %>
      <% end %>
      <br /><%=h conv.get_zone() %></td>
    <td align="left">
      <strong>
      <% if conv.data_scadenza %>
        <% if DateTime.now > conv.data_scadenza %>
          <span class="scadenza-ko"> <%= format_date(conv.data_scadenza) %></span>
        <% elsif conv.data_scadenza < (DateTime.now + Setting.renew_days.to_i.days) %>
          <span class="scadenza-renewing"><%= format_date(conv.data_scadenza) %> </span>
        <% else  %>
          <span class="scadenza-ok"><%= format_date(conv.data_scadenza) %> </span>
        <% end  %>
      <% else  %>
        <span class="scadenza-none">Senza data di scadenza  </span>
      <%	end  %>
      </strong>
      <br />
      <% if conv.user %>
        <%= link_to(h(conv.user), user_path(conv.user, :id => conv.user_id) ) %>
      <% end %>
    </td>
    <!--     <td style="font-size: 0.9em;">Pre: <%#h conv.presidente %><br />Ref: <%#h conv.referente %><br /></td>  -->
    <td>Mail: <%=h conv.email %><br />Tel: <%=h conv.telefono %><br />Fax: <%=h conv.fax %></td>
    <td class="buttons"><%= link_to('', edit_convention_path(conv), :class => 'icon icon-edit') if User.current.admin? %></td>
    <td class="buttons"><%= link_to('', conv, :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del') if User.current.admin? %></td>
  </tr>
<% end %>
</table>
</div>

<p class="pagination"><%# pagination_links_full @conv_pages, @conv_count %></p>

<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
