<!DOCTYPE html>
<html dir="ltr" lang="en-EN">
<head><!-- Created by DomThu & SPecchiaSoft -->
  <meta charset="utf-8"/>
  <title>FiscoSport  <%= h html_title %></title>
  <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width"/>
  <meta name="description" content="<%= Redmine::Info.app_name %>"/>
  <meta name="keywords" content="editoriale, notizie sport, fiscale, info, fiscosport"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <%= csrf_meta_tag %>
  <%= favicon %>

  <!-- ///// [if lt IE 9]><%= javascript_include_tag 'html5.js' %><![endif]-->
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <!--[if lte IE 7]><%= stylesheet_link_tag 'fe-blu-02/style.ie7.css', :media => 'screen' %><![endif]-->

  <style>

      .ie7 .post .layout-cell {
          border: none !important;
          padding: 0 !important;
      }

      .ie6 .post .layout-cell {
          border: none !important;
          padding: 0 !important;
      }

      .ie7 .post .layout-cell {
          border: none !important;
          padding: 0 !important;
      }

      .ie6 .post .layout-cell {
          border: none !important;
          padding: 0 !important;
      }

  </style>
  <!-- queste erano di default ? si possono  cancellare? non sembrano avere effetto alcuno almeno in FE -->
  <%# stylesheet_link_tag 'rtl', :media => 'all' if l(:direction) == 'rtl' %>
  <!-- fine di: queste erano di default ?... -->

  <!-- styles comuni  -->
  <%= stylesheet_link_tag 'application_fs', :media => 'all' %>
  <%= stylesheet_link_tag 'editorial', :media => 'all' %>
  <!-- styles per il FE -->
  <%= stylesheet_link_tag 'fe-blu-02/style.css', :media => 'all' %>
  <%= stylesheet_link_tag 'fe-blu-02/style.responsive.css', :media => 'all' %>
  <%= stylesheet_link_tag 'fe-blu-02/style-menu2.css', :media => 'all' %>
  <%= stylesheet_link_tag 'fe-blu-02/style-slide.css', :media => 'all' %>

  <!-- jquery comuni -->
  <%=javascript_include_tag "jquery/jquery-1.8.0.min.js" %>
  <%= javascript_include_tag "jquery/jquery-ui-1.8.23.custom.min.js" %>
  <%= stylesheet_link_tag 'jquery/redmond/jquery-ui-1.8.23.custom.css', :media => 'all' %>
  <!-- jquery per il FE -->
  <%= javascript_include_tag "fe-blu-02/jquery.js" %>
  <%= javascript_include_tag 'fe-blu-02/script.js' %>
  <%= javascript_include_tag 'fe-blu-02/script.responsive.js' %>
  <!-- jquery per la rotaziuone banner-->
  <%# javascript_include_tag "jquery.jcarousel.min.js" %>
  <%= javascript_include_tag 'jcarousellite_1.0.1c4.js' %>
  <script type="text/javascript">
      $(function () {
          $(".newsticker-jcarousellite").jCarouselLite({
              vertical:true,
              hoverPause:true,
              visible:3,
              auto:1500,
              speed:3000
          });
      });
  </script>
  <script>jQuery(function ($) {
      'use strict';
      if ($.fn.slider) {
          $(".fs-slidecontainershutterstock_6228764804").each(function () {
              var slideContainer = $(this), tmp;
              var inner = $(".fs-slider-inner", slideContainer);
              var helper = null;


              inner.children().eq(0).addClass("active");
              slideContainer.slider({
                  pause:3600,
                  speed:800,
                  repeat:true,
                  animation:"fade",
                  direction:"next",
                  navigator:slideContainer.siblings(".fs-slidenavigatorshutterstock_6228764804"),
                  helper:helper
              });
          });
      }
  });
  </script>
</head>
<body>
<%= render :partial => 'flash' %>
<div id="fs-main">

  <div id="contenitore-top">
    <div id="fs-top-menu">
      <%# page_header_title %>
      <div id="account">
        <%= render_menu :top_menu_fs %>
      </div>
    </div>
  </div>

  <div class="fs-sheet clearfix">
    <nav class="fs-nav clearfix">
      <%= render_navigation(:level => 1) %>
    </nav>
    <header class="fs-header">
      <div class="fs-shapes">
        <h1 class="fs-headline">
          <a href="#">Professionisti in Materie Fiscali Sportive</a>
        </h1>
      </div>
    </header>
    <div class="fs-layout-wrapper clearfix">
      <div class="fs-content-layout">
        <div class="fs-content-layout-row">
          <%= yield %>
        </div>
      </div>
    </div>
    <%#sidebar a destra %>
    <%# render :partial => 'footer' %>
  </div>

</div>
<!--<%#fs-main%>
<div id="ajax-indicator" style="display:none;"><span><%= l(:label_loading) %></span></div>

<div id="header">
  <div id="main-menu" class="fs_box_opacity">
    <%# render_menu :application_menu_fs %>
    <br/>
    <%# render_menu :footer_menu_fs %>
  </div>
</div>
 -->
</body>
</html>
