<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
  <title><%= Setting.app_title %> - Notifiche</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<style>
body, html{height: 100%;width: 100%;text-align: center;padding: 0;margin: 20px 0 0 20px;}
table {margin: 0 auto;}
table.nl-grey {background-color:transparent;}
table.nl-grey td h1,table td h2{margin:0;}
table.nl-grey tr{height:36px;background-color:#E5E5E5;}
table.nl-grey td{height:36px;}
h4{font-size: 17px; font-weight: 600; line-height: 20px;}
h4, p{margin: 0; text-align: left;}
.tex{font-size: 13px;text-align: left;font-family: "Segoe UI",Arial, Helvetica, sans-serif;}
.tex1{font-size: 9px;font-family: "Segoe UI",Arial, Helvetica, sans-serif;}
a{color: #006184;text-decoration: none;}
a:hover{color: #B92A24;text-decoration: underline;}
a:visited{color: #B92A24;text-decoration: none;}
.sep{margin-bottom: 25px;}
</style>
</head>
<body>
<% defurl = "http://" + Setting.host_name %>
  <table style="width:640px; border:solid 1px #DADADA; padding:10px;" class="tex">
    <tr>
      <td>
        <table style="width:620px; border:0; margin:0; padding:0;">
          <tr>
            <td style="width:620px; vertical-align:top; padding: 10px 0px; position: relative;"  colspan="3">
              <a target="_blank" href="editorial_url">
                <img alt="" src="<%= defurl %>/images/commons/object_testa.png" width="620" />
              </a>
            </td>
          </tr>
          <tr>
            <td style="width:620px; height:35px; padding-left:10px; color:#006184; background-color: #FFFFFF;" colspan="3">
              <%= @title %>
            </td>
          </tr>
          <tr>
            <td style="width:620px; padding: 2px 0px 0px 0px; text-align: left;" colspan="3">
                <%= yield %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table style="width:640px; padding:10px;" class="tex1" >
    <tr>
      <td style="padding-top: 40px;">
          <%= Setting.emails_footer %>
      </td>
    </tr>
  </table>
</body>
</html>
