<html>
<head>
<style>
body, .strat { font-family: "Segoe UI", Arial, Helvetica, sans-serif; font-size: 14px; color: #000; background-color: #EBA800; padding-bottom: 30px; }
.font {font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
p {margin-top: 5px;margin-bottom: 10px;}
a, a:link { color: #1AC2FF; text-decoration: none; }
a:visited { color: #1AC2FF; text-decoration: none; }
a:hover { color: #8C8C8C; text-decoration: underline; }
img { border: none; margin: 0; }
h3 { font-family: "Segoe UI", arial,  helvetica, sans-serif;font-size: 25px;color: #016284; margin-bottom: 15px; margin-top: 15px; }
.fiscosport {width:100%; text-align:center; margin: 10px; padding: 10px; font-family: 'Segoe UI', arial,  helvetica, sans-serif;font-size: 12px;color: #666666; }
.footer {width:100%; font-family: Verdana, Arial, Helvetica, sans-serif; color:#666666; font-size:10px; }
</style>
</head>
<body>
<% defurl = "http://" + Setting.host_name %>
<div class="strat">
<table bgcolor="#EBA800" align="center" width="600" cellpadding="2" cellspacing="2">
<tr><td ><font face="Segoe UI, Arial, Helvetica, sans-serif" size="1" color="#016284"><a target="_blank" href="<%= editorial_url %>" >Vai al sito <%= Setting.app_title %></a></font></td>
</tr></table>
<table bgcolor="#FFFFFF" align="center" width="600" style="border: #666666 1px solid;" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#efefef" style="border-bottom: #666666 1px solid;" ><br>
      <TABLE border="0" align="center">
        <TR>
          <TD style="color:	#016284"><img src="'<%= auto_link(@fee_img) %>'" alt="" border="0"><h2><%= Setting.welcome_text_fs %></h2>
          </TD>
        </TR>
      </TABLE>
      <br>
    </td>
  </tr>
  <tr>
    <td><TABLE width="510" border="0" cellpadding="0" cellspacing="0" align="center">
        <TR>
          <TD><%= Setting.emails_header %></TD>
        </TR>
        <TR>
          <TD>
            <h3><%= @title %></h3>
            <p style='font-family: "Segoe UI", arial,  helvetica, sans-serif;font-size: 14px;color: #666666;'>
              <%= yield %>
            </p>
            <div class="fiscosport">
              <a target="_blank" href="<%= editorial_url %>">
                <img src="<%= defurl %>/images/commons/m_fs-no-image.png" title="Vai a <%= Setting.app_title %>" >
              </a>
            </div>
            <div class="footer">
              <%= Setting.emails_footer %>
            </div>
           </TD>
        </TR>
      </TABLE>
</table>
</div>
</body>
</html>
